prestashop_model.json
[
    {
        "id": "9360c6f2270c3e4e",
        "type": "tab",
        "label": "General Rules",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4ede39b5eb0ff042",
        "type": "tab",
        "label": "Buyer Actions",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "77c5dde6f1fa65d6",
        "type": "tab",
        "label": "User Stories",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f97654df38260c7e",
        "type": "tab",
        "label": "Store Manager Actions",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "df6b8126913b8e4a",
        "type": "tab",
        "label": "With admin users",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "53a4d32a120d2c58",
        "type": "tab",
        "label": "Hot Cold (Context)",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "713b05ace1368c93",
        "type": "group",
        "z": "df6b8126913b8e4a",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "9c4a23a45ac792f0",
            "7d6169c13fb6627c",
            "7299ea75674a38bb",
            "3f3cbeabccc9d086",
            "0b9bd43680848c34"
        ],
        "x": 254,
        "y": 244,
        "w": 742,
        "h": 189
    },
    {
        "id": "6bbb30209b93384c",
        "type": "group",
        "z": "f97654df38260c7e",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "622ce4858e0dca13",
            "48e063e9ff448605",
            "f0df5243692b833d"
        ],
        "x": 634,
        "y": 139,
        "w": 212,
        "h": 182
    },
    {
        "id": "8ece4d38d2cc8bad",
        "type": "group",
        "z": "9360c6f2270c3e4e",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "e1ec884910b5e7c9",
            "f6ef1fc2e04e308c"
        ],
        "x": 614,
        "y": 219,
        "w": 232,
        "h": 194
    },
    {
        "id": "43e8d00a76255804",
        "type": "group",
        "z": "4ede39b5eb0ff042",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b05d995a80c4a211",
            "67cbd1c51a7406e9",
            "50234e3d2a60d3a8",
            "f56a3f26c02fab86",
            "ee3933702da292c5",
            "e36e095ba7521daf",
            "958c0ac6ebe7e68b",
            "b89abc33ddcde310"
        ],
        "x": 1058,
        "y": 447,
        "w": 588,
        "h": 394
    },
    {
        "id": "c6c7d5eb060dc596",
        "type": "group",
        "z": "53a4d32a120d2c58",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "64a44e724789eba8",
            "428dccc1b3707fcc"
        ],
        "x": 354,
        "y": 279,
        "w": 192,
        "h": 142
    },
    {
        "id": "fa05d669695e8abe",
        "type": "group",
        "z": "53a4d32a120d2c58",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d51ac8d4f822e03e",
            "cb726091fa081cfe"
        ],
        "x": 614,
        "y": 279,
        "w": 192,
        "h": 142
    },
    {
        "id": "a1f51a5678cfc8ef",
        "type": "group",
        "z": "4ede39b5eb0ff042",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "3d80682946a4c06b",
            "c394064073e9a08a",
            "bef7f919c2d47359"
        ],
        "x": 874,
        "y": 179,
        "w": 212,
        "h": 182
    },
    {
        "id": "e31057d9b0aa1d71",
        "type": "group",
        "z": "77c5dde6f1fa65d6",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "7a9713e0d9e838c2",
            "875d7f9307ccf35c",
            "52a0021a7b74451f"
        ],
        "x": 734,
        "y": 327,
        "w": 312,
        "h": 254
    },
    {
        "id": "6a10523bd2418953",
        "type": "start",
        "z": "9360c6f2270c3e4e",
        "name": "",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "2535baf4dcada7b7"
            ]
        ]
    },
    {
        "id": "2535baf4dcada7b7",
        "type": "EventSet",
        "z": "9360c6f2270c3e4e",
        "name": "any action",
        "eventType": "waitFor",
        "internalFields": "[\"filter\"]",
        "filterType": "jsonata",
        "filter": "lib='prestashop'",
        "filterRType": "jsonata",
        "filterR": "tmp",
        "x": 330,
        "y": 260,
        "wires": [
            [
                "e326d9c09a7f7e79"
            ]
        ]
    },
    {
        "id": "e326d9c09a7f7e79",
        "type": "change",
        "z": "9360c6f2270c3e4e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "page",
                "pt": "msg",
                "to": "lastEvent.page",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 495,
        "y": 260,
        "wires": [
            [
                "2535baf4dcada7b7",
                "f6ef1fc2e04e308c"
            ]
        ],
        "l": false
    },
    {
        "id": "e1ec884910b5e7c9",
        "type": "EventSet",
        "z": "9360c6f2270c3e4e",
        "g": "8ece4d38d2cc8bad",
        "name": "another action \\n in the same page",
        "eventType": "block",
        "internalFields": "[\"filter\"]",
        "filterType": "jsonata",
        "filter": "lib='prestashop' and msg.page=page",
        "filterRType": "jsonata",
        "filterR": "tmp",
        "x": 730,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "d396e21ca4d790c6",
        "type": "context-init",
        "z": "9360c6f2270c3e4e",
        "name": "",
        "format": "javascript",
        "template": "/* global bp, java */\n\nfunction runCommand(cmd) { \n  try { \n    var process = java.lang.Runtime.getRuntime().exec(cmd); \n    process.waitFor(); \n    var reader = new java.io.BufferedReader(new java.io.InputStreamReader(process.getInputStream())); \n    var line = ''; \n    while ((line = reader.readLine()) != null) { \n      bp.log.info(line); \n    } \n  } catch (e) { \n    bp.log.info('Error: ' + e.message); \n  } \n}\n\nrunCommand(\"C:\\\\Users\\\\gera\\\\PrestaShopTesting\\\\Context\\\\config\\\\init.bat\")\n\n\n// Add entities\n// ctx.populateContext([\n//   ctx.Entity('purchase', 'system', { total: 0 }),\n// ]);\n\n\nvar c = 0;\n\n// Specify the effect of certain events on the context\nctx.registerEffect('AddToCart', function (data) {\n  bp.log.info(data);\n  ctx.insertEntity(    \n    ctx.Entity(\"purchase_\" + (c++), \"purchase\", { price: data.price }) )\n})",
        "x": 160,
        "y": 160,
        "wires": [],
        "icon": "node-red/arrow-in.svg",
        "info": "Initialization code"
    },
    {
        "id": "f6ef1fc2e04e308c",
        "type": "EventSet",
        "z": "9360c6f2270c3e4e",
        "g": "8ece4d38d2cc8bad",
        "name": "End of Action",
        "eventType": "waitFor",
        "internalFields": "[\"filter\"]",
        "filterType": "jsonata",
        "filter": "event = \"Marker\" and data.type = \"EndOfAction\" and $.msg.page = data.page \t",
        "filterRType": "jsonata",
        "filterR": "tmp",
        "x": 710,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "271414befa58bf90",
        "type": "change",
        "z": "4ede39b5eb0ff042",
        "name": "Take data from the event",
        "rules": [
            {
                "t": "set",
                "p": "page",
                "pt": "msg",
                "to": "lastEvent.page",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "category",
                "pt": "msg",
                "to": "lastEvent.category",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "product",
                "pt": "msg",
                "to": "lastEvent.product",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "quantity",
                "pt": "msg",
                "to": "lastEvent.quantity",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "options",
                "pt": "msg",
                "to": "lastEvent.opt",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "like",
                "pt": "msg",
                "to": "lastEvent.like",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "price",
                "pt": "msg",
                "to": "lastEvent.price",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 455,
        "y": 620,
        "wires": [
            [
                "38266bd091ba4a07",
                "533f3282e40a179f"
            ]
        ],
        "l": false
    },
    {
        "id": "34a81a37074082a8",
        "type": "start",
        "z": "4ede39b5eb0ff042",
        "name": "",
        "payload": "{}",
        "x": 170,
        "y": 620,
        "wires": [
            [
                "38266bd091ba4a07"
            ]
        ]
    },
    {
        "id": "38266bd091ba4a07",
        "type": "AddToCart",
        "z": "4ede39b5eb0ff042",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"lib\",\"page\",\"category\",\"product\",\"quantity\"]",
        "libType": "str",
        "lib": "prestashop",
        "libRType": "str",
        "libR": "tmp",
        "pageType": "msg",
        "page": "",
        "pageRType": "msg",
        "pageR": "tmp",
        "categoryType": "str",
        "category": "",
        "categoryRType": "str",
        "categoryR": "tmp",
        "productType": "str",
        "product": "",
        "productRType": "str",
        "productR": "tmp",
        "quantityType": "num",
        "quantity": "",
        "quantityRType": "num",
        "quantityR": "0",
        "x": 350,
        "y": 620,
        "wires": [
            [
                "271414befa58bf90"
            ]
        ]
    },
    {
        "id": "e671430b10421a93",
        "type": "Click",
        "z": "4ede39b5eb0ff042",
        "name": "Click \\n Add To Cart",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "text=Add to cart",
        "x": 1890,
        "y": 620,
        "wires": [
            [
                "7ddcfd28667a8074"
            ]
        ]
    },
    {
        "id": "7ddcfd28667a8074",
        "type": "Click",
        "z": "4ede39b5eb0ff042",
        "name": "Click \\n Continue shopping",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "text=Continue shopping",
        "x": 2110,
        "y": 620,
        "wires": [
            [
                "1f06150a42dafd23"
            ]
        ]
    },
    {
        "id": "5d7284ec94a4b6bd",
        "type": "change",
        "z": "4ede39b5eb0ff042",
        "name": "Take data from the event",
        "rules": [
            {
                "t": "set",
                "p": "page",
                "pt": "msg",
                "to": "lastEvent.page",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "category",
                "pt": "msg",
                "to": "lastEvent.category",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "product",
                "pt": "msg",
                "to": "lastEvent.product",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "quantity",
                "pt": "msg",
                "to": "lastEvent.quantity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 495,
        "y": 960,
        "wires": [
            [
                "d98e9fa7480660ab",
                "64af955debb4ce54"
            ]
        ],
        "l": false
    },
    {
        "id": "803e5e846858172e",
        "type": "start",
        "z": "4ede39b5eb0ff042",
        "name": "",
        "payload": "{}",
        "x": 170,
        "y": 960,
        "wires": [
            [
                "64af955debb4ce54"
            ]
        ]
    },
    {
        "id": "d98e9fa7480660ab",
        "type": "Click",
        "z": "4ede39b5eb0ff042",
        "name": "Click \\n the category",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "jsonata",
        "locatorR": "$join([\"text=\", category])",
        "x": 770,
        "y": 960,
        "wires": [
            [
                "a4ec9b6989354139"
            ]
        ]
    },
    {
        "id": "64af955debb4ce54",
        "type": "VarifyNotInStock",
        "z": "4ede39b5eb0ff042",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"lib\",\"page\",\"category\",\"product\"]",
        "libType": "str",
        "lib": "prestashop",
        "libRType": "str",
        "libR": "tmp",
        "pageType": "msg",
        "page": "",
        "pageRType": "msg",
        "pageR": "tmp",
        "categoryType": "str",
        "category": "",
        "categoryRType": "str",
        "categoryR": "tmp",
        "productType": "str",
        "product": "",
        "productRType": "str",
        "productR": "tmp",
        "x": 370,
        "y": 960,
        "wires": [
            [
                "5d7284ec94a4b6bd"
            ]
        ]
    },
    {
        "id": "1d74b8c93ca57b87",
        "type": "AssertIsDisabled",
        "z": "4ede39b5eb0ff042",
        "name": "Check that \\n Add to cart is diabled",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "str",
        "lib": "playwright",
        "libRType": "str",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "text=Add to cart",
        "x": 1160,
        "y": 960,
        "wires": [
            [
                "3f5a3b82e382748b"
            ]
        ]
    },
    {
        "id": "a4ec9b6989354139",
        "type": "Click",
        "z": "4ede39b5eb0ff042",
        "name": "Click \\n the product",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "jsonata",
        "locatorR": "\"xpath=//a[contains(.,'\" & product & \"')]\"",
        "x": 950,
        "y": 960,
        "wires": [
            [
                "1d74b8c93ca57b87"
            ]
        ]
    },
    {
        "id": "499d540c2227d8ed",
        "type": "Click",
        "z": "4ede39b5eb0ff042",
        "name": "Click \\n the product",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "jsonata",
        "locatorR": "\"xpath=//a[contains(.,'\" & product & \"')]\"",
        "x": 930,
        "y": 620,
        "wires": [
            [
                "f56a3f26c02fab86",
                "67cbd1c51a7406e9",
                "ee3933702da292c5"
            ]
        ]
    },
    {
        "id": "533f3282e40a179f",
        "type": "Click",
        "z": "4ede39b5eb0ff042",
        "name": "Click \\n the category",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "jsonata",
        "locatorR": "$join([\"text=\", category])",
        "x": 770,
        "y": 620,
        "wires": [
            [
                "499d540c2227d8ed"
            ]
        ]
    },
    {
        "id": "b05d995a80c4a211",
        "type": "SelectOption",
        "z": "4ede39b5eb0ff042",
        "g": "43e8d00a76255804",
        "name": "Set \\n Option",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\",\"value\"]",
        "libType": "str",
        "lib": "playwright",
        "libRType": "str",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "jsonata",
        "locatorR": "\"//span[contains(text(),'\"& opt.name &\"')]/following-sibling::select\"",
        "valueType": "str",
        "value": "",
        "valueRType": "jsonata",
        "valueR": "opt[0].value",
        "x": 1394,
        "y": 500,
        "wires": [
            [
                "67cbd1c51a7406e9"
            ]
        ]
    },
    {
        "id": "67cbd1c51a7406e9",
        "type": "loop",
        "z": "4ede39b5eb0ff042",
        "g": "43e8d00a76255804",
        "name": "",
        "list": "msg.option",
        "listType": "jsonata",
        "from": "0",
        "fromType": "str",
        "skip": "1",
        "skipType": "str",
        "to": "$count(options)",
        "toType": "jsonata",
        "x": 1154,
        "y": 500,
        "wires": [
            [
                "50234e3d2a60d3a8"
            ],
            []
        ]
    },
    {
        "id": "50234e3d2a60d3a8",
        "type": "change",
        "z": "4ede39b5eb0ff042",
        "g": "43e8d00a76255804",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "opt",
                "pt": "msg",
                "to": "$eval(\"options[\"& count & \"]\")[0]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1259,
        "y": 500,
        "wires": [
            [
                "b05d995a80c4a211"
            ]
        ],
        "l": false
    },
    {
        "id": "f56a3f26c02fab86",
        "type": "Fill",
        "z": "4ede39b5eb0ff042",
        "g": "43e8d00a76255804",
        "name": "Fill \\n Quantity",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\",\"text\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#quantity_wanted",
        "textType": "str",
        "text": "",
        "textRType": "msg",
        "textR": "quantity",
        "x": 1144,
        "y": 620,
        "wires": [
            [
                "36550ac086fe3974"
            ]
        ]
    },
    {
        "id": "ee3933702da292c5",
        "type": "if-then-else",
        "z": "4ede39b5eb0ff042",
        "g": "43e8d00a76255804",
        "condition": "msg.like == 'Yes'",
        "x": 1190,
        "y": 720,
        "wires": [
            [
                "e36e095ba7521daf"
            ],
            []
        ]
    },
    {
        "id": "e36e095ba7521daf",
        "type": "Click",
        "z": "4ede39b5eb0ff042",
        "g": "43e8d00a76255804",
        "name": "Click the \\n Like heart",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "//button[@class='wishlist-button-add wishlist-button-product']//i[1]",
        "x": 1380,
        "y": 700,
        "wires": [
            [
                "958c0ac6ebe7e68b"
            ]
        ]
    },
    {
        "id": "958c0ac6ebe7e68b",
        "type": "Click",
        "z": "4ede39b5eb0ff042",
        "g": "43e8d00a76255804",
        "name": "Click the \\n \"My Wishlist\"",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "//li[@class='wishlist-list-item']//p[1]",
        "x": 1550,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "fc613cb1eef8f705",
        "type": "start",
        "z": "4ede39b5eb0ff042",
        "name": "",
        "payload": "{}",
        "x": 190,
        "y": 1100,
        "wires": [
            [
                "1823f83b4ac3d7df"
            ]
        ]
    },
    {
        "id": "35384adb85653353",
        "type": "change",
        "z": "4ede39b5eb0ff042",
        "name": "Take data from the event",
        "rules": [
            {
                "t": "set",
                "p": "page",
                "pt": "msg",
                "to": "lastEvent.page",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "category",
                "pt": "msg",
                "to": "lastEvent.category",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "product",
                "pt": "msg",
                "to": "lastEvent.product",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "quantity",
                "pt": "msg",
                "to": "lastEvent.quantity",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "expectedPrice",
                "pt": "msg",
                "to": "lastEvent.expectedPrice",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 455,
        "y": 1100,
        "wires": [
            [
                "8e74543aa7b75004",
                "1823f83b4ac3d7df"
            ]
        ],
        "l": false
    },
    {
        "id": "8e74543aa7b75004",
        "type": "Click",
        "z": "4ede39b5eb0ff042",
        "name": "Click \\n the Cart Icon",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#_desktop_cart span.hidden-sm-down",
        "x": 770,
        "y": 1100,
        "wires": [
            [
                "22524da885c16ea4"
            ]
        ]
    },
    {
        "id": "d04e225d4cf4392c",
        "type": "Click",
        "z": "4ede39b5eb0ff042",
        "name": "Click \\n Proceed to Checkout",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "div.cart-grid-right a",
        "x": 1180,
        "y": 1100,
        "wires": [
            [
                "f6f71d183a0374a1"
            ]
        ]
    },
    {
        "id": "f6f71d183a0374a1",
        "type": "Click",
        "z": "4ede39b5eb0ff042",
        "name": "Click \\n Continue",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "div.clearfix > button",
        "x": 1380,
        "y": 1100,
        "wires": [
            [
                "ce21a816de9cbc59"
            ]
        ]
    },
    {
        "id": "ce21a816de9cbc59",
        "type": "Click",
        "z": "4ede39b5eb0ff042",
        "name": "Click \\n Delivery Step button",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#checkout-delivery-step button",
        "x": 1580,
        "y": 1100,
        "wires": [
            [
                "6020c2df4028a255"
            ]
        ]
    },
    {
        "id": "6020c2df4028a255",
        "type": "Click",
        "z": "4ede39b5eb0ff042",
        "name": "Click \\n Agree to terms",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#conditions_to_approve\\[terms-and-conditions\\]",
        "x": 1800,
        "y": 1100,
        "wires": [
            [
                "53dbb255f45c99b8"
            ]
        ]
    },
    {
        "id": "53dbb255f45c99b8",
        "type": "Click",
        "z": "4ede39b5eb0ff042",
        "name": "Click \\n Place Order",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#payment-confirmation button",
        "x": 1990,
        "y": 1100,
        "wires": [
            [
                "0a678d07f4eb6dda"
            ]
        ]
    },
    {
        "id": "5d0bff014cf778e5",
        "type": "start",
        "z": "4ede39b5eb0ff042",
        "name": "",
        "payload": "{}",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "2debe145c1a4d0da"
            ]
        ]
    },
    {
        "id": "c6322e5426776fd4",
        "type": "change",
        "z": "4ede39b5eb0ff042",
        "name": "Take data from the event",
        "rules": [
            {
                "t": "set",
                "p": "page",
                "pt": "msg",
                "to": "lastEvent.page",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "username",
                "pt": "msg",
                "to": "lastEvent.username",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "password",
                "pt": "msg",
                "to": "lastEvent.password",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 435,
        "y": 240,
        "wires": [
            [
                "e89bf639096a9805",
                "5aefb030b5cb9f4a"
            ]
        ],
        "l": false
    },
    {
        "id": "d5b83e1362c7bc43",
        "type": "change",
        "z": "4ede39b5eb0ff042",
        "name": "Take data\\nfrom the event",
        "rules": [
            {
                "t": "set",
                "p": "page",
                "pt": "msg",
                "to": "lastEvent.page",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 435,
        "y": 100,
        "wires": [
            [
                "2debe145c1a4d0da",
                "1e7d06f674ec7c7f"
            ]
        ],
        "l": false
    },
    {
        "id": "fafb51955c0b4968",
        "type": "start",
        "z": "4ede39b5eb0ff042",
        "name": "",
        "payload": "{}",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "5aefb030b5cb9f4a"
            ]
        ]
    },
    {
        "id": "5aefb030b5cb9f4a",
        "type": "Login",
        "z": "4ede39b5eb0ff042",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"lib\",\"page\",\"username\",\"password\"]",
        "libType": "str",
        "lib": "prestashop",
        "libRType": "str",
        "libR": "tmp",
        "pageType": "msg",
        "page": "",
        "pageRType": "msg",
        "pageR": "tmp",
        "usernameType": "str",
        "username": "",
        "usernameRType": "str",
        "usernameR": "tmp",
        "passwordType": "str",
        "password": "",
        "passwordRType": "str",
        "passwordR": "tmp",
        "x": 350,
        "y": 240,
        "wires": [
            [
                "c6322e5426776fd4"
            ]
        ]
    },
    {
        "id": "2debe145c1a4d0da",
        "type": "Logout",
        "z": "4ede39b5eb0ff042",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"lib\",\"page\"]",
        "libType": "str",
        "lib": "prestashop",
        "libRType": "str",
        "libR": "tmp",
        "pageType": "msg",
        "page": "",
        "pageRType": "msg",
        "pageR": "tmp",
        "x": 350,
        "y": 100,
        "wires": [
            [
                "d5b83e1362c7bc43"
            ]
        ]
    },
    {
        "id": "e89bf639096a9805",
        "type": "Click",
        "z": "4ede39b5eb0ff042",
        "name": "Click Login",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#_desktop_user_info span",
        "x": 770,
        "y": 240,
        "wires": [
            [
                "c394064073e9a08a",
                "3d80682946a4c06b"
            ]
        ]
    },
    {
        "id": "1e7d06f674ec7c7f",
        "type": "Click",
        "z": "4ede39b5eb0ff042",
        "name": "Click Logout",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "a.logout",
        "x": 770,
        "y": 100,
        "wires": [
            [
                "f3cf80e0525fcd24"
            ]
        ]
    },
    {
        "id": "ecd86f956b38f234",
        "type": "KeyboardDown",
        "z": "4ede39b5eb0ff042",
        "name": "Press Enter",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"key\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "keyType": "str",
        "key": "",
        "keyRType": "str",
        "keyR": "Enter",
        "x": 1290,
        "y": 240,
        "wires": [
            [
                "fb3809ebd760ed3c"
            ]
        ]
    },
    {
        "id": "f3cf80e0525fcd24",
        "type": "Marker",
        "z": "4ede39b5eb0ff042",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"data\"]",
        "dataType": "msg",
        "data": "page",
        "dataRType": "jsonata",
        "dataR": "{\t   \"type\": \"EndOfAction\",\t   \"action\": \"Logout\",\t   \"page\": msg.page\t}",
        "x": 895,
        "y": 100,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "fb3809ebd760ed3c",
        "type": "Marker",
        "z": "4ede39b5eb0ff042",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"data\"]",
        "dataType": "msg",
        "data": "page",
        "dataRType": "jsonata",
        "dataR": "{\t   \"type\": \"EndOfAction\",\t   \"action\": \"Login\",\t   \"page\": page,\t   \"data\": {\t       \"username\": username,\t       \"password\": password\t       }\t}",
        "x": 1405,
        "y": 240,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "cb3d85e0b8015524",
        "type": "Marker",
        "z": "4ede39b5eb0ff042",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"data\"]",
        "dataType": "jsonata",
        "data": "{     'type' : \"EndOfStep\",     'step' : 'FillLoginDetails',     'page' : msg.page }",
        "dataRType": "jsonata",
        "dataR": "{     'type' : \"EndOfStep\",     'step' : 'FillLoginDetails',     'page' : msg.page }",
        "x": 1145,
        "y": 240,
        "wires": [
            [
                "ecd86f956b38f234"
            ]
        ],
        "icon": "font-awesome/fa-pause",
        "l": false
    },
    {
        "id": "3d80682946a4c06b",
        "type": "Type",
        "z": "4ede39b5eb0ff042",
        "g": "a1f51a5678cfc8ef",
        "name": "Type password",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\",\"text\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#field-password",
        "textType": "str",
        "text": "",
        "textRType": "msg",
        "textR": "password",
        "x": 980,
        "y": 260,
        "wires": [
            [
                "cb3d85e0b8015524"
            ]
        ]
    },
    {
        "id": "c394064073e9a08a",
        "type": "Type",
        "z": "4ede39b5eb0ff042",
        "g": "a1f51a5678cfc8ef",
        "name": "Type username",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\",\"text\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#field-email",
        "textType": "str",
        "text": "",
        "textRType": "msg",
        "textR": "username",
        "x": 980,
        "y": 220,
        "wires": [
            [
                "cb3d85e0b8015524"
            ]
        ]
    },
    {
        "id": "bef7f919c2d47359",
        "type": "Marker",
        "z": "4ede39b5eb0ff042",
        "g": "a1f51a5678cfc8ef",
        "name": "",
        "eventType": "block",
        "internalFields": "[\"data\"]",
        "dataType": "jsonata",
        "data": "{\t    'type' : \"EndOfStep\",\t    'step' : 'FillLoginDetails',\t    'page' : msg.page\t}",
        "dataRType": "jsonata",
        "dataR": "tmp",
        "x": 915,
        "y": 320,
        "wires": [
            []
        ],
        "icon": "font-awesome/fa-pause",
        "l": false
    },
    {
        "id": "b89abc33ddcde310",
        "type": "Marker",
        "z": "4ede39b5eb0ff042",
        "g": "43e8d00a76255804",
        "name": "",
        "eventType": "block",
        "internalFields": "[\"data\"]",
        "dataType": "jsonata",
        "data": "{\t    'type' : \"EndOfStep\",\t    'step' : 'FillAddToCartDetails',\t    'page' : msg.page\t}",
        "dataRType": "jsonata",
        "dataR": "tmp",
        "x": 1105,
        "y": 800,
        "wires": [
            []
        ],
        "icon": "font-awesome/fa-pause",
        "l": false
    },
    {
        "id": "36550ac086fe3974",
        "type": "Marker",
        "z": "4ede39b5eb0ff042",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"data\"]",
        "dataType": "jsonata",
        "data": "{\t    'type' : \"EndOfStep\",\t    'step' : 'FillASdToCartDetails',\t    'page' : msg.page\t}",
        "dataRType": "jsonata",
        "dataR": "{\t    'type' : \"EndOfStep\",\t    'step' : 'FillAddToCartDetails',\t    'page' : msg.page\t}",
        "x": 1705,
        "y": 620,
        "wires": [
            [
                "e671430b10421a93"
            ]
        ],
        "icon": "font-awesome/fa-pause",
        "l": false
    },
    {
        "id": "1f06150a42dafd23",
        "type": "Marker",
        "z": "4ede39b5eb0ff042",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"data\"]",
        "dataType": "msg",
        "data": "page",
        "dataRType": "jsonata",
        "dataR": "{\t   \"type\": \"EndOfAction\",\t   \"action\": \"AddToCart\",\t   \"page\": page,\t   \"data\": {\t       \"category\": category,\t       \"product\": product,\t       \"quantity\": quantity,\t       \"like\": like,\t       \"price\": price\t\t       }\t}",
        "x": 2255,
        "y": 620,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "3f5a3b82e382748b",
        "type": "Marker",
        "z": "4ede39b5eb0ff042",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"data\"]",
        "dataType": "msg",
        "data": "page",
        "dataRType": "jsonata",
        "dataR": "{\t   \"type\": \"EndOfAction\",\t   \"action\": \"VerifyNotInStock\",\t   \"page\": msg.page\t}",
        "x": 1315,
        "y": 960,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "0a678d07f4eb6dda",
        "type": "Marker",
        "z": "4ede39b5eb0ff042",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"data\"]",
        "dataType": "msg",
        "data": "page",
        "dataRType": "jsonata",
        "dataR": "{\t   \"type\": \"EndOfAction\",\t   \"action\": \"Checkout\",\t   \"page\": msg.page,\t   \"expectedPrice\": msg.expectedPrice\t}",
        "x": 2115,
        "y": 1100,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "1823f83b4ac3d7df",
        "type": "Checkout",
        "z": "4ede39b5eb0ff042",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"lib\",\"page\",\"ecpectedPrice\"]",
        "libType": "str",
        "lib": "prestashop",
        "libRType": "str",
        "libR": "tmp",
        "pageType": "msg",
        "page": "",
        "pageRType": "msg",
        "pageR": "tmp",
        "ecpectedPriceType": "num",
        "ecpectedPrice": "",
        "ecpectedPriceRType": "num",
        "ecpectedPriceR": "0",
        "x": 360,
        "y": 1100,
        "wires": [
            [
                "35384adb85653353"
            ]
        ]
    },
    {
        "id": "22524da885c16ea4",
        "type": "AssertText",
        "z": "4ede39b5eb0ff042",
        "name": "Check \\n Total Sum",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\",\"text\"]",
        "libType": "str",
        "lib": "playwright",
        "libRType": "str",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "//span[text()='Total (tax incl.)']/following-sibling::span",
        "textType": "str",
        "text": "",
        "textRType": "jsonata",
        "textR": "\"€\" & $round($sum(ctx[type=\"purchase\"].price),2)",
        "x": 940,
        "y": 1100,
        "wires": [
            [
                "d04e225d4cf4392c"
            ]
        ]
    },
    {
        "id": "8138e5912f4056d8",
        "type": "Login",
        "z": "77c5dde6f1fa65d6",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"username\",\"password\"]",
        "libType": "str",
        "lib": "prestashop",
        "libRType": "str",
        "libR": "prestashop",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "usernameType": "str",
        "username": "",
        "usernameRType": "str",
        "usernameR": "alice.wang@prestahsop.com",
        "passwordType": "str",
        "password": "",
        "passwordRType": "str",
        "passwordR": "alice.wang@prestahsop.com",
        "x": 650,
        "y": 420,
        "wires": [
            [
                "875d7f9307ccf35c",
                "52a0021a7b74451f"
            ]
        ]
    },
    {
        "id": "ddb84f83b7f06b8f",
        "type": "browser",
        "z": "77c5dde6f1fa65d6",
        "name": "Open a \\n user page",
        "page": "User1Page",
        "url": "http://localhost:8080/",
        "x": 480,
        "y": 420,
        "wires": [
            [
                "8138e5912f4056d8"
            ]
        ]
    },
    {
        "id": "0df9e06d2c47533d",
        "type": "start",
        "z": "77c5dde6f1fa65d6",
        "name": "",
        "x": 330,
        "y": 420,
        "wires": [
            [
                "ddb84f83b7f06b8f"
            ]
        ]
    },
    {
        "id": "bf2e9441aab75cde",
        "type": "Checkout",
        "z": "77c5dde6f1fa65d6",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"ecpectedPrice\"]",
        "libType": "str",
        "lib": "prestashop",
        "libRType": "str",
        "libR": "prestashop",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "ecpectedPriceType": "num",
        "ecpectedPrice": "",
        "ecpectedPriceRType": "num",
        "ecpectedPriceR": "34",
        "x": 1240,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "7a9713e0d9e838c2",
        "type": "Marker",
        "z": "77c5dde6f1fa65d6",
        "g": "e31057d9b0aa1d71",
        "name": "",
        "eventType": "block",
        "internalFields": "[\"data\"]",
        "dataType": "jsonata",
        "data": "{\t    'type' : \"EndOfStep\",\t    'step' : 'BuyTwoProducts',\t    'page' : msg.page\t}",
        "dataRType": "jsonata",
        "dataR": "tmp",
        "x": 775,
        "y": 540,
        "wires": [
            []
        ],
        "icon": "font-awesome/fa-pause",
        "l": false
    },
    {
        "id": "875d7f9307ccf35c",
        "type": "AddToCart",
        "z": "77c5dde6f1fa65d6",
        "g": "e31057d9b0aa1d71",
        "name": "Add to cart \\n \"Hummingbird printed sweater\"",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"category\",\"product\",\"quantity\",\"opt\",\"like\",\"price\"]",
        "libType": "str",
        "lib": "prestashop",
        "libRType": "str",
        "libR": "prestashop",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "categoryType": "str",
        "category": "",
        "categoryRType": "str",
        "categoryR": "Clothes",
        "productType": "str",
        "product": "",
        "productRType": "str",
        "productR": "Hummingbird printed sweater",
        "quantityType": "num",
        "quantity": "",
        "quantityRType": "num",
        "quantityR": "2",
        "optType": "jsonata",
        "opt": "",
        "optRType": "jsonata",
        "optR": "[{\"name\": \"Size\", \"value\": \"L\"}, {\"name\": \"Size\", \"value\": \"M\"}]",
        "likeType": "str",
        "like": "",
        "likeRType": "str",
        "likeR": "Yes",
        "priceType": "num",
        "price": "",
        "priceRType": "num",
        "priceR": "57.44",
        "x": 890,
        "y": 380,
        "wires": [
            [
                "686117cbf722b990"
            ]
        ]
    },
    {
        "id": "52a0021a7b74451f",
        "type": "AddToCart",
        "z": "77c5dde6f1fa65d6",
        "g": "e31057d9b0aa1d71",
        "name": "Add to cart \\n \"Mug The best is yet to come",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"category\",\"product\",\"quantity\",\"opt\",\"like\",\"price\"]",
        "libType": "str",
        "lib": "prestashop",
        "libRType": "str",
        "libR": "prestashop",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "categoryType": "str",
        "category": "",
        "categoryRType": "str",
        "categoryR": "Accessories",
        "productType": "str",
        "product": "",
        "productRType": "str",
        "productR": "Mug The best is yet to come",
        "quantityType": "num",
        "quantity": "",
        "quantityRType": "num",
        "quantityR": "1",
        "optType": "jsonata",
        "opt": "",
        "optRType": "jsonata",
        "optR": "[]",
        "likeType": "str",
        "like": "",
        "likeRType": "str",
        "likeR": "Yes",
        "priceType": "num",
        "price": "",
        "priceRType": "num",
        "priceR": "11.90",
        "x": 880,
        "y": 460,
        "wires": [
            [
                "686117cbf722b990"
            ]
        ]
    },
    {
        "id": "686117cbf722b990",
        "type": "Marker",
        "z": "77c5dde6f1fa65d6",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"data\"]",
        "dataType": "jsonata",
        "data": "{\t    'type' : \"EndOfStep\",\t    'step' : 'BuyTwoProducts',\t    'page' : msg.page\t}",
        "dataRType": "jsonata",
        "dataR": "{\t    'type' : \"EndOfStep\",\t    'step' : 'BuyTwoProducts',\t    'page' : msg.page\t}",
        "x": 1105,
        "y": 400,
        "wires": [
            [
                "bf2e9441aab75cde"
            ]
        ],
        "icon": "font-awesome/fa-pause",
        "l": false
    },
    {
        "id": "79bd6cd79dbe18d7",
        "type": "change",
        "z": "f97654df38260c7e",
        "name": "Take data from the event",
        "rules": [
            {
                "t": "set",
                "p": "page",
                "pt": "msg",
                "to": "lastEvent.page",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "username",
                "pt": "msg",
                "to": "lastEvent.username",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "password",
                "pt": "msg",
                "to": "lastEvent.password",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 395,
        "y": 200,
        "wires": [
            [
                "95d88e5afacacb55",
                "622ce4858e0dca13",
                "48e063e9ff448605"
            ]
        ],
        "l": false
    },
    {
        "id": "6b218a3c6f4b8735",
        "type": "start",
        "z": "f97654df38260c7e",
        "name": "",
        "payload": "{}",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "95d88e5afacacb55"
            ]
        ]
    },
    {
        "id": "7cf40969199b603f",
        "type": "change",
        "z": "f97654df38260c7e",
        "name": "Take data from the event",
        "rules": [
            {
                "t": "set",
                "p": "page",
                "pt": "msg",
                "to": "lastEvent.page",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "product",
                "pt": "msg",
                "to": "context.entity.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 395,
        "y": 380,
        "wires": [
            [
                "a5292f6113565523",
                "696b0f8705e2c5c1"
            ]
        ],
        "l": false
    },
    {
        "id": "d1965d98940c14ca",
        "type": "start",
        "z": "f97654df38260c7e",
        "name": "",
        "payload": "{}",
        "x": 110,
        "y": 380,
        "wires": [
            [
                "696b0f8705e2c5c1"
            ]
        ]
    },
    {
        "id": "c1c2411e019714f6",
        "type": "start",
        "z": "f97654df38260c7e",
        "name": "",
        "payload": "{}",
        "x": 110,
        "y": 460,
        "wires": [
            [
                "c9f1fbf8c7cf83fd"
            ]
        ]
    },
    {
        "id": "00b4b24022ba941f",
        "type": "change",
        "z": "f97654df38260c7e",
        "name": "Take data from the event",
        "rules": [
            {
                "t": "set",
                "p": "page",
                "pt": "msg",
                "to": "lastEvent.page",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "product",
                "pt": "msg",
                "to": "lastEvent.product",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 435,
        "y": 460,
        "wires": [
            [
                "7346be9d7e875530",
                "c9f1fbf8c7cf83fd"
            ]
        ],
        "l": false
    },
    {
        "id": "95d88e5afacacb55",
        "type": "AdminLogin",
        "z": "f97654df38260c7e",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"lib\",\"page\",\"username\",\"password\"]",
        "pageType": "msg",
        "page": "",
        "pageRType": "msg",
        "pageR": "tmp",
        "usernameType": "str",
        "username": "",
        "usernameRType": "str",
        "usernameR": "tmp",
        "passwordType": "str",
        "password": "",
        "passwordRType": "str",
        "passwordR": "tmp",
        "x": 290,
        "y": 200,
        "wires": [
            [
                "79bd6cd79dbe18d7"
            ]
        ]
    },
    {
        "id": "622ce4858e0dca13",
        "type": "Type",
        "z": "f97654df38260c7e",
        "g": "6bbb30209b93384c",
        "name": "Type username",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\",\"text\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#email",
        "textType": "str",
        "text": "",
        "textRType": "msg",
        "textR": "username",
        "x": 740,
        "y": 180,
        "wires": [
            [
                "46b5d23aeab578f1"
            ]
        ]
    },
    {
        "id": "e59030cf60b5ca2d",
        "type": "KeyboardDown",
        "z": "f97654df38260c7e",
        "name": "Press Enter",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"key\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "keyType": "str",
        "key": "",
        "keyRType": "str",
        "keyR": "Enter",
        "x": 1010,
        "y": 200,
        "wires": [
            [
                "dd212ca6f43695bc"
            ]
        ]
    },
    {
        "id": "828d2a8d055d1c3a",
        "type": "Click",
        "z": "f97654df38260c7e",
        "name": "Click \\n Save",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#product_footer_save",
        "x": 1890,
        "y": 380,
        "wires": [
            [
                "9930a22006d0ac2f"
            ]
        ]
    },
    {
        "id": "d3f3578c2e5f7e50",
        "type": "Click",
        "z": "f97654df38260c7e",
        "name": "Click \\n Available for order",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#product_options_visibility_available_for_order_1",
        "x": 1730,
        "y": 380,
        "wires": [
            [
                "828d2a8d055d1c3a"
            ]
        ]
    },
    {
        "id": "f8bfb7063ba61bea",
        "type": "Click",
        "z": "f97654df38260c7e",
        "name": "Click \\n Options tab",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#product_options-tab-nav > a",
        "x": 1550,
        "y": 380,
        "wires": [
            [
                "d3f3578c2e5f7e50"
            ]
        ]
    },
    {
        "id": "a1f3296460ef6b69",
        "type": "Click",
        "z": "f97654df38260c7e",
        "name": "Click \\n Product name column",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "td.column-name > a",
        "x": 1360,
        "y": 380,
        "wires": [
            [
                "f8bfb7063ba61bea"
            ]
        ]
    },
    {
        "id": "e233fbaf50093702",
        "type": "Click",
        "z": "f97654df38260c7e",
        "name": "Click \\n Filter Button",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#product_filter_form button",
        "x": 1170,
        "y": 380,
        "wires": [
            [
                "a1f3296460ef6b69"
            ]
        ]
    },
    {
        "id": "1ba5bb2679d42e22",
        "type": "Fill",
        "z": "f97654df38260c7e",
        "name": "Fill \\n Product Name",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\",\"text\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#product_name",
        "textType": "str",
        "text": "",
        "textRType": "str",
        "textR": "msg.product",
        "x": 1000,
        "y": 380,
        "wires": [
            [
                "e233fbaf50093702"
            ]
        ]
    },
    {
        "id": "376495424ac4afa7",
        "type": "Click",
        "z": "f97654df38260c7e",
        "name": "Click \\n Products",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#subtab-AdminProducts > a",
        "x": 840,
        "y": 380,
        "wires": [
            [
                "1ba5bb2679d42e22"
            ]
        ]
    },
    {
        "id": "a5292f6113565523",
        "type": "Click",
        "z": "f97654df38260c7e",
        "name": "Click \\n Catalog",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#subtab-AdminCatalog span",
        "x": 700,
        "y": 380,
        "wires": [
            [
                "376495424ac4afa7"
            ]
        ]
    },
    {
        "id": "47718e9aec48e181",
        "type": "Click",
        "z": "f97654df38260c7e",
        "name": "Click \\n Product name column",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "td.column-name > a",
        "x": 1360,
        "y": 460,
        "wires": [
            [
                "a5202dd70994552b"
            ]
        ]
    },
    {
        "id": "43514fb23bcb5d3e",
        "type": "Fill",
        "z": "f97654df38260c7e",
        "name": "Fill \\n Product Name",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\",\"text\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#product_name",
        "textType": "str",
        "text": "",
        "textRType": "msg",
        "textR": "product",
        "x": 1000,
        "y": 460,
        "wires": [
            [
                "847378e2389fc03e"
            ]
        ]
    },
    {
        "id": "7346be9d7e875530",
        "type": "Click",
        "z": "f97654df38260c7e",
        "name": "Click \\n Catalog",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#subtab-AdminCatalog span",
        "x": 700,
        "y": 460,
        "wires": [
            [
                "af86f65e9637f493"
            ]
        ]
    },
    {
        "id": "af86f65e9637f493",
        "type": "Click",
        "z": "f97654df38260c7e",
        "name": "Click \\n Products",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#subtab-AdminProducts > a",
        "x": 840,
        "y": 460,
        "wires": [
            [
                "43514fb23bcb5d3e"
            ]
        ]
    },
    {
        "id": "847378e2389fc03e",
        "type": "Click",
        "z": "f97654df38260c7e",
        "name": "Click \\n Filter Button",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#product_filter_form button",
        "x": 1170,
        "y": 460,
        "wires": [
            [
                "47718e9aec48e181"
            ]
        ]
    },
    {
        "id": "a5202dd70994552b",
        "type": "Click",
        "z": "f97654df38260c7e",
        "name": "Click \\n Options tab",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#product_options-tab-nav > a",
        "x": 1550,
        "y": 460,
        "wires": [
            [
                "7af3cc64179f2a75"
            ]
        ]
    },
    {
        "id": "7af3cc64179f2a75",
        "type": "Click",
        "z": "f97654df38260c7e",
        "name": "Click \\n Available for order",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#product_options_visibility_available_for_order_0",
        "x": 1730,
        "y": 460,
        "wires": [
            [
                "f2ce836c1f05d9f3"
            ]
        ]
    },
    {
        "id": "f2ce836c1f05d9f3",
        "type": "Click",
        "z": "f97654df38260c7e",
        "name": "Click \\n Save",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#product_footer_save",
        "x": 1890,
        "y": 460,
        "wires": [
            [
                "13d8fc6babb0b35f"
            ]
        ]
    },
    {
        "id": "c9f1fbf8c7cf83fd",
        "type": "MarkOutOfStock",
        "z": "f97654df38260c7e",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"lib\",\"page\",\"product\"]",
        "libType": "str",
        "lib": "prestashop",
        "libRType": "str",
        "libR": "tmp",
        "pageType": "msg",
        "page": "",
        "pageRType": "msg",
        "pageR": "tmp",
        "productType": "str",
        "product": "",
        "productRType": "str",
        "productR": "tmp",
        "x": 290,
        "y": 460,
        "wires": [
            [
                "00b4b24022ba941f"
            ]
        ]
    },
    {
        "id": "696b0f8705e2c5c1",
        "type": "MarkInStock",
        "z": "f97654df38260c7e",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"lib\",\"page\",\"product\"]",
        "libType": "str",
        "lib": "prestashop",
        "libRType": "str",
        "libR": "tmp",
        "pageType": "msg",
        "page": "",
        "pageRType": "msg",
        "pageR": "tmp",
        "productType": "str",
        "product": "",
        "productRType": "str",
        "productR": "tmp",
        "x": 280,
        "y": 380,
        "wires": [
            [
                "7cf40969199b603f"
            ]
        ]
    },
    {
        "id": "48e063e9ff448605",
        "type": "Type",
        "z": "f97654df38260c7e",
        "g": "6bbb30209b93384c",
        "name": "Type password",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\",\"text\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#passwd",
        "textType": "str",
        "text": "",
        "textRType": "msg",
        "textR": "password",
        "x": 740,
        "y": 220,
        "wires": [
            [
                "46b5d23aeab578f1"
            ]
        ]
    },
    {
        "id": "f0df5243692b833d",
        "type": "Marker",
        "z": "f97654df38260c7e",
        "g": "6bbb30209b93384c",
        "name": "",
        "eventType": "block",
        "internalFields": "[\"data\"]",
        "dataType": "jsonata",
        "data": "{\t    'type' : \"EndOfStep\",\t    'step' : 'FillAdminLoginDetails',\t    'page' : msg.page\t}",
        "dataRType": "jsonata",
        "dataR": "tmp",
        "x": 675,
        "y": 280,
        "wires": [
            []
        ],
        "icon": "font-awesome/fa-pause",
        "l": false
    },
    {
        "id": "46b5d23aeab578f1",
        "type": "Marker",
        "z": "f97654df38260c7e",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"data\"]",
        "dataType": "jsonata",
        "data": "{\t    'type' : \"EndOfStep\",\t    'step' : 'FillAdminLoginDetails',\t    'page' : msg.page\t}",
        "dataRType": "jsonata",
        "dataR": "{\t    'type' : \"EndOfStep\",\t    'step' : 'FillAdminLoginDetails',\t    'page' : msg.page\t}",
        "x": 895,
        "y": 200,
        "wires": [
            [
                "e59030cf60b5ca2d"
            ]
        ],
        "icon": "font-awesome/fa-pause",
        "l": false
    },
    {
        "id": "dd212ca6f43695bc",
        "type": "Marker",
        "z": "f97654df38260c7e",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"data\"]",
        "dataType": "msg",
        "data": "page",
        "dataRType": "jsonata",
        "dataR": "{\t   \"type\": \"EndOfAction\",\t   \"action\": \"AdminLogin\",\t   \"page\": page,\t   \"data\": {\t       \"username\": username,\t       \"password\": password\t       }\t}",
        "x": 1145,
        "y": 200,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "9930a22006d0ac2f",
        "type": "Marker",
        "z": "f97654df38260c7e",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"data\"]",
        "dataType": "msg",
        "data": "page",
        "dataRType": "jsonata",
        "dataR": "{\t   \"type\": \"EndOfAction\",\t   \"action\": \"MarkInStock\",\t   \"page\": page,\t   \"data\": {\t       \"product\": product\t       }\t}",
        "x": 2005,
        "y": 380,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "13d8fc6babb0b35f",
        "type": "Marker",
        "z": "f97654df38260c7e",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"data\"]",
        "dataType": "msg",
        "data": "page",
        "dataRType": "jsonata",
        "dataR": "{\t   \"type\": \"EndOfAction\",\t   \"action\": \"MarkOutOfStock\",\t   \"page\": page,\t   \"data\": {\t       \"product\": product\t       }\t}",
        "x": 2005,
        "y": 460,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "e8dc7e7f406aba63",
        "type": "start",
        "z": "df6b8126913b8e4a",
        "name": "",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "f88f04e8062076e7"
            ]
        ]
    },
    {
        "id": "851d2042e84e2354",
        "type": "Login",
        "z": "df6b8126913b8e4a",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"username\",\"password\"]",
        "libType": "str",
        "lib": "prestashop",
        "libRType": "str",
        "libR": "prestashop",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "usernameType": "str",
        "username": "",
        "usernameRType": "str",
        "usernameR": "alice.wang@prestahsop.com",
        "passwordType": "str",
        "password": "",
        "passwordRType": "str",
        "passwordR": "alice.wang@prestahsop.com",
        "x": 430,
        "y": 180,
        "wires": [
            [
                "a8730bb60becf966"
            ]
        ]
    },
    {
        "id": "f88f04e8062076e7",
        "type": "browser",
        "z": "df6b8126913b8e4a",
        "name": "Open a \\n user page",
        "page": "User2Page",
        "url": "http://localhost:8080/",
        "x": 260,
        "y": 180,
        "wires": [
            [
                "851d2042e84e2354"
            ]
        ]
    },
    {
        "id": "a8730bb60becf966",
        "type": "VarifyNotInStock",
        "z": "df6b8126913b8e4a",
        "name": "Verify that \"Mug The adventure begins\" \\n is not in stock",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"category\",\"product\"]",
        "libType": "str",
        "lib": "prestashop",
        "libRType": "str",
        "libR": "prestashop",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "categoryType": "str",
        "category": "",
        "categoryRType": "str",
        "categoryR": "Art",
        "productType": "str",
        "product": "",
        "productRType": "str",
        "productR": "Mug The adventure begins",
        "x": 690,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "d32e95d9559805ba",
        "type": "start",
        "z": "df6b8126913b8e4a",
        "name": "",
        "x": 110,
        "y": 297,
        "wires": [
            [
                "3f3cbeabccc9d086"
            ]
        ]
    },
    {
        "id": "2f64ed27e6e75988",
        "type": "Login",
        "z": "df6b8126913b8e4a",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"username\",\"password\"]",
        "libType": "str",
        "lib": "prestashop",
        "libRType": "str",
        "libR": "prestashop",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "usernameType": "str",
        "username": "",
        "usernameRType": "str",
        "usernameR": "alice.wang@prestahsop.com",
        "passwordType": "str",
        "password": "",
        "passwordRType": "str",
        "passwordR": "alice.wang@prestahsop.com",
        "x": 430,
        "y": 60,
        "wires": [
            [
                "545e1e9dbbb63917"
            ]
        ]
    },
    {
        "id": "a9482e913515c701",
        "type": "browser",
        "z": "df6b8126913b8e4a",
        "name": "Open a \\n user page",
        "page": "User1Page",
        "url": "http://localhost:8080/",
        "x": 260,
        "y": 60,
        "wires": [
            [
                "2f64ed27e6e75988"
            ]
        ]
    },
    {
        "id": "874dcdaa2abe30e5",
        "type": "start",
        "z": "df6b8126913b8e4a",
        "name": "",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "a9482e913515c701"
            ]
        ]
    },
    {
        "id": "545e1e9dbbb63917",
        "type": "AddToCart",
        "z": "df6b8126913b8e4a",
        "name": "Add \"Hummingbird printed sweater\" \\n to the shopping cart",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"category\",\"product\",\"quantity\"]",
        "libType": "str",
        "lib": "prestashop",
        "libRType": "str",
        "libR": "prestashop",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "categoryType": "str",
        "category": "Art",
        "categoryRType": "str",
        "categoryR": "Art",
        "productType": "str",
        "product": "Hummingbird printed sweater",
        "productRType": "str",
        "productR": "Hummingbird printed sweater",
        "quantityType": "num",
        "quantity": "1",
        "quantityRType": "num",
        "quantityR": "1",
        "x": 680,
        "y": 60,
        "wires": [
            [
                "36b3977003c2cc10"
            ]
        ]
    },
    {
        "id": "9c4a23a45ac792f0",
        "type": "VarifyNotInStock",
        "z": "df6b8126913b8e4a",
        "g": "713b05ace1368c93",
        "name": "Verify that \"Mug The adventure begins\" \\n is not in stock",
        "eventType": "block",
        "internalFields": "[\"lib\",\"page\",\"category\",\"product\"]",
        "libType": "str",
        "lib": "prestashop",
        "libRType": "str",
        "libR": "tmp",
        "pageType": "msg",
        "page": "",
        "pageRType": "msg",
        "pageR": "tmp",
        "categoryType": "str",
        "category": "",
        "categoryRType": "str",
        "categoryR": "tmp",
        "productType": "str",
        "product": "Mug The adventure begins",
        "productRType": "str",
        "productR": "tmp",
        "x": 430,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "7d6169c13fb6627c",
        "type": "MarkOutOfStock",
        "z": "df6b8126913b8e4a",
        "g": "713b05ace1368c93",
        "name": "Take \"Mug The adventure begins\" \\n out of stock",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"product\"]",
        "libType": "str",
        "lib": "prestashop",
        "libRType": "str",
        "libR": "prestashop",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "productType": "str",
        "product": "",
        "productRType": "str",
        "productR": "Mug The adventure begins",
        "x": 760,
        "y": 297,
        "wires": [
            [
                "0b9bd43680848c34"
            ]
        ]
    },
    {
        "id": "7299ea75674a38bb",
        "type": "AdminLogin",
        "z": "df6b8126913b8e4a",
        "g": "713b05ace1368c93",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"username\",\"password\"]",
        "libType": "str",
        "lib": "prestashop",
        "libRType": "str",
        "libR": "prestashop",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "usernameType": "str",
        "username": "",
        "usernameRType": "str",
        "usernameR": "demo@prestashop.com",
        "passwordType": "str",
        "password": "",
        "passwordRType": "str",
        "passwordR": "prestashop_demo",
        "x": 530,
        "y": 297,
        "wires": [
            [
                "7d6169c13fb6627c"
            ]
        ]
    },
    {
        "id": "3f3cbeabccc9d086",
        "type": "browser",
        "z": "df6b8126913b8e4a",
        "g": "713b05ace1368c93",
        "name": "Open an \\n admin page",
        "page": "AdminPage",
        "url": "http://localhost:8080/admina",
        "x": 350,
        "y": 297,
        "wires": [
            [
                "7299ea75674a38bb"
            ]
        ]
    },
    {
        "id": "0b9bd43680848c34",
        "type": "EventSet",
        "z": "df6b8126913b8e4a",
        "g": "713b05ace1368c93",
        "name": "End of Action",
        "eventType": "waitFor",
        "internalFields": "[\"filter\"]",
        "filterType": "jsonata",
        "filter": "event = \"Marker\" and data.type = \"EndOfAction\" and $.msg.page = data.page \t",
        "filterRType": "jsonata",
        "filterR": "tmp",
        "x": 955,
        "y": 300,
        "wires": [
            []
        ],
        "icon": "font-awesome/fa-fast-forward",
        "l": false
    },
    {
        "id": "36b3977003c2cc10",
        "type": "Checkout",
        "z": "df6b8126913b8e4a",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\"]",
        "libType": "str",
        "lib": "prestashop",
        "libRType": "str",
        "libR": "prestashop",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "ecpectedPriceType": "num",
        "ecpectedPrice": "",
        "ecpectedPriceRType": "jsonata",
        "ecpectedPriceR": "$sum(ctx[type=\"purchase\"].price)",
        "x": 920,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "ef58ccddfcaa7c37",
        "type": "context-init",
        "z": "53a4d32a120d2c58",
        "name": "",
        "format": "javascript",
        "template": "// Add entities\nctx.populateContext([\n  ctx.Entity('r1', 'room', { subtype: 'kitchen' }),\n  // ctx.Entity('r2', 'room', { subtype: 'bedroom' }),\n  // ctx.Entity('r3', 'room', { subtype: 'bathroom' }),\n  ctx.Entity('night', 'system', { on: false })\n]);\n\n// Specifies the contexts/layers preconditions\nctx.registerQuery('Night',\n  function (entity) {\n    return entity.id == 'night' && entity.on\n  })\nctx.registerQuery('Room.WithTaps',\n  function (entity) {\n    return entity.type == 'room' &&\n      entity.subtype == 'kitchen' || entity.subtype == 'bathroom'\n  })\n\n// Specify the effect of certain events on the context\nctx.registerEffect('Time', function (data) {\n  if(data.time==\"8:00\") {\n    ctx.getEntityById('night').on = false\n  } else if (data.time == \"21:00\") {\n    ctx.getEntityById('night').on = true\n  }\n})\n\nctx.registerQuery('Room.Kitchen',\n  function (entity) {\n    return entity.type == 'room' &&\n      'kitchen' == entity.subtype\n  })",
        "x": 160,
        "y": 60,
        "wires": []
    },
    {
        "id": "f97848098db6dc08",
        "type": "context-start",
        "z": "53a4d32a120d2c58",
        "name": "",
        "context": "Room.WithTaps",
        "quantity": "all",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "5ebfa4280ba535dc",
                "04d43f916f180798"
            ]
        ]
    },
    {
        "id": "5ebfa4280ba535dc",
        "type": "loop",
        "z": "53a4d32a120d2c58",
        "name": "",
        "list": "",
        "from": "0",
        "fromType": "",
        "skip": "1",
        "skipType": "",
        "to": "3",
        "toType": "",
        "x": 430,
        "y": 200,
        "wires": [
            [
                "7ad39d3d719c8764"
            ],
            []
        ]
    },
    {
        "id": "04d43f916f180798",
        "type": "ColdRoom",
        "z": "53a4d32a120d2c58",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"roomID\"]",
        "roomIDType": "str",
        "roomID": "",
        "roomIDRType": "msg",
        "roomIDR": "context.entity.id",
        "x": 450,
        "y": 140,
        "wires": [
            [
                "046b46565bb2d56f"
            ]
        ]
    },
    {
        "id": "046b46565bb2d56f",
        "type": "ColdRoom",
        "z": "53a4d32a120d2c58",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"roomID\"]",
        "roomIDType": "str",
        "roomID": "",
        "roomIDRType": "msg",
        "roomIDR": "context.entity.id",
        "x": 630,
        "y": 140,
        "wires": [
            [
                "2d9b71ac3a118453"
            ]
        ]
    },
    {
        "id": "2d9b71ac3a118453",
        "type": "ColdRoom",
        "z": "53a4d32a120d2c58",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"roomID\"]",
        "roomIDType": "str",
        "roomID": "",
        "roomIDRType": "msg",
        "roomIDR": "context.entity.id",
        "x": 810,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "7ad39d3d719c8764",
        "type": "HotRoom",
        "z": "53a4d32a120d2c58",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"roomID\"]",
        "roomIDType": "str",
        "roomID": "",
        "roomIDRType": "msg",
        "roomIDR": "context.entity.id",
        "x": 600,
        "y": 200,
        "wires": [
            [
                "5ebfa4280ba535dc"
            ]
        ]
    },
    {
        "id": "f44a69d7335b0444",
        "type": "context-start",
        "z": "53a4d32a120d2c58",
        "name": "",
        "context": "Room.Kitchen",
        "quantity": "all",
        "x": 190,
        "y": 360,
        "wires": [
            [
                "428dccc1b3707fcc"
            ]
        ]
    },
    {
        "id": "428dccc1b3707fcc",
        "type": "ColdRoom",
        "z": "53a4d32a120d2c58",
        "g": "c6c7d5eb060dc596",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"roomID\"]",
        "roomIDType": "msg",
        "roomID": "context.entity.id",
        "roomIDRType": "msg",
        "roomIDR": "tmp",
        "x": 450,
        "y": 320,
        "wires": [
            [
                "d51ac8d4f822e03e"
            ]
        ]
    },
    {
        "id": "64a44e724789eba8",
        "type": "HotRoom",
        "z": "53a4d32a120d2c58",
        "g": "c6c7d5eb060dc596",
        "name": "",
        "eventType": "block",
        "internalFields": "[\"roomID\"]",
        "roomIDType": "msg",
        "roomID": "context.entity.id",
        "roomIDRType": "msg",
        "roomIDR": "tmp",
        "x": 440,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "d51ac8d4f822e03e",
        "type": "HotRoom",
        "z": "53a4d32a120d2c58",
        "g": "fa05d669695e8abe",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"roomID\"]",
        "roomIDType": "msg",
        "roomID": "context.entity.id",
        "roomIDRType": "msg",
        "roomIDR": "tmp",
        "x": 700,
        "y": 380,
        "wires": [
            [
                "428dccc1b3707fcc"
            ]
        ]
    },
    {
        "id": "cb726091fa081cfe",
        "type": "ColdRoom",
        "z": "53a4d32a120d2c58",
        "g": "fa05d669695e8abe",
        "name": "",
        "eventType": "block",
        "internalFields": "[\"roomID\"]",
        "roomIDType": "msg",
        "roomID": "context.entity.id",
        "roomIDRType": "msg",
        "roomIDR": "tmp",
        "x": 710,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "d8e988ed4670d137",
        "type": "context-start",
        "z": "53a4d32a120d2c58",
        "name": "",
        "context": "Night",
        "quantity": "all",
        "x": 160,
        "y": 480,
        "wires": [
            [
                "d928403eee49c085"
            ]
        ]
    },
    {
        "id": "84c2e9a74aa5aa9c",
        "type": "start",
        "z": "53a4d32a120d2c58",
        "name": "",
        "payload": "",
        "x": 150,
        "y": 560,
        "wires": [
            [
                "350587d738777e92",
                "013274b54e9a8003"
            ]
        ]
    },
    {
        "id": "350587d738777e92",
        "type": "loop",
        "z": "53a4d32a120d2c58",
        "name": "",
        "list": "",
        "from": "0",
        "fromType": "",
        "skip": "1",
        "skipType": "",
        "to": "3",
        "toType": "",
        "x": 330,
        "y": 560,
        "wires": [
            [
                "4344db48fd53e3f7"
            ],
            []
        ]
    },
    {
        "id": "013274b54e9a8003",
        "type": "loop",
        "z": "53a4d32a120d2c58",
        "name": "",
        "list": "",
        "from": "0",
        "skip": "1",
        "to": "5",
        "x": 330,
        "y": 640,
        "wires": [
            [
                "184473412f15a3fa"
            ],
            []
        ]
    },
    {
        "id": "d928403eee49c085",
        "type": "Vacuum",
        "z": "53a4d32a120d2c58",
        "name": "",
        "eventType": "block",
        "internalFields": "[]",
        "x": 340,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "184473412f15a3fa",
        "type": "Vacuum",
        "z": "53a4d32a120d2c58",
        "name": "",
        "eventType": "block",
        "internalFields": "[]",
        "x": 520,
        "y": 640,
        "wires": [
            [
                "013274b54e9a8003"
            ]
        ]
    },
    {
        "id": "4344db48fd53e3f7",
        "type": "Time",
        "z": "53a4d32a120d2c58",
        "name": "Time (8am)",
        "eventType": "request",
        "internalFields": "[\"time\"]",
        "timeType": "str",
        "time": "",
        "timeRType": "str",
        "timeR": "8:00",
        "x": 510,
        "y": 560,
        "wires": [
            [
                "b8f9eed21991b551"
            ]
        ]
    },
    {
        "id": "b8f9eed21991b551",
        "type": "Time",
        "z": "53a4d32a120d2c58",
        "name": "Time (9pm)",
        "eventType": "request",
        "internalFields": "[\"time\"]",
        "timeType": "str",
        "time": "",
        "timeRType": "str",
        "timeR": "21:00",
        "x": 710,
        "y": 560,
        "wires": [
            [
                "350587d738777e92"
            ]
        ]
    }
]