packages/node_modules/@bp/nodes/examples/01 - Hot Cold.json
[{"id":"ed52966f.23c4a8","type":"tab","label":"Hot Cold","disabled":false,"info":""},{"id":"9271c282.c50d5","type":"start","z":"ed52966f.23c4a8","name":"","payload":"{\"request\":\"hot\"}","x":130,"y":140,"wires":[["ea69895e323ab263"]]},{"id":"510e0533.586bcc","type":"comment","z":"ed52966f.23c4a8","name":"Hot","info":"","x":130,"y":100,"wires":[]},{"id":"52b06e7.b3aef9","type":"start","z":"ed52966f.23c4a8","name":"","payload":"{\"request\":\"cold\"}","x":130,"y":260,"wires":[["39dafb9.974cf04"]]},{"id":"76b21800.f80498","type":"comment","z":"ed52966f.23c4a8","name":"Cold","info":"","x":130,"y":220,"wires":[]},{"id":"39dafb9.974cf04","type":"loop","z":"ed52966f.23c4a8","name":"","list":"","from":"0","skip":"1","to":"3","x":300,"y":260,"wires":[["632d0b6cdf07831e"],[]]},{"id":"d4935.74a8b6cb8","type":"start","z":"ed52966f.23c4a8","name":"","payload":"","x":130,"y":400,"wires":[["1059e554.5d712b"]]},{"id":"b9e21538.29b348","type":"comment","z":"ed52966f.23c4a8","name":"Interleave","info":"","x":140,"y":360,"wires":[]},{"id":"1059e554.5d712b","type":"loop","z":"ed52966f.23c4a8","name":"","list":"","from":"0","skip":"1","to":"100","x":300,"y":400,"wires":[["96b8587e.714128"],[]]},{"id":"96b8587e.714128","type":"bsync","z":"ed52966f.23c4a8","name":"","request":"","waitFor":"Hot","block":"Cold","x":450,"y":400,"wires":[["dba475ca.83bed8"]]},{"id":"dba475ca.83bed8","type":"bsync","z":"ed52966f.23c4a8","name":"","request":"","waitFor":"Cold","block":"Hot","x":610,"y":400,"wires":[["1059e554.5d712b"]]},{"id":"ea69895e323ab263","type":"Cold","z":"ed52966f.23c4a8","internalFields":"[]","name":"","eventType":"request","x":290,"y":140,"wires":[["85532d1587c671e1"]]},{"id":"85532d1587c671e1","type":"Cold","z":"ed52966f.23c4a8","internalFields":"[]","name":"","eventType":"request","x":430,"y":140,"wires":[["c8915f14b783f370"]]},{"id":"c8915f14b783f370","type":"Cold","z":"ed52966f.23c4a8","internalFields":"[]","name":"","eventType":"request","x":570,"y":140,"wires":[[]]},{"id":"632d0b6cdf07831e","type":"Hot","z":"ed52966f.23c4a8","internalFields":"[]","name":"","eventType":"request","x":450,"y":260,"wires":[["39dafb9.974cf04"]]}]