packages/node_modules/@bp/nodes/examples/02 - Meet the banker.json
[{"id":"73c4d06a.93ac9","type":"tab","label":"Meet the banker - ver. 1","disabled":true,"info":"# Meet the banker\n## Version 1\n\nOne flow with a condition node, to differentiate between a meeting with a cashier and a meeting with a banker/invest."},{"id":"9bfa4fdc.096e6","type":"tab","label":"Meet the banker - ver. 2","disabled":true,"info":"# Meet the banker\n## Version 2\n\nTwo flows, one for a meeting with a cashier and one for a meeting with a banker/invest."},{"id":"92dce03a.46929","type":"tab","label":"Meet the banker - ver. 3","disabled":false,"info":"# Meet the banker\n## Version 3\n\nTwo flows, one for a general case and for exempting the behavior for a meeting with a cashier."},{"id":"d92dff62.ee1d5","type":"group","z":"92dce03a.46929","name":"Block: [SetTime]  |  Break-upon: []","style":{"stroke":"#000000","label":true,"color":"#000000"},"nodes":["9e213e69.6dd1f"],"x":494,"y":199,"w":209,"h":82},{"id":"26e4e95d.702b26","type":"comment","z":"92dce03a.46929","name":"Legend:","info":"","x":340,"y":380,"wires":[]},{"id":"44f363da.e1419c","type":"Approval","z":"92dce03a.46929","name":"Green = wait for this event","eventType":"waitFor","x":400,"y":420,"wires":[[]],"icon":"font-awesome/fa-angle-right"},{"id":"1083820e.e16cae","type":"Approval","z":"92dce03a.46929","name":"Blue = request this event","eventType":"request","x":390,"y":460,"wires":[[]],"icon":"font-awesome/fa-angle-right"},{"id":"2af77835.785e48","type":"Approval","z":"92dce03a.46929","name":"Red = block this event","eventType":"block","x":380,"y":500,"wires":[[]],"icon":"font-awesome/fa-angle-right"},{"id":"d9c86769.bf0878","type":"start","z":"73c4d06a.93ac9","name":"","payload":"","x":90,"y":100,"wires":[["ffbea1e7.b0011"]]},{"id":"ffbea1e7.b0011","type":"Login","z":"73c4d06a.93ac9","Username":"israel_israeli","Password":"myPass123!","internalFields":"[{\"name\":\"Username\",\"type\":\"text\",\"defaultValue\":\"\"},{\"name\":\"Password\",\"type\":\"text\",\"defaultValue\":\"\"}]","name":"","eventType":"request","x":230,"y":100,"wires":[["c26f1bd1.1ef188"]]},{"id":"c26f1bd1.1ef188","type":"dashboard","z":"73c4d06a.93ac9","name":"","eventType":"request","meeting":"select","service":"select","internalFields":"[{\"name\":\"service\",\"type\":\"select\",\"defaultValue\":\"select\",\"options\":{\"select\":[\"Select meeting type first\"],\"banker\":[\"Select\",\"Banker service 1\",\"Banker service 2\"],\"cashier\":[\"Select\",\"Cashier service 1\",\"Cashier service 2\",\"Cashier service 3\"],\"invest\":[\"Select\",\"Investment service 1\",\"Investment service 2\"]}},{\"name\":\"meeting\",\"type\":\"select\",\"defaultValue\":\"select\",\"options\":{\"select\":\"Select\",\"banker\":\"Banker\",\"cashier\":\"Cashier\",\"invest\":\"Invest\"}}]","x":390,"y":100,"wires":[["f2c79347.2d5be"]]},{"id":"f2c79347.2d5be","type":"switch","z":"73c4d06a.93ac9","name":"Meeting cashier ?","property":"dashboard.meeting","propertyType":"msg","rules":[{"t":"eq","v":"cashier","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":100,"wires":[["e1cdd6d.0ed1028"],["d9f1fd4c.cb5fd"]],"outputLabels":["true","false"]},{"id":"e1cdd6d.0ed1028","type":"SetBranch","z":"73c4d06a.93ac9","Branch":"select","internalFields":"[{\"name\":\"Branch\",\"type\":\"select\",\"defaultValue\":\"select\",\"options\":{\"517-לבהעיר\":\"517 - לב העיר\",\"0517-שאולהמלך\":\"0517 - שאול המלך\",\"94-גרנדקניון\":\"94 - גרנד קניון\"}}]","name":"","eventType":"request","x":790,"y":60,"wires":[["d9f1fd4c.cb5fd"]]},{"id":"d9f1fd4c.cb5fd","type":"SetTime","z":"73c4d06a.93ac9","Time":"select","internalFields":"[{\"name\":\"Time\",\"type\":\"select\",\"defaultValue\":\"select\",\"options\":{\"09:00\":\"09:00\",\"09:15\":\"09:15\",\"09:45\":\"09:45\",\"12:00\":\"12:00\",\"14:15\":\"14:15\",\"16:00\":\"16:00\",\"16:15\":\"16:15\",\"18:00\":\"18:00\"}}]","name":"","eventType":"request","x":960,"y":100,"wires":[["a63a47a2.d002e8"]]},{"id":"a63a47a2.d002e8","type":"ContactAndRemarks","z":"73c4d06a.93ac9","Phone":"","Remarks":"","internalFields":"[{\"name\":\"Phone\",\"type\":\"text\",\"defaultValue\":\"\"},{\"name\":\"Remarks\",\"type\":\"text\",\"defaultValue\":\"\"}]","name":"","eventType":"request","x":670,"y":180,"wires":[["9645ede9.d1274"]]},{"id":"9645ede9.d1274","type":"Confirm","z":"73c4d06a.93ac9","name":"","eventType":"request","x":860,"y":180,"wires":[["9e7c979a.4c8078"]]},{"id":"9e7c979a.4c8078","type":"Approval","z":"73c4d06a.93ac9","name":"","eventType":"request","x":1020,"y":180,"wires":[[]]},{"id":"2692fe6a.55ea72","type":"start","z":"9bfa4fdc.096e6","name":"","payload":"","x":230,"y":100,"wires":[["1199dee8.83d1f1"]]},{"id":"1199dee8.83d1f1","type":"dashboard","z":"9bfa4fdc.096e6","name":"Dashboard (meeting = cashier)","eventType":"waitFor","meeting":"cashier","service":"select","internalFields":"[{\"name\":\"service\",\"type\":\"select\",\"defaultValue\":\"select\",\"options\":{\"select\":[\"Select meeting type first\"],\"banker\":[\"Select\",\"Banker service 1\",\"Banker service 2\"],\"cashier\":[\"Select\",\"Cashier service 1\",\"Cashier service 2\",\"Cashier service 3\"],\"invest\":[\"Select\",\"Investment service 1\",\"Investment service 2\"]}},{\"name\":\"meeting\",\"type\":\"select\",\"defaultValue\":\"select\",\"options\":{\"select\":\"Select\",\"banker\":\"Banker\",\"cashier\":\"Cashier\",\"invest\":\"Invest\"}}]","x":450,"y":100,"wires":[["f8258b0f.58f2f8"]]},{"id":"f8258b0f.58f2f8","type":"SetBranch","z":"9bfa4fdc.096e6","Branch":"select","internalFields":"[{\"name\":\"Branch\",\"type\":\"select\",\"defaultValue\":\"select\",\"options\":{\"517-לבהעיר\":\"517 - לב העיר\",\"0517-שאולהמלך\":\"0517 - שאול המלך\",\"94-גרנדקניון\":\"94 - גרנד קניון\"}}]","name":"","eventType":"request","x":690,"y":100,"wires":[["f3a73acb.3891e8"]]},{"id":"f3a73acb.3891e8","type":"SetTime","z":"9bfa4fdc.096e6","Time":"select","internalFields":"[{\"name\":\"Time\",\"type\":\"select\",\"defaultValue\":\"select\",\"options\":{\"09:00\":\"09:00\",\"09:15\":\"09:15\",\"09:45\":\"09:45\",\"12:00\":\"12:00\",\"14:15\":\"14:15\",\"16:00\":\"16:00\",\"16:15\":\"16:15\",\"18:00\":\"18:00\"}}]","name":"","eventType":"request","x":860,"y":100,"wires":[["e99b8dc4.48d86"]]},{"id":"e99b8dc4.48d86","type":"ContactAndRemarks","z":"9bfa4fdc.096e6","Phone":"","Remarks":"","internalFields":"[{\"name\":\"Phone\",\"type\":\"text\",\"defaultValue\":\"\"},{\"name\":\"Remarks\",\"type\":\"text\",\"defaultValue\":\"\"}]","name":"","eventType":"request","x":670,"y":40,"wires":[["39ba434.4aa08bc"]]},{"id":"39ba434.4aa08bc","type":"Confirm","z":"9bfa4fdc.096e6","name":"","eventType":"request","x":860,"y":40,"wires":[["d6bef279.a69e2"]]},{"id":"d6bef279.a69e2","type":"Approval","z":"9bfa4fdc.096e6","name":"","eventType":"request","x":1020,"y":40,"wires":[[]]},{"id":"fa123805.567708","type":"dashboard","z":"9bfa4fdc.096e6","name":"Dashboard (meeting != cashier)","eventType":"waitFor","meeting":"select","service":"select","internalFields":"[{\"name\":\"service\",\"type\":\"select\",\"defaultValue\":\"select\",\"options\":{\"select\":[\"Select meeting type first\"],\"banker\":[\"Select\",\"Banker service 1\",\"Banker service 2\"],\"cashier\":[\"Select\",\"Cashier service 1\",\"Cashier service 2\",\"Cashier service 3\"],\"invest\":[\"Select\",\"Investment service 1\",\"Investment service 2\"]}},{\"name\":\"meeting\",\"type\":\"select\",\"defaultValue\":\"select\",\"options\":{\"select\":\"Select\",\"banker\":\"Banker\",\"cashier\":\"Cashier\",\"invest\":\"Invest\"}}]","x":450,"y":180,"wires":[["80f3dec5.333f3"]]},{"id":"80f3dec5.333f3","type":"SetTime","z":"9bfa4fdc.096e6","Time":"select","internalFields":"[{\"name\":\"Time\",\"type\":\"select\",\"defaultValue\":\"select\",\"options\":{\"09:00\":\"09:00\",\"09:15\":\"09:15\",\"09:45\":\"09:45\",\"12:00\":\"12:00\",\"14:15\":\"14:15\",\"16:00\":\"16:00\",\"16:15\":\"16:15\",\"18:00\":\"18:00\"}}]","name":"","eventType":"request","x":860,"y":180,"wires":[["4bd5f7a7.f000f8"]]},{"id":"4bd5f7a7.f000f8","type":"ContactAndRemarks","z":"9bfa4fdc.096e6","Phone":"","Remarks":"","internalFields":"[{\"name\":\"Phone\",\"type\":\"text\",\"defaultValue\":\"\"},{\"name\":\"Remarks\",\"type\":\"text\",\"defaultValue\":\"\"}]","name":"","eventType":"request","x":670,"y":240,"wires":[["f1acf875.23bc28"]]},{"id":"f1acf875.23bc28","type":"Confirm","z":"9bfa4fdc.096e6","name":"","eventType":"request","x":860,"y":240,"wires":[["fd46268e.81a288"]]},{"id":"fd46268e.81a288","type":"Approval","z":"9bfa4fdc.096e6","name":"","eventType":"request","x":1020,"y":240,"wires":[[]]},{"id":"ce81b83c.e2fb08","type":"start","z":"92dce03a.46929","name":"","payload":"","x":90,"y":120,"wires":[["fb8b0307.3909a"]]},{"id":"fb8b0307.3909a","type":"Login","z":"92dce03a.46929","Username":"israel_israeli","Password":"myPass123!","internalFields":"[{\"name\":\"Username\",\"type\":\"text\",\"defaultValue\":\"\"},{\"name\":\"Password\",\"type\":\"text\",\"defaultValue\":\"\"}]","name":"","eventType":"request","x":230,"y":120,"wires":[["db8b55dd.285d58"]]},{"id":"db8b55dd.285d58","type":"dashboard","z":"92dce03a.46929","name":"","eventType":"request","meeting":"select","service":"select","internalFields":"[{\"name\":\"service\",\"type\":\"select\",\"defaultValue\":\"select\",\"options\":{\"select\":[\"Select meeting type first\"],\"banker\":[\"Select\",\"Banker service 1\",\"Banker service 2\"],\"cashier\":[\"Select\",\"Cashier service 1\",\"Cashier service 2\",\"Cashier service 3\"],\"invest\":[\"Select\",\"Investment service 1\",\"Investment service 2\"]}},{\"name\":\"meeting\",\"type\":\"select\",\"defaultValue\":\"select\",\"options\":{\"select\":\"Select\",\"banker\":\"Banker\",\"cashier\":\"Cashier\",\"invest\":\"Invest\"}}]","x":390,"y":120,"wires":[["310c12f8.7709ee"]]},{"id":"310c12f8.7709ee","type":"SetTime","z":"92dce03a.46929","Time":"select","internalFields":"[{\"name\":\"Time\",\"type\":\"select\",\"defaultValue\":\"select\",\"options\":{\"09:00\":\"09:00\",\"09:15\":\"09:15\",\"09:45\":\"09:45\",\"12:00\":\"12:00\",\"14:15\":\"14:15\",\"16:00\":\"16:00\",\"16:15\":\"16:15\",\"18:00\":\"18:00\"}}]","name":"","eventType":"request","x":560,"y":120,"wires":[["c859a0d0.44bd2"]]},{"id":"c859a0d0.44bd2","type":"ContactAndRemarks","z":"92dce03a.46929","Phone":"","Remarks":"","internalFields":"[{\"name\":\"Phone\",\"type\":\"text\",\"defaultValue\":\"\"},{\"name\":\"Remarks\",\"type\":\"text\",\"defaultValue\":\"\"}]","name":"","eventType":"request","x":750,"y":120,"wires":[["7239d517.65fd7c"]]},{"id":"7239d517.65fd7c","type":"Confirm","z":"92dce03a.46929","name":"","eventType":"request","x":940,"y":120,"wires":[["b062f814.553ef8"]]},{"id":"b062f814.553ef8","type":"Approval","z":"92dce03a.46929","name":"","eventType":"request","x":1100,"y":120,"wires":[[]]},{"id":"7b299bbd.f72614","type":"start","z":"92dce03a.46929","name":"","x":90,"y":240,"wires":[["71704001.37b71"]]},{"id":"71704001.37b71","type":"dashboard","z":"92dce03a.46929","name":"Dashboard (meeting = cashier)","eventType":"waitFor","meeting":"cashier","service":"select","internalFields":"[{\"name\":\"service\",\"type\":\"select\",\"defaultValue\":\"select\",\"options\":{\"select\":[\"Select meeting type first\"],\"banker\":[\"Select\",\"Banker service 1\",\"Banker service 2\"],\"cashier\":[\"Select\",\"Cashier service 1\",\"Cashier service 2\",\"Cashier service 3\"],\"invest\":[\"Select\",\"Investment service 1\",\"Investment service 2\"]}},{\"name\":\"meeting\",\"type\":\"select\",\"defaultValue\":\"select\",\"options\":{\"select\":\"Select\",\"banker\":\"Banker\",\"cashier\":\"Cashier\",\"invest\":\"Invest\"}}]","x":310,"y":240,"wires":[["9e213e69.6dd1f"]]},{"id":"9e213e69.6dd1f","type":"SetBranch","z":"92dce03a.46929","g":"d92dff62.ee1d5","Branch":"select","internalFields":"[{\"name\":\"Branch\",\"type\":\"select\",\"defaultValue\":\"select\",\"options\":{\"517-לבהעיר\":\"517 - לב העיר\",\"0517-שאולהמלך\":\"0517 - שאול המלך\",\"94-גרנדקניון\":\"94 - גרנד קניון\"}}]","name":"","eventType":"request","x":590,"y":240,"wires":[[]]},{"id":"2b499856.7e55f8","type":"switch","z":"92dce03a.46929","name":"No-event node","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":540,"wires":[[]],"icon":"font-awesome/fa-angle-right"},{"id":"16ec83b3.764a5c","type":"start","z":"9bfa4fdc.096e6","name":"","payload":"{\"dashboard\":{\"meeting\":[\"banker\",\"invest\"]}}","x":230,"y":180,"wires":[["fa123805.567708"]]},{"id":"e72c090a.0344a8","type":"start","z":"9bfa4fdc.096e6","name":"","payload":"","x":230,"y":340,"wires":[["e1421219.a9a88"]]},{"id":"aab189d.43cb378","type":"dashboard","z":"9bfa4fdc.096e6","name":"","eventType":"request","meeting":"select","service":"select","internalFields":"[{\"name\":\"service\",\"type\":\"select\",\"defaultValue\":\"select\",\"options\":{\"select\":[\"Select meeting type first\"],\"banker\":[\"Select\",\"Banker service 1\",\"Banker service 2\"],\"cashier\":[\"Select\",\"Cashier service 1\",\"Cashier service 2\",\"Cashier service 3\"],\"invest\":[\"Select\",\"Investment service 1\",\"Investment service 2\"]}},{\"name\":\"meeting\",\"type\":\"select\",\"defaultValue\":\"select\",\"options\":{\"select\":\"Select\",\"banker\":\"Banker\",\"cashier\":\"Cashier\",\"invest\":\"Invest\"}}]","x":530,"y":340,"wires":[[]]},{"id":"e1421219.a9a88","type":"Login","z":"9bfa4fdc.096e6","Username":"israel_israeli","Password":"myPass123!","internalFields":"[{\"name\":\"Username\",\"type\":\"text\",\"defaultValue\":\"\"},{\"name\":\"Password\",\"type\":\"text\",\"defaultValue\":\"\"}]","name":"","eventType":"request","x":370,"y":340,"wires":[["aab189d.43cb378"]]}]