packages/node_modules/@bp/nodes/examples/02 - Hot Cold Regions.json
[{"id":"5f80aa7f2bdb3a30","type":"tab","label":"Hot Cold (Regions)","disabled":false,"info":""},{"id":"4d4aeffaa163f468","type":"group","z":"5f80aa7f2bdb3a30","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["8b17e67463bdf7c9","f68e277bc097085d"],"x":274,"y":379,"w":152,"h":162},{"id":"6caa57b3655a713a","type":"group","z":"5f80aa7f2bdb3a30","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["b38a9c93fd47a8f1","5be39bda725a0b18"],"x":534,"y":379,"w":152,"h":162},{"id":"d98430d53db68227","type":"start","z":"5f80aa7f2bdb3a30","name":"","payload":"{\"request\":\"hot\"}","x":130,"y":140,"wires":[["e137d7081f41559c"]]},{"id":"bf97802bd4dbff89","type":"comment","z":"5f80aa7f2bdb3a30","name":"Cold","info":"","x":130,"y":100,"wires":[]},{"id":"5d92dc2c6a0cee8b","type":"start","z":"5f80aa7f2bdb3a30","name":"","payload":"{\"request\":\"cold\"}","x":130,"y":260,"wires":[["aa3249f62020e888"]]},{"id":"d1daa43b278712b1","type":"comment","z":"5f80aa7f2bdb3a30","name":"Hot","info":"","x":130,"y":220,"wires":[]},{"id":"aa3249f62020e888","type":"loop","z":"5f80aa7f2bdb3a30","name":"","list":"","from":"0","skip":"1","to":"3","x":300,"y":260,"wires":[["6608525895e76d48"],[]]},{"id":"fc6c488c74193680","type":"start","z":"5f80aa7f2bdb3a30","name":"","payload":"","x":130,"y":420,"wires":[["8b17e67463bdf7c9"]]},{"id":"cdba0cccba5e3e65","type":"comment","z":"5f80aa7f2bdb3a30","name":"Interleave","info":"","x":140,"y":380,"wires":[]},{"id":"e137d7081f41559c","type":"Cold","z":"5f80aa7f2bdb3a30","name":"","eventType":"request","x":290,"y":140,"wires":[["ce4b99b515d2fb25"]]},{"id":"ce4b99b515d2fb25","type":"Cold","z":"5f80aa7f2bdb3a30","name":"","eventType":"request","x":430,"y":140,"wires":[["b2ecab789014b4ae"]]},{"id":"b2ecab789014b4ae","type":"Cold","z":"5f80aa7f2bdb3a30","name":"","eventType":"request","x":570,"y":140,"wires":[[]]},{"id":"6608525895e76d48","type":"Hot","z":"5f80aa7f2bdb3a30","name":"","eventType":"request","x":450,"y":260,"wires":[["aa3249f62020e888"]]},{"id":"8b17e67463bdf7c9","type":"Cold","z":"5f80aa7f2bdb3a30","g":"4d4aeffaa163f468","name":"","eventType":"waitFor","x":350,"y":420,"wires":[[]]},{"id":"b38a9c93fd47a8f1","type":"Hot","z":"5f80aa7f2bdb3a30","g":"6caa57b3655a713a","name":"","eventType":"waitFor","x":610,"y":500,"wires":[["8b17e67463bdf7c9"]]},{"id":"5be39bda725a0b18","type":"Cold","z":"5f80aa7f2bdb3a30","g":"6caa57b3655a713a","name":"","eventType":"block","x":610,"y":420,"wires":[[]]},{"id":"f68e277bc097085d","type":"Hot","z":"5f80aa7f2bdb3a30","g":"4d4aeffaa163f468","name":"","eventType":"block","x":350,"y":500,"wires":[[]]}]