packages/node_modules/@bp/nodes/examples/02 - Hot Cold Regions.json
[{"id":"6725b1d233dacc72","type":"tab","label":"Hot Cold (Regions)","disabled":false,"info":"","env":[]},{"id":"61f93d8c4ede4be6","type":"group","z":"6725b1d233dacc72","name":"","style":{"stroke":"#777777","label":true,"color":"#000000"},"nodes":["d25f7f1ab0cb1988","b18e70db0c0f16ba"],"x":294,"y":379,"w":152,"h":142},{"id":"84a967d1443c2575","type":"group","z":"6725b1d233dacc72","name":"","style":{"stroke":"#777777","label":true,"color":"#000000"},"nodes":["4dab6412a1b4ca2a","51e43bf94ac0b16c"],"x":494,"y":379,"w":152,"h":142},{"id":"8908c8e3530475f4","type":"comment","z":"6725b1d233dacc72","name":"Interleave","info":"","x":160,"y":400,"wires":[]},{"id":"6ba9bd3daceedeaf","type":"start","z":"6725b1d233dacc72","name":"","x":150,"y":440,"wires":[["d25f7f1ab0cb1988"]]},{"id":"45789e2d3d2dc4fc","type":"start","z":"6725b1d233dacc72","name":"","payload":"{\"request\":\"hot\"}","x":150,"y":180,"wires":[["376c02977f5b9b50"]]},{"id":"7fbd9bdafac7b022","type":"comment","z":"6725b1d233dacc72","name":"Hot","info":"","x":150,"y":140,"wires":[]},{"id":"6d56091258f94dc4","type":"start","z":"6725b1d233dacc72","name":"","payload":"{\"request\":\"cold\"}","x":150,"y":300,"wires":[["d2c8db8ce29255d3"]]},{"id":"bf0e99967764861f","type":"comment","z":"6725b1d233dacc72","name":"Cold","info":"","x":150,"y":260,"wires":[]},{"id":"d2c8db8ce29255d3","type":"loop","z":"6725b1d233dacc72","name":"","list":"","from":"0","skip":"1","to":"3","x":320,"y":300,"wires":[["b43f6c8ce2bb237b"],[]]},{"id":"b43f6c8ce2bb237b","type":"Hot","z":"6725b1d233dacc72","internalFields":"[]","name":"","eventType":"request","x":470,"y":300,"wires":[["d2c8db8ce29255d3"]]},{"id":"376c02977f5b9b50","type":"Cold","z":"6725b1d233dacc72","internalFields":"[]","name":"","eventType":"request","x":330,"y":180,"wires":[["d67338be558d176a"]]},{"id":"d67338be558d176a","type":"Cold","z":"6725b1d233dacc72","internalFields":"[]","name":"","eventType":"request","x":470,"y":180,"wires":[["ee18cc83f629f4a2"]]},{"id":"ee18cc83f629f4a2","type":"Cold","z":"6725b1d233dacc72","internalFields":"[]","name":"","eventType":"request","x":610,"y":180,"wires":[[]]},{"id":"d25f7f1ab0cb1988","type":"Cold","z":"6725b1d233dacc72","g":"61f93d8c4ede4be6","internalFields":"[]","name":"","eventType":"waitFor","x":370,"y":420,"wires":[["4dab6412a1b4ca2a"]]},{"id":"b18e70db0c0f16ba","type":"Hot","z":"6725b1d233dacc72","g":"61f93d8c4ede4be6","internalFields":"[]","name":"","eventType":"block","x":370,"y":480,"wires":[[]]},{"id":"4dab6412a1b4ca2a","type":"Hot","z":"6725b1d233dacc72","g":"84a967d1443c2575","internalFields":"[]","name":"","eventType":"waitFor","x":570,"y":480,"wires":[["d25f7f1ab0cb1988"]]},{"id":"51e43bf94ac0b16c","type":"Cold","z":"6725b1d233dacc72","g":"84a967d1443c2575","internalFields":"[]","name":"","eventType":"block","x":570,"y":420,"wires":[[]]}]