packages/node_modules/@bp/nodes/examples/03 - Block Breakupon idiom.json
[{"id":"92dce03a.46929","type":"tab","label":"Do while breakupon","disabled":false,"info":"# Meet the banker\n## Version 3\n\nTwo flows, one for a general case and for exempting the behavior for a meeting with a cashier."},{"id":"d92dff62.ee1d5","type":"group","z":"92dce03a.46929","name":"","style":{"stroke":"#000000","label":true,"color":"#000000"},"nodes":["9e213e69.6dd1f","f4b0e494.4bf398","d6ca64c3.ee5078","ff6e8621.6e0e08","5325824a.15969c"],"x":494,"y":199,"w":402,"h":202},{"id":"26e4e95d.702b26","type":"comment","z":"92dce03a.46929","name":"Legend:","info":"","x":200,"y":380,"wires":[]},{"id":"44f363da.e1419c","type":"Approval","z":"92dce03a.46929","name":"Green = wait for this event","eventType":"waitFor","x":260,"y":420,"wires":[[]],"icon":"font-awesome/fa-angle-right"},{"id":"1083820e.e16cae","type":"Approval","z":"92dce03a.46929","name":"Blue = request this event","eventType":"request","x":250,"y":460,"wires":[[]],"icon":"font-awesome/fa-angle-right"},{"id":"2af77835.785e48","type":"Approval","z":"92dce03a.46929","name":"Red = block this event","eventType":"block","x":240,"y":500,"wires":[[]],"icon":"font-awesome/fa-angle-right"},{"id":"ce81b83c.e2fb08","type":"start","z":"92dce03a.46929","name":"","payload":"","x":90,"y":120,"wires":[["fb8b0307.3909a"]]},{"id":"fb8b0307.3909a","type":"Login","z":"92dce03a.46929","Username":"israel_israeli","Password":"myPass123!","internalFields":"[{\"name\":\"Username\",\"type\":\"text\",\"defaultValue\":\"\"},{\"name\":\"Password\",\"type\":\"text\",\"defaultValue\":\"\"}]","name":"","eventType":"request","x":230,"y":120,"wires":[["db8b55dd.285d58"]]},{"id":"db8b55dd.285d58","type":"dashboard","z":"92dce03a.46929","name":"","eventType":"request","meeting":"select","service":"select","internalFields":"[{\"name\":\"service\",\"type\":\"select\",\"defaultValue\":\"select\",\"options\":{\"select\":[\"Select meeting type first\"],\"banker\":[\"Select\",\"Banker service 1\",\"Banker service 2\"],\"cashier\":[\"Select\",\"Cashier service 1\",\"Cashier service 2\",\"Cashier service 3\"],\"invest\":[\"Select\",\"Investment service 1\",\"Investment service 2\"]}},{\"name\":\"meeting\",\"type\":\"select\",\"defaultValue\":\"select\",\"options\":{\"select\":\"Select\",\"banker\":\"Banker\",\"cashier\":\"Cashier\",\"invest\":\"Invest\"}}]","x":390,"y":120,"wires":[["310c12f8.7709ee"]]},{"id":"310c12f8.7709ee","type":"SetTime","z":"92dce03a.46929","Time":"select","internalFields":"[{\"name\":\"Time\",\"type\":\"select\",\"defaultValue\":\"select\",\"options\":{\"09:00\":\"09:00\",\"09:15\":\"09:15\",\"09:45\":\"09:45\",\"12:00\":\"12:00\",\"14:15\":\"14:15\",\"16:00\":\"16:00\",\"16:15\":\"16:15\",\"18:00\":\"18:00\"}}]","name":"","eventType":"request","x":560,"y":120,"wires":[["c859a0d0.44bd2"]]},{"id":"c859a0d0.44bd2","type":"ContactAndRemarks","z":"92dce03a.46929","Phone":"","Remarks":"","internalFields":"[{\"name\":\"Phone\",\"type\":\"text\",\"defaultValue\":\"\"},{\"name\":\"Remarks\",\"type\":\"text\",\"defaultValue\":\"\"}]","name":"","eventType":"request","x":750,"y":120,"wires":[["7239d517.65fd7c"]]},{"id":"7239d517.65fd7c","type":"Confirm","z":"92dce03a.46929","name":"","eventType":"request","x":940,"y":120,"wires":[["b062f814.553ef8"]]},{"id":"b062f814.553ef8","type":"Approval","z":"92dce03a.46929","name":"","eventType":"request","x":1100,"y":120,"wires":[[]]},{"id":"7b299bbd.f72614","type":"start","z":"92dce03a.46929","name":"","x":90,"y":240,"wires":[["71704001.37b71"]]},{"id":"71704001.37b71","type":"dashboard","z":"92dce03a.46929","name":"Dashboard (meeting = cashier)","eventType":"waitFor","meeting":"cashier","service":"select","internalFields":"[{\"name\":\"service\",\"type\":\"select\",\"defaultValue\":\"select\",\"options\":{\"select\":[\"Select meeting type first\"],\"banker\":[\"Select\",\"Banker service 1\",\"Banker service 2\"],\"cashier\":[\"Select\",\"Cashier service 1\",\"Cashier service 2\",\"Cashier service 3\"],\"invest\":[\"Select\",\"Investment service 1\",\"Investment service 2\"]}},{\"name\":\"meeting\",\"type\":\"select\",\"defaultValue\":\"select\",\"options\":{\"select\":\"Select\",\"banker\":\"Banker\",\"cashier\":\"Cashier\",\"invest\":\"Invest\"}}]","x":310,"y":240,"wires":[["9e213e69.6dd1f"]]},{"id":"9e213e69.6dd1f","type":"SetBranch","z":"92dce03a.46929","g":"d92dff62.ee1d5","Branch":"select","internalFields":"[{\"name\":\"Branch\",\"type\":\"select\",\"defaultValue\":\"select\",\"options\":{\"517-לבהעיר\":\"517 - לב העיר\",\"0517-שאולהמלך\":\"0517 - שאול המלך\",\"94-גרנדקניון\":\"94 - גרנד קניון\"}}]","name":"","eventType":"request","x":590,"y":240,"wires":[["ff6e8621.6e0e08"]]},{"id":"2b499856.7e55f8","type":"switch","z":"92dce03a.46929","name":"No-event node","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":220,"y":540,"wires":[[]],"icon":"font-awesome/fa-angle-right"},{"id":"f4b0e494.4bf398","type":"SetTime","z":"92dce03a.46929","g":"d92dff62.ee1d5","Time":"select","internalFields":"[{\"name\":\"Time\",\"type\":\"select\",\"defaultValue\":\"select\",\"options\":{\"09:00\":\"09:00\",\"09:15\":\"09:15\",\"09:45\":\"09:45\",\"12:00\":\"12:00\",\"14:15\":\"14:15\",\"16:00\":\"16:00\",\"16:15\":\"16:15\",\"18:00\":\"18:00\"}}]","name":"","eventType":"block","x":580,"y":360,"wires":[[]]},{"id":"d6ca64c3.ee5078","type":"Confirm","z":"92dce03a.46929","g":"d92dff62.ee1d5","name":"","eventType":"waitFor","x":580,"y":300,"wires":[["1fdc054b.0a35fb"]]},{"id":"ff6e8621.6e0e08","type":"bsync","z":"92dce03a.46929","g":"d92dff62.ee1d5","name":"","request":"","waitFor":"","block":"","x":770,"y":240,"wires":[["5325824a.15969c"]]},{"id":"5325824a.15969c","type":"bsync","z":"92dce03a.46929","g":"d92dff62.ee1d5","name":"","request":"","waitFor":"","block":"","x":820,"y":300,"wires":[["653e771e.322608"]]},{"id":"653e771e.322608","type":"bsync","z":"92dce03a.46929","name":"","request":"","waitFor":"","block":"","x":1020,"y":260,"wires":[[]]},{"id":"1fdc054b.0a35fb","type":"bsync","z":"92dce03a.46929","name":"","request":"","waitFor":"","block":"","x":940,"y":500,"wires":[[]]}]