packages/node_modules/@bp/nodes/examples/03 - PrestaShop.json
[
    {
        "id": "8d8056f015ecb89e",
        "type": "tab",
        "label": "Presta Shop",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4f5953297b3f0f37",
        "type": "group",
        "z": "8d8056f015ecb89e",
        "name": "",
        "style": {
            "label": true
        },
        "nodes": [
            "ead7f6e31f3ab965",
            "0787a3be8e2dde90",
            "754914b6141d8740",
            "0520a39548826e77",
            "e85df94b44b1575e",
            "e77ea436ddc505d2",
            "04956173df8a08e6",
            "73642deec3188f76",
            "bfc5983520490de7",
            "02c195f6fb7b8dd3",
            "bade1c18f28a54dc",
            "1877465eab0543a6",
            "ebe3f85bb7a07733"
        ],
        "x": 594,
        "y": 439,
        "w": 852,
        "h": 342
    },
    {
        "id": "1a934a092c74e8e9",
        "type": "start",
        "z": "8d8056f015ecb89e",
        "name": "",
        "payload": "{}",
        "x": 90,
        "y": 260,
        "wires": [
            [
                "8df7e2e04f5433e2"
            ]
        ]
    },
    {
        "id": "8df7e2e04f5433e2",
        "type": "browser",
        "z": "8d8056f015ecb89e",
        "name": "",
        "page": "qkHZghWS3p",
        "url": "http://localhost:8080/",
        "x": 280,
        "y": 260,
        "wires": [
            [
                "61150187cbd96b79"
            ]
        ]
    },
    {
        "id": "61150187cbd96b79",
        "type": "Login",
        "z": "8d8056f015ecb89e",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"page\",\"username\",\"password\"]",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "usernameType": "str",
        "username": "",
        "usernameRType": "str",
        "usernameR": "bob.smith@prestashop.com",
        "passwordType": "str",
        "password": "",
        "passwordRType": "str",
        "passwordR": "bob.smith@prestashop.com",
        "x": 470,
        "y": 260,
        "wires": [
            [
                "639448aac56e46e2"
            ]
        ]
    },
    {
        "id": "62cb99b593bcd6d7",
        "type": "start",
        "z": "8d8056f015ecb89e",
        "name": "",
        "payload": "{}",
        "x": 90,
        "y": 480,
        "wires": [
            [
                "4cda2b9d957e9317",
                "6b5dd24bbe94cbbe",
                "0f30122b3626579b"
            ]
        ]
    },
    {
        "id": "4cda2b9d957e9317",
        "type": "Login",
        "z": "8d8056f015ecb89e",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"page\",\"username\",\"password\"]",
        "pageType": "msg",
        "page": "",
        "pageRType": "msg",
        "pageR": "tmp",
        "usernameType": "str",
        "username": "",
        "usernameRType": "str",
        "usernameR": "tmp",
        "passwordType": "str",
        "password": "",
        "passwordRType": "str",
        "passwordR": "tmp",
        "x": 270,
        "y": 560,
        "wires": [
            [
                "7a1a26b7ad3bd336"
            ]
        ]
    },
    {
        "id": "7a1a26b7ad3bd336",
        "type": "change",
        "z": "8d8056f015ecb89e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "page",
                "pt": "msg",
                "to": "lastEvent.page",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "username",
                "pt": "msg",
                "to": "lastEvent.username",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "password",
                "pt": "msg",
                "to": "lastEvent.password",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 560,
        "wires": [
            [
                "ead7f6e31f3ab965",
                "4cda2b9d957e9317"
            ]
        ]
    },
    {
        "id": "6b5dd24bbe94cbbe",
        "type": "Logout",
        "z": "8d8056f015ecb89e",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"page\"]",
        "pageType": "msg",
        "page": "",
        "pageRType": "msg",
        "pageR": "tmp",
        "x": 270,
        "y": 480,
        "wires": [
            [
                "c9d3c17f89a896b7"
            ]
        ]
    },
    {
        "id": "c9d3c17f89a896b7",
        "type": "change",
        "z": "8d8056f015ecb89e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "page",
                "pt": "msg",
                "to": "lastEvent.page",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 480,
        "wires": [
            [
                "e77ea436ddc505d2",
                "6b5dd24bbe94cbbe"
            ]
        ]
    },
    {
        "id": "ead7f6e31f3ab965",
        "type": "Click",
        "z": "8d8056f015ecb89e",
        "g": "4f5953297b3f0f37",
        "name": "Click Login",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#_desktop_user_info span",
        "x": 690,
        "y": 560,
        "wires": [
            [
                "0787a3be8e2dde90"
            ]
        ]
    },
    {
        "id": "0787a3be8e2dde90",
        "type": "Type",
        "z": "8d8056f015ecb89e",
        "g": "4f5953297b3f0f37",
        "name": "Type username",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\",\"text\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#field-email",
        "textType": "str",
        "text": "",
        "textRType": "msg",
        "textR": "username",
        "x": 860,
        "y": 560,
        "wires": [
            [
                "754914b6141d8740"
            ]
        ]
    },
    {
        "id": "754914b6141d8740",
        "type": "Type",
        "z": "8d8056f015ecb89e",
        "g": "4f5953297b3f0f37",
        "name": "Type password",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\",\"text\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#field-password",
        "textType": "str",
        "text": "",
        "textRType": "msg",
        "textR": "password",
        "x": 1040,
        "y": 560,
        "wires": [
            [
                "0520a39548826e77"
            ]
        ]
    },
    {
        "id": "0520a39548826e77",
        "type": "KeyboardDown",
        "z": "8d8056f015ecb89e",
        "g": "4f5953297b3f0f37",
        "name": "Press Enter",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"key\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "keyType": "str",
        "key": "",
        "keyRType": "str",
        "keyR": "Enter",
        "x": 1210,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "e85df94b44b1575e",
        "type": "Login",
        "z": "8d8056f015ecb89e",
        "g": "4f5953297b3f0f37",
        "name": "",
        "eventType": "block",
        "internalFields": "[\"page\",\"username\",\"password\"]",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "tmp",
        "usernameType": "str",
        "username": "",
        "usernameRType": "str",
        "usernameR": "tmp",
        "passwordType": "str",
        "password": "",
        "passwordRType": "str",
        "passwordR": "tmp",
        "x": 670,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "e77ea436ddc505d2",
        "type": "Click",
        "z": "8d8056f015ecb89e",
        "g": "4f5953297b3f0f37",
        "name": "Click Logout",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "a.logout",
        "x": 690,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "04956173df8a08e6",
        "type": "Logout",
        "z": "8d8056f015ecb89e",
        "g": "4f5953297b3f0f37",
        "name": "",
        "eventType": "block",
        "internalFields": "[\"page\"]",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "tmp",
        "x": 790,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "1b5d9fb705092a52",
        "type": "change",
        "z": "8d8056f015ecb89e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "page",
                "pt": "msg",
                "to": "lastEvent.page",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "category",
                "pt": "msg",
                "to": "lastEvent.category",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "product",
                "pt": "msg",
                "to": "lastEvent.product",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "quantity",
                "pt": "msg",
                "to": "lastEvent.quantity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 640,
        "wires": [
            [
                "0f30122b3626579b",
                "73642deec3188f76"
            ]
        ]
    },
    {
        "id": "0f30122b3626579b",
        "type": "AddToCart",
        "z": "8d8056f015ecb89e",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"page\",\"category\",\"product\",\"quantity\"]",
        "pageType": "msg",
        "page": "",
        "pageRType": "msg",
        "pageR": "tmp",
        "categoryType": "str",
        "category": "",
        "categoryRType": "str",
        "categoryR": "tmp",
        "productType": "str",
        "product": "",
        "productRType": "str",
        "productR": "tmp",
        "quantityType": "num",
        "quantity": "",
        "quantityRType": "num",
        "quantityR": "0",
        "x": 290,
        "y": 640,
        "wires": [
            [
                "1b5d9fb705092a52"
            ]
        ]
    },
    {
        "id": "73642deec3188f76",
        "type": "Click",
        "z": "8d8056f015ecb89e",
        "g": "4f5953297b3f0f37",
        "name": "Click \\n the category",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "jsonata",
        "locatorR": "$join([\"text=\", category])",
        "x": 690,
        "y": 640,
        "wires": [
            [
                "bfc5983520490de7"
            ]
        ]
    },
    {
        "id": "bfc5983520490de7",
        "type": "Click",
        "z": "8d8056f015ecb89e",
        "g": "4f5953297b3f0f37",
        "name": "Click \\n the product",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "jsonata",
        "locatorR": "\"xpath=//a[contains(.,'\" & product & \"')]\"",
        "x": 850,
        "y": 640,
        "wires": [
            [
                "02c195f6fb7b8dd3"
            ]
        ]
    },
    {
        "id": "02c195f6fb7b8dd3",
        "type": "Type",
        "z": "8d8056f015ecb89e",
        "g": "4f5953297b3f0f37",
        "name": "Type \\n Quantity",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\",\"text\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#quantity_wanted",
        "textType": "str",
        "text": "",
        "textRType": "msg",
        "textR": "quantity",
        "x": 1000,
        "y": 640,
        "wires": [
            [
                "bade1c18f28a54dc"
            ]
        ]
    },
    {
        "id": "bade1c18f28a54dc",
        "type": "Click",
        "z": "8d8056f015ecb89e",
        "g": "4f5953297b3f0f37",
        "name": "Click \\n Add To Cart",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "text=Add to cart",
        "x": 1150,
        "y": 640,
        "wires": [
            [
                "1877465eab0543a6"
            ]
        ]
    },
    {
        "id": "1877465eab0543a6",
        "type": "Click",
        "z": "8d8056f015ecb89e",
        "g": "4f5953297b3f0f37",
        "name": "Click \\n Continue shopping",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "text=Continue shopping",
        "x": 1330,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "639448aac56e46e2",
        "type": "AddToCart",
        "z": "8d8056f015ecb89e",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"page\",\"category\",\"product\",\"quantity\"]",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "categoryType": "str",
        "category": "",
        "categoryRType": "str",
        "categoryR": "Art",
        "productType": "str",
        "product": "",
        "productRType": "str",
        "productR": "The adventure begins",
        "quantityType": "num",
        "quantity": "",
        "quantityRType": "num",
        "quantityR": "3",
        "x": 630,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "ebe3f85bb7a07733",
        "type": "AddToCart",
        "z": "8d8056f015ecb89e",
        "g": "4f5953297b3f0f37",
        "name": "",
        "eventType": "block",
        "internalFields": "[\"page\",\"category\",\"product\",\"quantity\"]",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "tmp",
        "categoryType": "str",
        "category": "",
        "categoryRType": "str",
        "categoryR": "tmp",
        "productType": "str",
        "product": "",
        "productRType": "str",
        "productR": "tmp",
        "quantityType": "num",
        "quantity": "",
        "quantityRType": "num",
        "quantityR": "0",
        "x": 930,
        "y": 740,
        "wires": [
            []
        ]
    }
]