packages/node_modules/@bp/nodes/examples/03 - PrestaShop.json
[
    {
        "id": "41cd568ae0e57778",
        "type": "tab",
        "label": "Presta Shop",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3ae259861eddfcf7",
        "type": "group",
        "z": "41cd568ae0e57778",
        "name": "",
        "style": {
            "label": true
        },
        "nodes": [
            "8048055b716bf455",
            "745b8af6aff782c1",
            "4e1246dc2703a308",
            "8ccd1b897bb55f43",
            "b07b48f875a5e4f8",
            "060f85f2147ee9c6",
            "55f7647aed9dbcdd",
            "476d093eca8bdf91",
            "4130ffaa2f51b465",
            "689b30973c8bdcce",
            "b2a09eef0f70eac8",
            "41bb9efc6abe0e83",
            "a65d15a545a8f01a",
            "6cf1aeffe8bea6c3",
            "3e904dfcdd27ad9f",
            "e6506e5384e302dc",
            "0a35f8e8aea870da",
            "b658a28d5826b5b1"
        ],
        "x": 594,
        "y": 439,
        "w": 1052,
        "h": 402
    },
    {
        "id": "1c3f3a4e03db87be",
        "type": "start",
        "z": "41cd568ae0e57778",
        "name": "",
        "payload": "{}",
        "x": 90,
        "y": 260,
        "wires": [
            [
                "148961d996f21984"
            ]
        ]
    },
    {
        "id": "148961d996f21984",
        "type": "browser",
        "z": "41cd568ae0e57778",
        "name": "",
        "page": "qkHZghWS3p",
        "url": "http://localhost:8080/",
        "x": 280,
        "y": 260,
        "wires": [
            [
                "bbdb362c91ded9b2"
            ]
        ]
    },
    {
        "id": "bbdb362c91ded9b2",
        "type": "Login",
        "z": "41cd568ae0e57778",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"page\",\"username\",\"password\"]",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "usernameType": "str",
        "username": "",
        "usernameRType": "str",
        "usernameR": "bob.smith@prestashop.com",
        "passwordType": "str",
        "password": "",
        "passwordRType": "str",
        "passwordR": "bob.smith@prestashop.com",
        "x": 470,
        "y": 260,
        "wires": [
            [
                "6d4813259fd588b2"
            ]
        ]
    },
    {
        "id": "78d46282622d9cd1",
        "type": "start",
        "z": "41cd568ae0e57778",
        "name": "",
        "payload": "{}",
        "x": 70,
        "y": 600,
        "wires": [
            [
                "c97dc81ee3f7e699",
                "46825041e185e560",
                "d8d9578a01144e07",
                "c899621df87ca239"
            ]
        ]
    },
    {
        "id": "c97dc81ee3f7e699",
        "type": "Login",
        "z": "41cd568ae0e57778",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"page\",\"username\",\"password\"]",
        "pageType": "msg",
        "page": "",
        "pageRType": "msg",
        "pageR": "tmp",
        "usernameType": "str",
        "username": "",
        "usernameRType": "str",
        "usernameR": "tmp",
        "passwordType": "str",
        "password": "",
        "passwordRType": "str",
        "passwordR": "tmp",
        "x": 270,
        "y": 560,
        "wires": [
            [
                "f7cb2de438aa5279"
            ]
        ]
    },
    {
        "id": "f7cb2de438aa5279",
        "type": "change",
        "z": "41cd568ae0e57778",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "page",
                "pt": "msg",
                "to": "lastEvent.page",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "username",
                "pt": "msg",
                "to": "lastEvent.username",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "password",
                "pt": "msg",
                "to": "lastEvent.password",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 560,
        "wires": [
            [
                "8048055b716bf455",
                "c97dc81ee3f7e699"
            ]
        ]
    },
    {
        "id": "46825041e185e560",
        "type": "Logout",
        "z": "41cd568ae0e57778",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"page\"]",
        "pageType": "msg",
        "page": "",
        "pageRType": "msg",
        "pageR": "tmp",
        "x": 270,
        "y": 480,
        "wires": [
            [
                "40d05d0290c285ab"
            ]
        ]
    },
    {
        "id": "40d05d0290c285ab",
        "type": "change",
        "z": "41cd568ae0e57778",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "page",
                "pt": "msg",
                "to": "lastEvent.page",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 480,
        "wires": [
            [
                "8ccd1b897bb55f43",
                "46825041e185e560"
            ]
        ]
    },
    {
        "id": "8048055b716bf455",
        "type": "Click",
        "z": "41cd568ae0e57778",
        "g": "3ae259861eddfcf7",
        "name": "Click Login",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#_desktop_user_info span",
        "x": 690,
        "y": 560,
        "wires": [
            [
                "a65d15a545a8f01a"
            ]
        ]
    },
    {
        "id": "a65d15a545a8f01a",
        "type": "Type",
        "z": "41cd568ae0e57778",
        "g": "3ae259861eddfcf7",
        "name": "Type username",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\",\"text\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#field-email",
        "textType": "str",
        "text": "",
        "textRType": "msg",
        "textR": "username",
        "x": 860,
        "y": 560,
        "wires": [
            [
                "6cf1aeffe8bea6c3"
            ]
        ]
    },
    {
        "id": "6cf1aeffe8bea6c3",
        "type": "Type",
        "z": "41cd568ae0e57778",
        "g": "3ae259861eddfcf7",
        "name": "Type password",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\",\"text\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#field-password",
        "textType": "str",
        "text": "",
        "textRType": "msg",
        "textR": "password",
        "x": 1040,
        "y": 560,
        "wires": [
            [
                "745b8af6aff782c1"
            ]
        ]
    },
    {
        "id": "745b8af6aff782c1",
        "type": "KeyboardDown",
        "z": "41cd568ae0e57778",
        "g": "3ae259861eddfcf7",
        "name": "Press Enter",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"key\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "keyType": "str",
        "key": "",
        "keyRType": "str",
        "keyR": "Enter",
        "x": 1210,
        "y": 560,
        "wires": [
            [
                "b2a09eef0f70eac8"
            ]
        ]
    },
    {
        "id": "4e1246dc2703a308",
        "type": "Login",
        "z": "41cd568ae0e57778",
        "g": "3ae259861eddfcf7",
        "name": "",
        "eventType": "block",
        "internalFields": "[\"page\",\"username\",\"password\"]",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "tmp",
        "usernameType": "str",
        "username": "",
        "usernameRType": "str",
        "usernameR": "tmp",
        "passwordType": "str",
        "password": "",
        "passwordRType": "str",
        "passwordR": "tmp",
        "x": 670,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "8ccd1b897bb55f43",
        "type": "Click",
        "z": "41cd568ae0e57778",
        "g": "3ae259861eddfcf7",
        "name": "Click Logout",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "a.logout",
        "x": 690,
        "y": 480,
        "wires": [
            [
                "b2a09eef0f70eac8"
            ]
        ]
    },
    {
        "id": "b07b48f875a5e4f8",
        "type": "Logout",
        "z": "41cd568ae0e57778",
        "g": "3ae259861eddfcf7",
        "name": "",
        "eventType": "block",
        "internalFields": "[\"page\"]",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "tmp",
        "x": 790,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "cdfc7b09e9d2354d",
        "type": "change",
        "z": "41cd568ae0e57778",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "page",
                "pt": "msg",
                "to": "lastEvent.page",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "category",
                "pt": "msg",
                "to": "lastEvent.category",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "product",
                "pt": "msg",
                "to": "lastEvent.product",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "quantity",
                "pt": "msg",
                "to": "lastEvent.quantity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 640,
        "wires": [
            [
                "d8d9578a01144e07",
                "060f85f2147ee9c6"
            ]
        ]
    },
    {
        "id": "d8d9578a01144e07",
        "type": "AddToCart",
        "z": "41cd568ae0e57778",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"page\",\"category\",\"product\",\"quantity\"]",
        "pageType": "msg",
        "page": "",
        "pageRType": "msg",
        "pageR": "tmp",
        "categoryType": "str",
        "category": "",
        "categoryRType": "str",
        "categoryR": "tmp",
        "productType": "str",
        "product": "",
        "productRType": "str",
        "productR": "tmp",
        "quantityType": "num",
        "quantity": "",
        "quantityRType": "num",
        "quantityR": "0",
        "x": 290,
        "y": 640,
        "wires": [
            [
                "cdfc7b09e9d2354d"
            ]
        ]
    },
    {
        "id": "060f85f2147ee9c6",
        "type": "Click",
        "z": "41cd568ae0e57778",
        "g": "3ae259861eddfcf7",
        "name": "Click \\n the category",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "jsonata",
        "locatorR": "$join([\"text=\", category])",
        "x": 690,
        "y": 640,
        "wires": [
            [
                "55f7647aed9dbcdd"
            ]
        ]
    },
    {
        "id": "55f7647aed9dbcdd",
        "type": "Click",
        "z": "41cd568ae0e57778",
        "g": "3ae259861eddfcf7",
        "name": "Click \\n the product",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "jsonata",
        "locatorR": "\"xpath=//a[contains(.,'\" & product & \"')]\"",
        "x": 850,
        "y": 640,
        "wires": [
            [
                "41bb9efc6abe0e83"
            ]
        ]
    },
    {
        "id": "476d093eca8bdf91",
        "type": "Click",
        "z": "41cd568ae0e57778",
        "g": "3ae259861eddfcf7",
        "name": "Click \\n Add To Cart",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "text=Add to cart",
        "x": 1150,
        "y": 640,
        "wires": [
            [
                "4130ffaa2f51b465"
            ]
        ]
    },
    {
        "id": "4130ffaa2f51b465",
        "type": "Click",
        "z": "41cd568ae0e57778",
        "g": "3ae259861eddfcf7",
        "name": "Click \\n Continue shopping",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "text=Continue shopping",
        "x": 1330,
        "y": 640,
        "wires": [
            [
                "b2a09eef0f70eac8"
            ]
        ]
    },
    {
        "id": "6d4813259fd588b2",
        "type": "AddToCart",
        "z": "41cd568ae0e57778",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"page\",\"category\",\"product\",\"quantity\"]",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "categoryType": "str",
        "category": "",
        "categoryRType": "str",
        "categoryR": "Art",
        "productType": "str",
        "product": "",
        "productRType": "str",
        "productR": "The adventure begins",
        "quantityType": "num",
        "quantity": "",
        "quantityRType": "num",
        "quantityR": "3",
        "x": 630,
        "y": 260,
        "wires": [
            [
                "d6e9c5052db4035b"
            ]
        ]
    },
    {
        "id": "689b30973c8bdcce",
        "type": "AddToCart",
        "z": "41cd568ae0e57778",
        "g": "3ae259861eddfcf7",
        "name": "",
        "eventType": "block",
        "internalFields": "[\"page\",\"category\",\"product\",\"quantity\"]",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "tmp",
        "categoryType": "str",
        "category": "",
        "categoryRType": "str",
        "categoryR": "tmp",
        "productType": "str",
        "product": "",
        "productRType": "str",
        "productR": "tmp",
        "quantityType": "num",
        "quantity": "",
        "quantityRType": "num",
        "quantityR": "0",
        "x": 930,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "2e165d28b8daac92",
        "type": "Screenshot",
        "z": "41cd568ae0e57778",
        "name": "1st screenshot",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"path\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "pathType": "str",
        "path": "",
        "pathRType": "str",
        "pathR": "screenshot.jpg",
        "x": 960,
        "y": 260,
        "wires": [
            [
                "ad7cd568e86a4485"
            ]
        ]
    },
    {
        "id": "b2a09eef0f70eac8",
        "type": "EndOfAction",
        "z": "41cd568ae0e57778",
        "g": "3ae259861eddfcf7",
        "name": "EOA",
        "eventType": "request",
        "internalFields": "[\"page\"]",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "x": 1570,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "d6e9c5052db4035b",
        "type": "EndOfAction",
        "z": "41cd568ae0e57778",
        "name": "EOA",
        "eventType": "waitFor",
        "internalFields": "[\"page\"]",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "tmp",
        "x": 790,
        "y": 260,
        "wires": [
            [
                "2e165d28b8daac92"
            ]
        ]
    },
    {
        "id": "41bb9efc6abe0e83",
        "type": "Fill",
        "z": "41cd568ae0e57778",
        "g": "3ae259861eddfcf7",
        "name": "Fill \\n Quantity",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\",\"text\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#quantity_wanted",
        "textType": "str",
        "text": "",
        "textRType": "msg",
        "textR": "quantity",
        "x": 1000,
        "y": 640,
        "wires": [
            [
                "476d093eca8bdf91"
            ]
        ]
    },
    {
        "id": "ad7cd568e86a4485",
        "type": "Logout",
        "z": "41cd568ae0e57778",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"page\"]",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "x": 1110,
        "y": 260,
        "wires": [
            [
                "9edf909c586a00bd"
            ]
        ]
    },
    {
        "id": "9edf909c586a00bd",
        "type": "Login",
        "z": "41cd568ae0e57778",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"page\",\"username\",\"password\"]",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "usernameType": "str",
        "username": "",
        "usernameRType": "str",
        "usernameR": "bob.smith@prestashop.com",
        "passwordType": "str",
        "password": "",
        "passwordRType": "str",
        "passwordR": "bob.smith@prestashop.com",
        "x": 1230,
        "y": 260,
        "wires": [
            [
                "a546ec26c7d65dbf"
            ]
        ]
    },
    {
        "id": "8d2b8f28d058c317",
        "type": "Screenshot",
        "z": "41cd568ae0e57778",
        "name": "2nd screenshot",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"path\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "pathType": "str",
        "path": "",
        "pathRType": "str",
        "pathR": "screenshot2.jpg",
        "x": 1500,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "a546ec26c7d65dbf",
        "type": "EndOfAction",
        "z": "41cd568ae0e57778",
        "name": "EOA",
        "eventType": "waitFor",
        "internalFields": "[\"page\"]",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "tmp",
        "x": 1350,
        "y": 260,
        "wires": [
            [
                "8d2b8f28d058c317"
            ]
        ]
    },
    {
        "id": "c899621df87ca239",
        "type": "AdminLogin",
        "z": "41cd568ae0e57778",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"page\",\"username\",\"password\"]",
        "pageType": "msg",
        "page": "",
        "pageRType": "msg",
        "pageR": "tmp",
        "usernameType": "str",
        "username": "",
        "usernameRType": "str",
        "usernameR": "tmp",
        "passwordType": "str",
        "password": "",
        "passwordRType": "str",
        "passwordR": "tmp",
        "x": 290,
        "y": 720,
        "wires": [
            [
                "05e67b6f10e2496f"
            ]
        ]
    },
    {
        "id": "05e67b6f10e2496f",
        "type": "change",
        "z": "41cd568ae0e57778",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "page",
                "pt": "msg",
                "to": "lastEvent.page",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "username",
                "pt": "msg",
                "to": "lastEvent.username",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "password",
                "pt": "msg",
                "to": "lastEvent.password",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 720,
        "wires": [
            [
                "c899621df87ca239",
                "3e904dfcdd27ad9f"
            ]
        ]
    },
    {
        "id": "3e904dfcdd27ad9f",
        "type": "Type",
        "z": "41cd568ae0e57778",
        "g": "3ae259861eddfcf7",
        "name": "Type username",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\",\"text\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#email",
        "textType": "str",
        "text": "",
        "textRType": "msg",
        "textR": "username",
        "x": 700,
        "y": 720,
        "wires": [
            [
                "e6506e5384e302dc"
            ]
        ]
    },
    {
        "id": "e6506e5384e302dc",
        "type": "Type",
        "z": "41cd568ae0e57778",
        "g": "3ae259861eddfcf7",
        "name": "Type password",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\",\"text\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#passwd",
        "textType": "str",
        "text": "",
        "textRType": "msg",
        "textR": "password",
        "x": 880,
        "y": 720,
        "wires": [
            [
                "0a35f8e8aea870da"
            ]
        ]
    },
    {
        "id": "0a35f8e8aea870da",
        "type": "KeyboardDown",
        "z": "41cd568ae0e57778",
        "g": "3ae259861eddfcf7",
        "name": "Press Enter",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"key\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "keyType": "str",
        "key": "",
        "keyRType": "str",
        "keyR": "Enter",
        "x": 1050,
        "y": 720,
        "wires": [
            [
                "b2a09eef0f70eac8"
            ]
        ]
    },
    {
        "id": "4cfbaae96bd8249a",
        "type": "start",
        "z": "41cd568ae0e57778",
        "name": "",
        "x": 90,
        "y": 380,
        "wires": [
            [
                "348f8679d5c82e84"
            ]
        ]
    },
    {
        "id": "348f8679d5c82e84",
        "type": "browser",
        "z": "41cd568ae0e57778",
        "name": "Open \\n Admin URL",
        "page": "cOd5Xh65Xj",
        "url": "http://localhost:8080/admina",
        "x": 270,
        "y": 380,
        "wires": [
            [
                "b3e8b4e01f1ae9d6"
            ]
        ]
    },
    {
        "id": "b3e8b4e01f1ae9d6",
        "type": "AdminLogin",
        "z": "41cd568ae0e57778",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"page\",\"username\",\"password\"]",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "usernameType": "str",
        "username": "",
        "usernameRType": "str",
        "usernameR": "demo@prestashop.com",
        "passwordType": "str",
        "password": "",
        "passwordRType": "str",
        "passwordR": "prestashop_demo",
        "x": 470,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "b658a28d5826b5b1",
        "type": "AdminLogin",
        "z": "41cd568ae0e57778",
        "g": "3ae259861eddfcf7",
        "name": "",
        "eventType": "block",
        "internalFields": "[\"page\",\"username\",\"password\"]",
        "pageType": "msg",
        "page": "",
        "pageRType": "msg",
        "pageR": "tmp",
        "usernameType": "str",
        "username": "",
        "usernameRType": "str",
        "usernameR": "tmp",
        "passwordType": "str",
        "password": "",
        "passwordRType": "str",
        "passwordR": "tmp",
        "x": 1090,
        "y": 800,
        "wires": [
            []
        ]
    }
]