packages/node_modules/@bp/nodes/examples/03 - Hot Cold Context.json
[{"id":"37b20146724e3cd6","type":"tab","label":"Hot Cold (Context)","disabled":false,"info":""},{"id":"17fe2837f7876b1b","type":"group","z":"37b20146724e3cd6","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["091cd041846f2866","98a408fabe3045bf"],"x":754,"y":299,"w":192,"h":162},{"id":"bbb728d9e8c202e8","type":"group","z":"37b20146724e3cd6","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["456ec6f64916639c","0d8b9fe194caf06a"],"x":994,"y":299,"w":192,"h":162},{"id":"88ce5f76bd06a3e4","type":"loop","z":"37b20146724e3cd6","name":"","list":"","from":"0","skip":"1","to":"3","x":870,"y":200,"wires":[["15c3a9c6adec1e51"],[]]},{"id":"0206b8cf9b73c20e","type":"comment","z":"37b20146724e3cd6","name":"Interleave","info":"","x":140,"y":300,"wires":[]},{"id":"f1898101e59465b5","type":"context-init","z":"37b20146724e3cd6","name":"","format":"javascript","template":"// Add entities\nctx.populateContext([\n  ctx.Entity('r1', 'room', { subtype: 'kitchen' }),\n  // ctx.Entity('r2', 'room', { subtype: 'bedroom' }),\n  // ctx.Entity('r3', 'room', { subtype: 'bathroom' }),\n  ctx.Entity('night', 'system', { on: false })\n]);\n\n// Specifies the contexts/layers preconditions\nctx.registerQuery('Night',\n  function (entity) {\n    return entity.id == 'night' && entity.on\n  })\nctx.registerQuery('Room.WithTaps',\n  function (entity) {\n    return entity.type == 'room' &&\n      entity.subtype == 'kitchen' || entity.subtype == 'bathroom'\n  })\n\n// Specify the effect of certain events on the context\nctx.registerEffect('Time', function (data) {\n  if(data.Time==\"08:00\") {\n    ctx.getEntityById('night').on = false\n  } else if (data.Time == \"21:00\") {\n    ctx.getEntityById('night').on = true\n  }\n})\n\nctx.registerQuery('Room.Kitchen',\n  function (entity) {\n    return entity.type == 'room' &&\n      'kitchen' == entity.subtype\n  })","x":140,"y":60,"wires":[]},{"id":"1c385987d52cfe0e","type":"context-start","z":"37b20146724e3cd6","name":"","context":"Room.WithTaps","quantity":"all","x":170,"y":140,"wires":[["f112c0f15240edeb"]]},{"id":"a78e76f5cefa2ce2","type":"context-start","z":"37b20146724e3cd6","name":"","context":"Room.Kitchen","quantity":"all","x":170,"y":340,"wires":[["74e3ed0a48847c41"]]},{"id":"5fc3a9ac6dd27071","type":"ColdRoom","z":"37b20146724e3cd6","RoomId":"","internalFields":"[{\"name\":\"RoomId\",\"type\":\"text\",\"defaultValue\":\"\"}]","name":"","eventType":"request","x":890,"y":120,"wires":[["a49fd30ac1c4e7f4"]]},{"id":"a49fd30ac1c4e7f4","type":"ColdRoom","z":"37b20146724e3cd6","RoomId":"","internalFields":"[{\"name\":\"RoomId\",\"type\":\"text\",\"defaultValue\":\"\"}]","name":"","eventType":"request","x":1050,"y":120,"wires":[["2a4266ecc8ee5454"]]},{"id":"2a4266ecc8ee5454","type":"ColdRoom","z":"37b20146724e3cd6","RoomId":"","internalFields":"[{\"name\":\"RoomId\",\"type\":\"text\",\"defaultValue\":\"\"}]","name":"","eventType":"request","x":1210,"y":120,"wires":[[]]},{"id":"15c3a9c6adec1e51","type":"HotRoom","z":"37b20146724e3cd6","RoomId":"","internalFields":"[{\"name\":\"RoomId\",\"type\":\"text\",\"defaultValue\":\"\"}]","name":"","eventType":"request","x":1040,"y":200,"wires":[["88ce5f76bd06a3e4"]]},{"id":"091cd041846f2866","type":"ColdRoom","z":"37b20146724e3cd6","g":"17fe2837f7876b1b","RoomId":"","internalFields":"[{\"name\":\"RoomId\",\"type\":\"text\",\"defaultValue\":\"\"}]","name":"","eventType":"waitFor","x":850,"y":340,"wires":[["0d8b9fe194caf06a"]]},{"id":"456ec6f64916639c","type":"ColdRoom","z":"37b20146724e3cd6","g":"bbb728d9e8c202e8","RoomId":"","internalFields":"[{\"name\":\"RoomId\",\"type\":\"text\",\"defaultValue\":\"\"}]","name":"","eventType":"block","x":1090,"y":340,"wires":[[]]},{"id":"98a408fabe3045bf","type":"HotRoom","z":"37b20146724e3cd6","g":"17fe2837f7876b1b","RoomId":"","internalFields":"[{\"name\":\"RoomId\",\"type\":\"text\",\"defaultValue\":\"\"}]","name":"","eventType":"block","x":840,"y":420,"wires":[[]]},{"id":"0d8b9fe194caf06a","type":"HotRoom","z":"37b20146724e3cd6","g":"bbb728d9e8c202e8","RoomId":"","internalFields":"[{\"name\":\"RoomId\",\"type\":\"text\",\"defaultValue\":\"\"}]","name":"","eventType":"waitFor","x":1080,"y":420,"wires":[["091cd041846f2866"]]},{"id":"74e3ed0a48847c41","type":"change","z":"37b20146724e3cd6","name":"","rules":[{"t":"set","p":"HotRoom","pt":"msg","to":"{\"RoomId\":context.entity.id}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":340,"wires":[["01d014bdc65d0f43"]]},{"id":"01d014bdc65d0f43","type":"change","z":"37b20146724e3cd6","name":"","rules":[{"t":"set","p":"ColdRoom","pt":"msg","to":"{\"RoomId\":context.entity.id}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":340,"wires":[["091cd041846f2866"]]},{"id":"f112c0f15240edeb","type":"change","z":"37b20146724e3cd6","name":"","rules":[{"t":"set","p":"HotRoom","pt":"msg","to":"{\"RoomId\":context.entity.id}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":140,"wires":[["69de542290f20848"]]},{"id":"69de542290f20848","type":"change","z":"37b20146724e3cd6","name":"","rules":[{"t":"set","p":"ColdRoom","pt":"msg","to":"{\"RoomId\":context.entity.id}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":140,"wires":[["5fc3a9ac6dd27071","88ce5f76bd06a3e4"]]},{"id":"8db5b5cf84deaf34","type":"context-start","z":"37b20146724e3cd6","name":"","context":"Night","quantity":"all","x":160,"y":540,"wires":[["4993fec35d279586"]]},{"id":"4993fec35d279586","type":"Vacuum","z":"37b20146724e3cd6","name":"","eventType":"block","x":340,"y":540,"wires":[[]]},{"id":"1079ef435c4c9f11","type":"start","z":"37b20146724e3cd6","name":"","x":150,"y":620,"wires":[["ea54f68245c0cbe6","eb9b34bb20200441"]]},{"id":"ea54f68245c0cbe6","type":"loop","z":"37b20146724e3cd6","name":"","list":"","from":"0","skip":"1","to":"3","x":330,"y":620,"wires":[["a814cae0d0480ac4"],[]]},{"id":"a814cae0d0480ac4","type":"Time","z":"37b20146724e3cd6","Time":"8:00","internalFields":"[{\"name\":\"Time\",\"type\":\"text\",\"defaultValue\":\"\"}]","name":"Time 8:00","eventType":"request","x":540,"y":620,"wires":[["5538df82a45ed17b"]]},{"id":"5538df82a45ed17b","type":"Time","z":"37b20146724e3cd6","Time":"21:00","internalFields":"[{\"name\":\"Time\",\"type\":\"text\",\"defaultValue\":\"\"}]","name":"Time 21:00","eventType":"request","x":730,"y":620,"wires":[["ea54f68245c0cbe6"]]},{"id":"e6d9a1ad3e674e77","type":"Vacuum","z":"37b20146724e3cd6","name":"","eventType":"request","x":560,"y":780,"wires":[["eb9b34bb20200441"]]},{"id":"eb9b34bb20200441","type":"loop","z":"37b20146724e3cd6","name":"","list":"","from":"0","skip":"1","to":"5","x":350,"y":780,"wires":[["e6d9a1ad3e674e77"],[]]}]