packages/node_modules/@bp/nodes/examples/03 - PrestaShop.json
[
    {
        "id": "8b571d60062a5114",
        "type": "tab",
        "label": "Presta Shop",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a6dc5de7eac9dd57",
        "type": "group",
        "z": "8b571d60062a5114",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d3db260facb25d0b",
            "88c17599d0c80bbe"
        ],
        "x": 674,
        "y": 1379,
        "w": 232,
        "h": 174
    },
    {
        "id": "98e0fc60fb3583b8",
        "type": "start",
        "z": "8b571d60062a5114",
        "name": "",
        "payload": "{}",
        "x": 130,
        "y": 320,
        "wires": [
            [
                "f38dbd029c15d34d"
            ]
        ]
    },
    {
        "id": "f38dbd029c15d34d",
        "type": "browser",
        "z": "8b571d60062a5114",
        "name": "Open \\n Store URL",
        "page": "IG2uTUGiO1",
        "url": "http://localhost:8080/",
        "x": 270,
        "y": 320,
        "wires": [
            [
                "2566adc6b6417b74"
            ]
        ]
    },
    {
        "id": "d63ec98e471c85b8",
        "type": "start",
        "z": "8b571d60062a5114",
        "name": "",
        "payload": "{}",
        "x": 130,
        "y": 860,
        "wires": [
            [
                "956a078aad56558b"
            ]
        ]
    },
    {
        "id": "9d71571ca9c2427e",
        "type": "change",
        "z": "8b571d60062a5114",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "page",
                "pt": "msg",
                "to": "lastEvent.page",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "username",
                "pt": "msg",
                "to": "lastEvent.username",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "password",
                "pt": "msg",
                "to": "lastEvent.password",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 940,
        "wires": [
            [
                "ca2e83fc32fabe97",
                "dabe79522396fbc9"
            ]
        ]
    },
    {
        "id": "3e36bc2b48da4f84",
        "type": "change",
        "z": "8b571d60062a5114",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "page",
                "pt": "msg",
                "to": "lastEvent.page",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 860,
        "wires": [
            [
                "956a078aad56558b",
                "f6378d46e7b851b0"
            ]
        ]
    },
    {
        "id": "98d7d58e4cf431cc",
        "type": "change",
        "z": "8b571d60062a5114",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "page",
                "pt": "msg",
                "to": "lastEvent.page",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "category",
                "pt": "msg",
                "to": "lastEvent.category",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "product",
                "pt": "msg",
                "to": "lastEvent.product",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "quantity",
                "pt": "msg",
                "to": "lastEvent.quantity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1020,
        "wires": [
            [
                "13d496343c9aa431",
                "ac3b6ec504431286"
            ]
        ]
    },
    {
        "id": "539493c18bfc7fb7",
        "type": "Screenshot",
        "z": "8b571d60062a5114",
        "name": "1st screenshot",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"path\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "pathType": "str",
        "path": "",
        "pathRType": "str",
        "pathR": "screenshot.jpg",
        "x": 800,
        "y": 420,
        "wires": [
            [
                "091ea288c6f88074"
            ]
        ]
    },
    {
        "id": "1195a45744668c02",
        "type": "Screenshot",
        "z": "8b571d60062a5114",
        "name": "2nd screenshot",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"path\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "pathType": "str",
        "path": "",
        "pathRType": "str",
        "pathR": "screenshot2.jpg",
        "x": 1340,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "fe87ae23f4428c86",
        "type": "change",
        "z": "8b571d60062a5114",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "page",
                "pt": "msg",
                "to": "lastEvent.page",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "username",
                "pt": "msg",
                "to": "lastEvent.username",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "password",
                "pt": "msg",
                "to": "lastEvent.password",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1100,
        "wires": [
            [
                "2214d3d68cc2d420",
                "0eba023608692db6"
            ]
        ]
    },
    {
        "id": "d2fc6a75adc5fd90",
        "type": "start",
        "z": "8b571d60062a5114",
        "name": "",
        "payload": "{}",
        "x": 130,
        "y": 940,
        "wires": [
            [
                "ca2e83fc32fabe97"
            ]
        ]
    },
    {
        "id": "6a1a5738b190930e",
        "type": "start",
        "z": "8b571d60062a5114",
        "name": "",
        "payload": "{}",
        "x": 130,
        "y": 1020,
        "wires": [
            [
                "13d496343c9aa431"
            ]
        ]
    },
    {
        "id": "016aa68e4ce79a38",
        "type": "start",
        "z": "8b571d60062a5114",
        "name": "",
        "payload": "{}",
        "x": 130,
        "y": 1100,
        "wires": [
            [
                "2214d3d68cc2d420"
            ]
        ]
    },
    {
        "id": "e2e8303ea7772e22",
        "type": "change",
        "z": "8b571d60062a5114",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "page",
                "pt": "msg",
                "to": "lastEvent.page",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 1180,
        "wires": [
            [
                "3dfb97e4b832728a",
                "f70d895d1acf8aff"
            ]
        ]
    },
    {
        "id": "48f739a373e43fbd",
        "type": "start",
        "z": "8b571d60062a5114",
        "name": "",
        "payload": "{}",
        "x": 130,
        "y": 1180,
        "wires": [
            [
                "3dfb97e4b832728a"
            ]
        ]
    },
    {
        "id": "36efcc94eb0be9bc",
        "type": "start",
        "z": "8b571d60062a5114",
        "name": "",
        "payload": "{}",
        "x": 130,
        "y": 1260,
        "wires": [
            [
                "2c842a3d2744e734"
            ]
        ]
    },
    {
        "id": "923b209acfd476f5",
        "type": "change",
        "z": "8b571d60062a5114",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "page",
                "pt": "msg",
                "to": "lastEvent.page",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1260,
        "wires": [
            [
                "2c842a3d2744e734",
                "9bf24d5db7801e2a"
            ]
        ]
    },
    {
        "id": "5f35912a63153ad5",
        "type": "start",
        "z": "8b571d60062a5114",
        "name": "",
        "x": 130,
        "y": 1420,
        "wires": [
            [
                "b04d16d862644c34"
            ]
        ]
    },
    {
        "id": "b04d16d862644c34",
        "type": "EventSet",
        "z": "8b571d60062a5114",
        "name": "prestashop event",
        "eventType": "waitFor",
        "internalFields": "[\"filter\"]",
        "filterType": "jsonata",
        "filter": "lib='prestashop'",
        "filterRType": "jsonata",
        "filterR": "tmp",
        "x": 330,
        "y": 1420,
        "wires": [
            [
                "e0b78d0eb5b3f288"
            ]
        ]
    },
    {
        "id": "ca2e83fc32fabe97",
        "type": "Login",
        "z": "8b571d60062a5114",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"lib\",\"page\",\"username\",\"password\"]",
        "libType": "str",
        "lib": "prestashop",
        "libRType": "str",
        "libR": "tmp",
        "pageType": "msg",
        "page": "",
        "pageRType": "msg",
        "pageR": "tmp",
        "usernameType": "str",
        "username": "",
        "usernameRType": "str",
        "usernameR": "tmp",
        "passwordType": "str",
        "password": "",
        "passwordRType": "str",
        "passwordR": "tmp",
        "x": 290,
        "y": 940,
        "wires": [
            [
                "9d71571ca9c2427e"
            ]
        ]
    },
    {
        "id": "956a078aad56558b",
        "type": "Logout",
        "z": "8b571d60062a5114",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"lib\",\"page\"]",
        "libType": "str",
        "lib": "prestashop",
        "libRType": "str",
        "libR": "tmp",
        "pageType": "msg",
        "page": "",
        "pageRType": "msg",
        "pageR": "tmp",
        "x": 290,
        "y": 860,
        "wires": [
            [
                "3e36bc2b48da4f84"
            ]
        ]
    },
    {
        "id": "13d496343c9aa431",
        "type": "AddToCart",
        "z": "8b571d60062a5114",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"lib\",\"page\",\"category\",\"product\",\"quantity\"]",
        "libType": "str",
        "lib": "prestashop",
        "libRType": "str",
        "libR": "tmp",
        "pageType": "msg",
        "page": "",
        "pageRType": "msg",
        "pageR": "tmp",
        "categoryType": "str",
        "category": "",
        "categoryRType": "str",
        "categoryR": "tmp",
        "productType": "str",
        "product": "",
        "productRType": "str",
        "productR": "tmp",
        "quantityType": "num",
        "quantity": "",
        "quantityRType": "num",
        "quantityR": "0",
        "x": 310,
        "y": 1020,
        "wires": [
            [
                "98d7d58e4cf431cc"
            ]
        ]
    },
    {
        "id": "2214d3d68cc2d420",
        "type": "AdminLogin",
        "z": "8b571d60062a5114",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"lib\",\"page\",\"username\",\"password\"]",
        "pageType": "msg",
        "page": "",
        "pageRType": "msg",
        "pageR": "tmp",
        "usernameType": "str",
        "username": "",
        "usernameRType": "str",
        "usernameR": "tmp",
        "passwordType": "str",
        "password": "",
        "passwordRType": "str",
        "passwordR": "tmp",
        "x": 310,
        "y": 1100,
        "wires": [
            [
                "fe87ae23f4428c86"
            ]
        ]
    },
    {
        "id": "3dfb97e4b832728a",
        "type": "AdminMakeInStock",
        "z": "8b571d60062a5114",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"lib\",\"page\",\"product\"]",
        "libType": "str",
        "lib": "prestashop",
        "libRType": "str",
        "libR": "tmp",
        "pageType": "msg",
        "page": "",
        "pageRType": "msg",
        "pageR": "tmp",
        "productType": "str",
        "product": "",
        "productRType": "str",
        "productR": "tmp",
        "x": 340,
        "y": 1180,
        "wires": [
            [
                "e2e8303ea7772e22"
            ]
        ]
    },
    {
        "id": "2c842a3d2744e734",
        "type": "AdminMakeOutOfStock",
        "z": "8b571d60062a5114",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"lib\",\"page\",\"product\"]",
        "libType": "str",
        "lib": "prestashop",
        "libRType": "str",
        "libR": "tmp",
        "pageType": "msg",
        "page": "",
        "pageRType": "msg",
        "pageR": "tmp",
        "productType": "str",
        "product": "",
        "productRType": "str",
        "productR": "tmp",
        "x": 330,
        "y": 1260,
        "wires": [
            [
                "923b209acfd476f5"
            ]
        ]
    },
    {
        "id": "e0b78d0eb5b3f288",
        "type": "change",
        "z": "8b571d60062a5114",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "page",
                "pt": "msg",
                "to": "lastEvent.page",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 1420,
        "wires": [
            [
                "b04d16d862644c34",
                "d3db260facb25d0b"
            ]
        ]
    },
    {
        "id": "dabe79522396fbc9",
        "type": "Click",
        "z": "8b571d60062a5114",
        "name": "Click Login",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#_desktop_user_info span",
        "x": 810,
        "y": 940,
        "wires": [
            [
                "3d11af7ea96230dd"
            ]
        ]
    },
    {
        "id": "f6378d46e7b851b0",
        "type": "Click",
        "z": "8b571d60062a5114",
        "name": "Click Logout",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "a.logout",
        "x": 810,
        "y": 860,
        "wires": [
            [
                "bd90240a810d8a93"
            ]
        ]
    },
    {
        "id": "ac3b6ec504431286",
        "type": "Click",
        "z": "8b571d60062a5114",
        "name": "Click \\n the category",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "jsonata",
        "locatorR": "$join([\"text=\", category])",
        "x": 810,
        "y": 1020,
        "wires": [
            [
                "d139eb813e7746e0"
            ]
        ]
    },
    {
        "id": "d139eb813e7746e0",
        "type": "Click",
        "z": "8b571d60062a5114",
        "name": "Click \\n the product",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "jsonata",
        "locatorR": "\"xpath=//a[contains(.,'\" & product & \"')]\"",
        "x": 970,
        "y": 1020,
        "wires": [
            [
                "0e1802e973a553df"
            ]
        ]
    },
    {
        "id": "ec417c2ad713fbce",
        "type": "Click",
        "z": "8b571d60062a5114",
        "name": "Click \\n Add To Cart",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "text=Add to cart",
        "x": 1270,
        "y": 1020,
        "wires": [
            [
                "bf6dc29cf60f90d7"
            ]
        ]
    },
    {
        "id": "bf6dc29cf60f90d7",
        "type": "Click",
        "z": "8b571d60062a5114",
        "name": "Click \\n Continue shopping",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "text=Continue shopping",
        "x": 1450,
        "y": 1020,
        "wires": [
            [
                "c6c7a7f47eadf6b3"
            ]
        ]
    },
    {
        "id": "0e1802e973a553df",
        "type": "Fill",
        "z": "8b571d60062a5114",
        "name": "Fill \\n Quantity",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\",\"text\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#quantity_wanted",
        "textType": "str",
        "text": "",
        "textRType": "msg",
        "textR": "quantity",
        "x": 1120,
        "y": 1020,
        "wires": [
            [
                "ec417c2ad713fbce"
            ]
        ]
    },
    {
        "id": "3d11af7ea96230dd",
        "type": "Type",
        "z": "8b571d60062a5114",
        "name": "Type username",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\",\"text\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#field-email",
        "textType": "str",
        "text": "",
        "textRType": "msg",
        "textR": "username",
        "x": 980,
        "y": 940,
        "wires": [
            [
                "2512bdfcc5312916"
            ]
        ]
    },
    {
        "id": "2512bdfcc5312916",
        "type": "Type",
        "z": "8b571d60062a5114",
        "name": "Type password",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\",\"text\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#field-password",
        "textType": "str",
        "text": "",
        "textRType": "msg",
        "textR": "password",
        "x": 1160,
        "y": 940,
        "wires": [
            [
                "bb46f7cf96360be0"
            ]
        ]
    },
    {
        "id": "0eba023608692db6",
        "type": "Type",
        "z": "8b571d60062a5114",
        "name": "Type username",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\",\"text\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#email",
        "textType": "str",
        "text": "",
        "textRType": "msg",
        "textR": "username",
        "x": 820,
        "y": 1100,
        "wires": [
            [
                "6c97acb17ab2215a"
            ]
        ]
    },
    {
        "id": "6c97acb17ab2215a",
        "type": "Type",
        "z": "8b571d60062a5114",
        "name": "Type password",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\",\"text\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#passwd",
        "textType": "str",
        "text": "",
        "textRType": "msg",
        "textR": "password",
        "x": 1000,
        "y": 1100,
        "wires": [
            [
                "4278cf4e5ba79557"
            ]
        ]
    },
    {
        "id": "4278cf4e5ba79557",
        "type": "KeyboardDown",
        "z": "8b571d60062a5114",
        "name": "Press Enter",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"key\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "keyType": "str",
        "key": "",
        "keyRType": "str",
        "keyR": "Enter",
        "x": 1170,
        "y": 1100,
        "wires": [
            [
                "e86d178da96c0ab6"
            ]
        ]
    },
    {
        "id": "83cf2741ddda27af",
        "type": "Click",
        "z": "8b571d60062a5114",
        "name": "Click \\n Save",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#product_footer_save",
        "x": 1990,
        "y": 1180,
        "wires": [
            [
                "ef4a8e9cb0c52275"
            ]
        ]
    },
    {
        "id": "333ee56391627e45",
        "type": "Click",
        "z": "8b571d60062a5114",
        "name": "Click \\n Available for order",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#product_options_visibility_available_for_order_0",
        "x": 1830,
        "y": 1180,
        "wires": [
            [
                "83cf2741ddda27af"
            ]
        ]
    },
    {
        "id": "e40a8fea0c43d370",
        "type": "Click",
        "z": "8b571d60062a5114",
        "name": "Click \\n Options tab",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#product_options-tab-nav > a",
        "x": 1650,
        "y": 1180,
        "wires": [
            [
                "333ee56391627e45"
            ]
        ]
    },
    {
        "id": "da1f8a531e6266d5",
        "type": "Click",
        "z": "8b571d60062a5114",
        "name": "Click \\n Product name column",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "td.column-name > a",
        "x": 1460,
        "y": 1180,
        "wires": [
            [
                "e40a8fea0c43d370"
            ]
        ]
    },
    {
        "id": "9ebca0863e11884a",
        "type": "Click",
        "z": "8b571d60062a5114",
        "name": "Click \\n Filter Button",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#product_filter_form button",
        "x": 1270,
        "y": 1180,
        "wires": [
            [
                "da1f8a531e6266d5"
            ]
        ]
    },
    {
        "id": "a3d58d6eac4491f4",
        "type": "Fill",
        "z": "8b571d60062a5114",
        "name": "Fill \\n Product Name",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\",\"text\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#product_name",
        "textType": "str",
        "text": "",
        "textRType": "str",
        "textR": "Brown bear notebook",
        "x": 1100,
        "y": 1180,
        "wires": [
            [
                "9ebca0863e11884a"
            ]
        ]
    },
    {
        "id": "7ef13f1ec9b3c5fa",
        "type": "Click",
        "z": "8b571d60062a5114",
        "name": "Click \\n Products",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#subtab-AdminProducts > a",
        "x": 940,
        "y": 1180,
        "wires": [
            [
                "a3d58d6eac4491f4"
            ]
        ]
    },
    {
        "id": "f70d895d1acf8aff",
        "type": "Click",
        "z": "8b571d60062a5114",
        "name": "Click \\n Catalog",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#subtab-AdminCatalog span",
        "x": 800,
        "y": 1180,
        "wires": [
            [
                "7ef13f1ec9b3c5fa"
            ]
        ]
    },
    {
        "id": "93888fb32b0a7c1e",
        "type": "Click",
        "z": "8b571d60062a5114",
        "name": "Click \\n Product name column",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "td.column-name > a",
        "x": 1460,
        "y": 1260,
        "wires": [
            [
                "4a58d025c6593173"
            ]
        ]
    },
    {
        "id": "0301f54c8ac78d5c",
        "type": "Fill",
        "z": "8b571d60062a5114",
        "name": "Fill \\n Product Name",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\",\"text\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#product_name",
        "textType": "str",
        "text": "",
        "textRType": "str",
        "textR": "Brown bear notebook",
        "x": 1100,
        "y": 1260,
        "wires": [
            [
                "636442e27c637a5b"
            ]
        ]
    },
    {
        "id": "9bf24d5db7801e2a",
        "type": "Click",
        "z": "8b571d60062a5114",
        "name": "Click \\n Catalog",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#subtab-AdminCatalog span",
        "x": 800,
        "y": 1260,
        "wires": [
            [
                "532b876d6c156bb5"
            ]
        ]
    },
    {
        "id": "532b876d6c156bb5",
        "type": "Click",
        "z": "8b571d60062a5114",
        "name": "Click \\n Products",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#subtab-AdminProducts > a",
        "x": 940,
        "y": 1260,
        "wires": [
            [
                "0301f54c8ac78d5c"
            ]
        ]
    },
    {
        "id": "636442e27c637a5b",
        "type": "Click",
        "z": "8b571d60062a5114",
        "name": "Click \\n Filter Button",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#product_filter_form button",
        "x": 1270,
        "y": 1260,
        "wires": [
            [
                "93888fb32b0a7c1e"
            ]
        ]
    },
    {
        "id": "4a58d025c6593173",
        "type": "Click",
        "z": "8b571d60062a5114",
        "name": "Click \\n Options tab",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#product_options-tab-nav > a",
        "x": 1650,
        "y": 1260,
        "wires": [
            [
                "83289fa31ea41970"
            ]
        ]
    },
    {
        "id": "83289fa31ea41970",
        "type": "Click",
        "z": "8b571d60062a5114",
        "name": "Click \\n Available for order",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#product_options_visibility_available_for_order_1",
        "x": 1830,
        "y": 1260,
        "wires": [
            [
                "564b125e77c92942"
            ]
        ]
    },
    {
        "id": "564b125e77c92942",
        "type": "Click",
        "z": "8b571d60062a5114",
        "name": "Click \\n Save",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#product_footer_save",
        "x": 1990,
        "y": 1260,
        "wires": [
            [
                "9341bc59a7b3da14"
            ]
        ]
    },
    {
        "id": "2566adc6b6417b74",
        "type": "Login",
        "z": "8b571d60062a5114",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"username\",\"password\"]",
        "libType": "str",
        "lib": "prestashop",
        "libRType": "str",
        "libR": "prestashop",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "usernameType": "str",
        "username": "",
        "usernameRType": "str",
        "usernameR": "bob.smith@prestashop.com",
        "passwordType": "str",
        "password": "",
        "passwordRType": "str",
        "passwordR": "bob.smith@prestashop.com",
        "x": 410,
        "y": 320,
        "wires": [
            [
                "5c2fa491333715eb"
            ]
        ]
    },
    {
        "id": "5c2fa491333715eb",
        "type": "AddToCart",
        "z": "8b571d60062a5114",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"category\",\"product\",\"quantity\"]",
        "libType": "str",
        "lib": "prestashop",
        "libRType": "str",
        "libR": "prestashop",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "categoryType": "str",
        "category": "",
        "categoryRType": "str",
        "categoryR": "Art",
        "productType": "str",
        "product": "",
        "productRType": "str",
        "productR": "The adventure begins",
        "quantityType": "num",
        "quantity": "",
        "quantityRType": "num",
        "quantityR": "2",
        "x": 570,
        "y": 320,
        "wires": [
            [
                "b735c77f76f8eebd"
            ]
        ]
    },
    {
        "id": "091ea288c6f88074",
        "type": "Logout",
        "z": "8b571d60062a5114",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\"]",
        "libType": "str",
        "lib": "prestashop",
        "libRType": "str",
        "libR": "prestashop",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "x": 970,
        "y": 420,
        "wires": [
            [
                "17fc94346dc683dd"
            ]
        ]
    },
    {
        "id": "17fc94346dc683dd",
        "type": "Login",
        "z": "8b571d60062a5114",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"username\",\"password\"]",
        "libType": "str",
        "lib": "prestashop",
        "libRType": "str",
        "libR": "prestashop",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "usernameType": "str",
        "username": "",
        "usernameRType": "str",
        "usernameR": "bob.smith@prestashop.com",
        "passwordType": "str",
        "password": "",
        "passwordRType": "str",
        "passwordR": "bob.smith@prestashop.com",
        "x": 1110,
        "y": 420,
        "wires": [
            [
                "c8d8970d7b630868"
            ]
        ]
    },
    {
        "id": "bd90240a810d8a93",
        "type": "EndOfAction",
        "z": "8b571d60062a5114",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"page\"]",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "x": 915,
        "y": 860,
        "wires": [
            []
        ],
        "icon": "font-awesome/fa-fast-forward",
        "l": false
    },
    {
        "id": "1eb62de99ceff1d0",
        "type": "EndOfAction",
        "z": "8b571d60062a5114",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"page\"]",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "x": 1435,
        "y": 940,
        "wires": [
            []
        ],
        "icon": "font-awesome/fa-fast-forward",
        "l": false
    },
    {
        "id": "c6c7a7f47eadf6b3",
        "type": "EndOfAction",
        "z": "8b571d60062a5114",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"page\"]",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "x": 1575,
        "y": 1020,
        "wires": [
            []
        ],
        "icon": "font-awesome/fa-fast-forward",
        "l": false
    },
    {
        "id": "e86d178da96c0ab6",
        "type": "EndOfAction",
        "z": "8b571d60062a5114",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"page\"]",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "x": 1275,
        "y": 1100,
        "wires": [
            []
        ],
        "icon": "font-awesome/fa-fast-forward",
        "l": false
    },
    {
        "id": "ef4a8e9cb0c52275",
        "type": "EndOfAction",
        "z": "8b571d60062a5114",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"page\"]",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "x": 2085,
        "y": 1180,
        "wires": [
            []
        ],
        "icon": "font-awesome/fa-fast-forward",
        "l": false
    },
    {
        "id": "9341bc59a7b3da14",
        "type": "EndOfAction",
        "z": "8b571d60062a5114",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"page\"]",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "x": 2085,
        "y": 1260,
        "wires": [
            []
        ],
        "icon": "font-awesome/fa-fast-forward",
        "l": false
    },
    {
        "id": "b735c77f76f8eebd",
        "type": "EndOfAction",
        "z": "8b571d60062a5114",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"page\"]",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "tmp",
        "x": 675,
        "y": 360,
        "wires": [
            [
                "539493c18bfc7fb7"
            ]
        ],
        "icon": "font-awesome/fa-fast-forward",
        "l": false
    },
    {
        "id": "c8d8970d7b630868",
        "type": "EndOfAction",
        "z": "8b571d60062a5114",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"page\"]",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "tmp",
        "x": 1205,
        "y": 460,
        "wires": [
            [
                "1195a45744668c02"
            ]
        ],
        "icon": "font-awesome/fa-fast-forward",
        "l": false
    },
    {
        "id": "d3db260facb25d0b",
        "type": "EndOfAction",
        "z": "8b571d60062a5114",
        "g": "a6dc5de7eac9dd57",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"page\"]",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "tmp",
        "x": 715,
        "y": 1420,
        "wires": [
            []
        ],
        "icon": "font-awesome/fa-fast-forward",
        "l": false
    },
    {
        "id": "bb46f7cf96360be0",
        "type": "KeyboardDown",
        "z": "8b571d60062a5114",
        "name": "Press Enter",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"key\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "keyType": "str",
        "key": "",
        "keyRType": "str",
        "keyR": "Enter",
        "x": 1330,
        "y": 940,
        "wires": [
            [
                "1eb62de99ceff1d0"
            ]
        ]
    },
    {
        "id": "0eba385ec79d33ba",
        "type": "start",
        "z": "8b571d60062a5114",
        "name": "",
        "payload": "{}",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "7f33b5a61669c6c7"
            ]
        ]
    },
    {
        "id": "7f33b5a61669c6c7",
        "type": "browser",
        "z": "8b571d60062a5114",
        "name": "Open \\n Store URL",
        "page": "qp3VWSmpMu",
        "url": "http://localhost:8080/",
        "x": 270,
        "y": 560,
        "wires": [
            [
                "0296b0aaf7062b03"
            ]
        ]
    },
    {
        "id": "6aff67558c19b597",
        "type": "Screenshot",
        "z": "8b571d60062a5114",
        "name": "1st screenshot",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"path\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "pathType": "str",
        "path": "",
        "pathRType": "str",
        "pathR": "screenshot3.jpg",
        "x": 800,
        "y": 660,
        "wires": [
            [
                "822988b22794f10e"
            ]
        ]
    },
    {
        "id": "0af032f5e697c333",
        "type": "Screenshot",
        "z": "8b571d60062a5114",
        "name": "2nd screenshot",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"path\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "pathType": "str",
        "path": "",
        "pathRType": "str",
        "pathR": "screenshot4.jpg",
        "x": 1340,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "0296b0aaf7062b03",
        "type": "Login",
        "z": "8b571d60062a5114",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"username\",\"password\"]",
        "libType": "str",
        "lib": "prestashop",
        "libRType": "str",
        "libR": "prestashop",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "usernameType": "str",
        "username": "",
        "usernameRType": "str",
        "usernameR": "alice.wang@prestahsop.com",
        "passwordType": "str",
        "password": "",
        "passwordRType": "str",
        "passwordR": "alice.wang@prestahsop.com",
        "x": 410,
        "y": 560,
        "wires": [
            [
                "5df6b6b99dd3bd9f"
            ]
        ]
    },
    {
        "id": "5df6b6b99dd3bd9f",
        "type": "AddToCart",
        "z": "8b571d60062a5114",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"category\",\"product\",\"quantity\"]",
        "libType": "str",
        "lib": "prestashop",
        "libRType": "str",
        "libR": "prestashop",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "categoryType": "str",
        "category": "",
        "categoryRType": "str",
        "categoryR": "Art",
        "productType": "str",
        "product": "",
        "productRType": "str",
        "productR": "The adventure begins",
        "quantityType": "num",
        "quantity": "",
        "quantityRType": "num",
        "quantityR": "2",
        "x": 570,
        "y": 560,
        "wires": [
            [
                "ff8f6ae75c570b9f"
            ]
        ]
    },
    {
        "id": "822988b22794f10e",
        "type": "Logout",
        "z": "8b571d60062a5114",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\"]",
        "libType": "str",
        "lib": "prestashop",
        "libRType": "str",
        "libR": "prestashop",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "x": 970,
        "y": 660,
        "wires": [
            [
                "6841fd151dce13d7"
            ]
        ]
    },
    {
        "id": "6841fd151dce13d7",
        "type": "Login",
        "z": "8b571d60062a5114",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"username\",\"password\"]",
        "libType": "str",
        "lib": "prestashop",
        "libRType": "str",
        "libR": "prestashop",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "usernameType": "str",
        "username": "",
        "usernameRType": "str",
        "usernameR": "alice.wang@prestahsop.com",
        "passwordType": "str",
        "password": "",
        "passwordRType": "str",
        "passwordR": "alice.wang@prestahsop.com",
        "x": 1110,
        "y": 660,
        "wires": [
            [
                "7e205a7fa9777de1"
            ]
        ]
    },
    {
        "id": "ff8f6ae75c570b9f",
        "type": "EndOfAction",
        "z": "8b571d60062a5114",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"page\"]",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "tmp",
        "x": 675,
        "y": 600,
        "wires": [
            [
                "6aff67558c19b597"
            ]
        ],
        "icon": "font-awesome/fa-fast-forward",
        "l": false
    },
    {
        "id": "7e205a7fa9777de1",
        "type": "EndOfAction",
        "z": "8b571d60062a5114",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"page\"]",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "tmp",
        "x": 1205,
        "y": 700,
        "wires": [
            [
                "0af032f5e697c333"
            ]
        ],
        "icon": "font-awesome/fa-fast-forward",
        "l": false
    },
    {
        "id": "88c17599d0c80bbe",
        "type": "EventSet",
        "z": "8b571d60062a5114",
        "g": "a6dc5de7eac9dd57",
        "name": "prestashop event \\n in the same page",
        "eventType": "block",
        "internalFields": "[\"filter\"]",
        "filterType": "jsonata",
        "filter": "lib='prestashop' and msg.page=page",
        "filterRType": "jsonata",
        "filterR": "tmp",
        "x": 790,
        "y": 1500,
        "wires": [
            []
        ]
    }
]