packages/node_modules/@bp/nodes/examples/03 - Hot Cold Context.json
[{"id":"c18fe26df1878e0d","type":"tab","label":"Hot Cold (Context)","disabled":false,"info":""},{"id":"884258c3b5789e6a","type":"group","z":"c18fe26df1878e0d","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["bfb363ca9e8c1314","784fdee9d1d9f61a"],"x":754,"y":299,"w":192,"h":162},{"id":"c8bdc958bf312a7f","type":"group","z":"c18fe26df1878e0d","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["d007be20c3865d01","f703390afc726221"],"x":994,"y":299,"w":192,"h":162},{"id":"58f5ec6350362988","type":"loop","z":"c18fe26df1878e0d","name":"","list":"","from":"0","skip":"1","to":"3","x":870,"y":200,"wires":[["f75372cd3709bef2"],[]]},{"id":"1e02a8fe403ee6cd","type":"comment","z":"c18fe26df1878e0d","name":"Interleave","info":"","x":140,"y":300,"wires":[]},{"id":"5059fde11057aa17","type":"context-init","z":"c18fe26df1878e0d","name":"","format":"javascript","template":"// Add entities\nctx.populateContext([\n  ctx.Entity('r1', 'room', { subtype: 'kitchen' }),\n  // ctx.Entity('r2', 'room', { subtype: 'bedroom' }),\n  ctx.Entity('r3', 'room', { subtype: 'bathroom' }),\n  ctx.Entity('night', 'system', { on: false })\n]);\n\n// Specifies the contexts/layers preconditions\nctx.registerQuery('Night',\n  function (entity) {\n    return entity.id == 'night' && entity.on\n  })\nctx.registerQuery('Room.WithTaps',\n  function (entity) {\n    return entity.type == 'room' &&\n      entity.subtype == 'kitchen' || entity.subtype == 'bathroom'\n  })\n\n// Specify the effect of certain events on the context\nctx.registerEffect('Time', function (data) {\n  if(data.Time==\"08:00\") {\n    ctx.getEntityById('night').on = false\n  } else if (data.Time == \"21:00\") {\n    ctx.getEntityById('night').on = true\n  }\n})\n\nctx.registerQuery('Room.Kitchen',\n  function (entity) {\n    return entity.type == 'room' &&\n      'kitchen' == entity.subtype\n  })","x":140,"y":60,"wires":[]},{"id":"3c9e173ce68bf50d","type":"context-start","z":"c18fe26df1878e0d","name":"","context":"Room.WithTaps","quantity":"all","x":170,"y":140,"wires":[["cee2f5ee9fc6274a"]]},{"id":"f7d2cd07c8d2aebe","type":"context-start","z":"c18fe26df1878e0d","name":"","context":"Room.Kitchen","quantity":"all","x":170,"y":340,"wires":[["19beec99f021ea2c"]]},{"id":"0770a842da0dbdd4","type":"ColdRoom","z":"c18fe26df1878e0d","RoomId":"","internalFields":"[{\"name\":\"RoomId\",\"type\":\"text\",\"defaultValue\":\"\"}]","name":"","eventType":"request","x":890,"y":120,"wires":[["62f352ec9d5bf420"]]},{"id":"62f352ec9d5bf420","type":"ColdRoom","z":"c18fe26df1878e0d","RoomId":"","internalFields":"[{\"name\":\"RoomId\",\"type\":\"text\",\"defaultValue\":\"\"}]","name":"","eventType":"request","x":1050,"y":120,"wires":[["237c24997664d10d"]]},{"id":"237c24997664d10d","type":"ColdRoom","z":"c18fe26df1878e0d","RoomId":"","internalFields":"[{\"name\":\"RoomId\",\"type\":\"text\",\"defaultValue\":\"\"}]","name":"","eventType":"request","x":1210,"y":120,"wires":[[]]},{"id":"f75372cd3709bef2","type":"HotRoom","z":"c18fe26df1878e0d","RoomId":"","internalFields":"[{\"name\":\"RoomId\",\"type\":\"text\",\"defaultValue\":\"\"}]","name":"","eventType":"request","x":1040,"y":200,"wires":[["58f5ec6350362988"]]},{"id":"bfb363ca9e8c1314","type":"ColdRoom","z":"c18fe26df1878e0d","g":"884258c3b5789e6a","RoomId":"","internalFields":"[{\"name\":\"RoomId\",\"type\":\"text\",\"defaultValue\":\"\"}]","name":"","eventType":"waitFor","x":850,"y":340,"wires":[["f703390afc726221"]]},{"id":"d007be20c3865d01","type":"ColdRoom","z":"c18fe26df1878e0d","g":"c8bdc958bf312a7f","RoomId":"","internalFields":"[{\"name\":\"RoomId\",\"type\":\"text\",\"defaultValue\":\"\"}]","name":"","eventType":"block","x":1090,"y":340,"wires":[[]]},{"id":"784fdee9d1d9f61a","type":"HotRoom","z":"c18fe26df1878e0d","g":"884258c3b5789e6a","RoomId":"","internalFields":"[{\"name\":\"RoomId\",\"type\":\"text\",\"defaultValue\":\"\"}]","name":"","eventType":"block","x":840,"y":420,"wires":[[]]},{"id":"f703390afc726221","type":"HotRoom","z":"c18fe26df1878e0d","g":"c8bdc958bf312a7f","RoomId":"","internalFields":"[{\"name\":\"RoomId\",\"type\":\"text\",\"defaultValue\":\"\"}]","name":"","eventType":"waitFor","x":1080,"y":420,"wires":[["bfb363ca9e8c1314"]]},{"id":"19beec99f021ea2c","type":"change","z":"c18fe26df1878e0d","name":"","rules":[{"t":"set","p":"HotRoom","pt":"msg","to":"{\"RoomId\":context.entity.id}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":340,"wires":[["205a2a2515e1c1d5"]]},{"id":"205a2a2515e1c1d5","type":"change","z":"c18fe26df1878e0d","name":"","rules":[{"t":"set","p":"ColdRoom","pt":"msg","to":"{\"RoomId\":context.entity.id}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":340,"wires":[["bfb363ca9e8c1314"]]},{"id":"cee2f5ee9fc6274a","type":"change","z":"c18fe26df1878e0d","name":"","rules":[{"t":"set","p":"HotRoom","pt":"msg","to":"{\"RoomId\":context.entity.id}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":140,"wires":[["c5c0bdfb21842763"]]},{"id":"c5c0bdfb21842763","type":"change","z":"c18fe26df1878e0d","name":"","rules":[{"t":"set","p":"ColdRoom","pt":"msg","to":"{\"RoomId\":context.entity.id}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":140,"wires":[["0770a842da0dbdd4","58f5ec6350362988"]]},{"id":"976833ccefb00aaf","type":"context-start","z":"c18fe26df1878e0d","name":"","context":"Night","quantity":"all","x":160,"y":540,"wires":[["f3f2e275ce731f8a"]]},{"id":"f3f2e275ce731f8a","type":"Vacuum","z":"c18fe26df1878e0d","name":"","eventType":"block","x":340,"y":540,"wires":[[]]},{"id":"9f362374ebfc3f9f","type":"start","z":"c18fe26df1878e0d","name":"","x":150,"y":620,"wires":[["51f36daa1769918a","803d41064f2b560f"]]},{"id":"51f36daa1769918a","type":"loop","z":"c18fe26df1878e0d","name":"","list":"","from":"0","skip":"1","to":"3","x":330,"y":620,"wires":[["f29d4f0ea9c47bc2"],[]]},{"id":"f29d4f0ea9c47bc2","type":"Time","z":"c18fe26df1878e0d","Time":"8:00","internalFields":"[{\"name\":\"Time\",\"type\":\"text\",\"defaultValue\":\"\"}]","name":"Time 8:00","eventType":"request","x":540,"y":620,"wires":[["d0080e8d6a4e7f48"]]},{"id":"d0080e8d6a4e7f48","type":"Time","z":"c18fe26df1878e0d","Time":"21:00","internalFields":"[{\"name\":\"Time\",\"type\":\"text\",\"defaultValue\":\"\"}]","name":"Time 21:00","eventType":"request","x":730,"y":620,"wires":[["51f36daa1769918a"]]},{"id":"1a7e113923a5de58","type":"Vacuum","z":"c18fe26df1878e0d","name":"","eventType":"request","x":560,"y":780,"wires":[["803d41064f2b560f"]]},{"id":"803d41064f2b560f","type":"loop","z":"c18fe26df1878e0d","name":"","list":"","from":"0","skip":"1","to":"5","x":350,"y":780,"wires":[["1a7e113923a5de58"],[]]}]