packages/node_modules/@bp/nodes/examples/04 - Options Loop.json
[
    {
        "id": "f97654df38260c7e",
        "type": "tab",
        "label": "Presta Shop",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8ece4d38d2cc8bad",
        "type": "group",
        "z": "f97654df38260c7e",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "8903c0fb27598b82",
            "e1ec884910b5e7c9"
        ],
        "x": 654,
        "y": 1679,
        "w": 232,
        "h": 154
    },
    {
        "id": "6bbb30209b93384c",
        "type": "group",
        "z": "f97654df38260c7e",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "622ce4858e0dca13",
            "48e063e9ff448605",
            "964bc1bb5859910b"
        ],
        "x": 734,
        "y": 1239,
        "w": 212,
        "h": 162
    },
    {
        "id": "43e8d00a76255804",
        "type": "group",
        "z": "f97654df38260c7e",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b05d995a80c4a211",
            "67cbd1c51a7406e9",
            "50234e3d2a60d3a8",
            "f56a3f26c02fab86",
            "c8a23305cacdc7f3",
            "ee3933702da292c5",
            "e36e095ba7521daf",
            "958c0ac6ebe7e68b"
        ],
        "x": 1018,
        "y": 647,
        "w": 588,
        "h": 394
    },
    {
        "id": "e4643be46338b22c",
        "type": "group",
        "z": "f97654df38260c7e",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "46557450d249a81c",
            "5066698dd1bdfb07",
            "66ec9939bc2f3d0b"
        ],
        "x": 914,
        "y": 419,
        "w": 212,
        "h": 182
    },
    {
        "id": "163a3c185e358cca",
        "type": "start",
        "z": "f97654df38260c7e",
        "name": "",
        "payload": "{}",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "2ef4928a60213b36"
            ]
        ]
    },
    {
        "id": "aa4619e585d462a6",
        "type": "change",
        "z": "f97654df38260c7e",
        "name": "Take data from the event",
        "rules": [
            {
                "t": "set",
                "p": "page",
                "pt": "msg",
                "to": "lastEvent.page",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "username",
                "pt": "msg",
                "to": "lastEvent.username",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "password",
                "pt": "msg",
                "to": "lastEvent.password",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 480,
        "wires": [
            [
                "95fe2d827f5c0d30",
                "661a94b9be322f22"
            ]
        ]
    },
    {
        "id": "7839c61c50a39805",
        "type": "change",
        "z": "f97654df38260c7e",
        "name": "Take data\\nfrom the event",
        "rules": [
            {
                "t": "set",
                "p": "page",
                "pt": "msg",
                "to": "lastEvent.page",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 340,
        "wires": [
            [
                "2ef4928a60213b36",
                "1ee63871e6dbad25"
            ]
        ]
    },
    {
        "id": "271414befa58bf90",
        "type": "change",
        "z": "f97654df38260c7e",
        "name": "Take data from the event",
        "rules": [
            {
                "t": "set",
                "p": "page",
                "pt": "msg",
                "to": "lastEvent.page",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "category",
                "pt": "msg",
                "to": "lastEvent.category",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "product",
                "pt": "msg",
                "to": "lastEvent.product",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "quantity",
                "pt": "msg",
                "to": "lastEvent.quantity",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "options",
                "pt": "msg",
                "to": "lastEvent.opt",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "like",
                "pt": "msg",
                "to": "lastEvent.like",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 820,
        "wires": [
            [
                "38266bd091ba4a07",
                "533f3282e40a179f"
            ]
        ]
    },
    {
        "id": "79bd6cd79dbe18d7",
        "type": "change",
        "z": "f97654df38260c7e",
        "name": "Take data from the event",
        "rules": [
            {
                "t": "set",
                "p": "page",
                "pt": "msg",
                "to": "lastEvent.page",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "username",
                "pt": "msg",
                "to": "lastEvent.username",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "password",
                "pt": "msg",
                "to": "lastEvent.password",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 1300,
        "wires": [
            [
                "95d88e5afacacb55",
                "622ce4858e0dca13",
                "48e063e9ff448605"
            ]
        ]
    },
    {
        "id": "c6793106f27bce09",
        "type": "start",
        "z": "f97654df38260c7e",
        "name": "",
        "payload": "{}",
        "x": 130,
        "y": 480,
        "wires": [
            [
                "661a94b9be322f22"
            ]
        ]
    },
    {
        "id": "34a81a37074082a8",
        "type": "start",
        "z": "f97654df38260c7e",
        "name": "",
        "payload": "{}",
        "x": 130,
        "y": 820,
        "wires": [
            [
                "38266bd091ba4a07"
            ]
        ]
    },
    {
        "id": "6b218a3c6f4b8735",
        "type": "start",
        "z": "f97654df38260c7e",
        "name": "",
        "payload": "{}",
        "x": 130,
        "y": 1300,
        "wires": [
            [
                "95d88e5afacacb55"
            ]
        ]
    },
    {
        "id": "7cf40969199b603f",
        "type": "change",
        "z": "f97654df38260c7e",
        "name": "Take data from the event",
        "rules": [
            {
                "t": "set",
                "p": "page",
                "pt": "msg",
                "to": "lastEvent.page",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "product",
                "pt": "msg",
                "to": "context.entity.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 1480,
        "wires": [
            [
                "a5292f6113565523",
                "696b0f8705e2c5c1"
            ]
        ]
    },
    {
        "id": "d1965d98940c14ca",
        "type": "start",
        "z": "f97654df38260c7e",
        "name": "",
        "payload": "{}",
        "x": 130,
        "y": 1480,
        "wires": [
            [
                "696b0f8705e2c5c1"
            ]
        ]
    },
    {
        "id": "c1c2411e019714f6",
        "type": "start",
        "z": "f97654df38260c7e",
        "name": "",
        "payload": "{}",
        "x": 130,
        "y": 1560,
        "wires": [
            [
                "c9f1fbf8c7cf83fd"
            ]
        ]
    },
    {
        "id": "00b4b24022ba941f",
        "type": "change",
        "z": "f97654df38260c7e",
        "name": "Take data from the event",
        "rules": [
            {
                "t": "set",
                "p": "page",
                "pt": "msg",
                "to": "lastEvent.page",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "product",
                "pt": "msg",
                "to": "lastEvent.product",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 1560,
        "wires": [
            [
                "7346be9d7e875530",
                "c9f1fbf8c7cf83fd"
            ]
        ]
    },
    {
        "id": "6a10523bd2418953",
        "type": "start",
        "z": "f97654df38260c7e",
        "name": "",
        "x": 110,
        "y": 1720,
        "wires": [
            [
                "2535baf4dcada7b7"
            ]
        ]
    },
    {
        "id": "2535baf4dcada7b7",
        "type": "EventSet",
        "z": "f97654df38260c7e",
        "name": "prestashop event",
        "eventType": "waitFor",
        "internalFields": "[\"filter\"]",
        "filterType": "jsonata",
        "filter": "lib='prestashop'",
        "filterRType": "jsonata",
        "filterR": "tmp",
        "x": 310,
        "y": 1720,
        "wires": [
            [
                "e326d9c09a7f7e79"
            ]
        ]
    },
    {
        "id": "661a94b9be322f22",
        "type": "Login",
        "z": "f97654df38260c7e",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"lib\",\"page\",\"username\",\"password\"]",
        "libType": "str",
        "lib": "prestashop",
        "libRType": "str",
        "libR": "tmp",
        "pageType": "msg",
        "page": "",
        "pageRType": "msg",
        "pageR": "tmp",
        "usernameType": "str",
        "username": "",
        "usernameRType": "str",
        "usernameR": "tmp",
        "passwordType": "str",
        "password": "",
        "passwordRType": "str",
        "passwordR": "tmp",
        "x": 290,
        "y": 480,
        "wires": [
            [
                "aa4619e585d462a6"
            ]
        ]
    },
    {
        "id": "2ef4928a60213b36",
        "type": "Logout",
        "z": "f97654df38260c7e",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"lib\",\"page\"]",
        "libType": "str",
        "lib": "prestashop",
        "libRType": "str",
        "libR": "tmp",
        "pageType": "msg",
        "page": "",
        "pageRType": "msg",
        "pageR": "tmp",
        "x": 290,
        "y": 340,
        "wires": [
            [
                "7839c61c50a39805"
            ]
        ]
    },
    {
        "id": "38266bd091ba4a07",
        "type": "AddToCart",
        "z": "f97654df38260c7e",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"lib\",\"page\",\"category\",\"product\",\"quantity\"]",
        "libType": "str",
        "lib": "prestashop",
        "libRType": "str",
        "libR": "tmp",
        "pageType": "msg",
        "page": "",
        "pageRType": "msg",
        "pageR": "tmp",
        "categoryType": "str",
        "category": "",
        "categoryRType": "str",
        "categoryR": "tmp",
        "productType": "str",
        "product": "",
        "productRType": "str",
        "productR": "tmp",
        "quantityType": "num",
        "quantity": "",
        "quantityRType": "num",
        "quantityR": "0",
        "x": 310,
        "y": 820,
        "wires": [
            [
                "271414befa58bf90"
            ]
        ]
    },
    {
        "id": "95d88e5afacacb55",
        "type": "AdminLogin",
        "z": "f97654df38260c7e",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"lib\",\"page\",\"username\",\"password\"]",
        "pageType": "msg",
        "page": "",
        "pageRType": "msg",
        "pageR": "tmp",
        "usernameType": "str",
        "username": "",
        "usernameRType": "str",
        "usernameR": "tmp",
        "passwordType": "str",
        "password": "",
        "passwordRType": "str",
        "passwordR": "tmp",
        "x": 310,
        "y": 1300,
        "wires": [
            [
                "79bd6cd79dbe18d7"
            ]
        ]
    },
    {
        "id": "e326d9c09a7f7e79",
        "type": "change",
        "z": "f97654df38260c7e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "page",
                "pt": "msg",
                "to": "lastEvent.page",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1720,
        "wires": [
            [
                "2535baf4dcada7b7",
                "8903c0fb27598b82"
            ]
        ]
    },
    {
        "id": "95fe2d827f5c0d30",
        "type": "Click",
        "z": "f97654df38260c7e",
        "name": "Click Login",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#_desktop_user_info span",
        "x": 810,
        "y": 480,
        "wires": [
            [
                "66ec9939bc2f3d0b",
                "5066698dd1bdfb07"
            ]
        ]
    },
    {
        "id": "1ee63871e6dbad25",
        "type": "Click",
        "z": "f97654df38260c7e",
        "name": "Click Logout",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "a.logout",
        "x": 810,
        "y": 340,
        "wires": [
            [
                "25b275eb9002e62f"
            ]
        ]
    },
    {
        "id": "e671430b10421a93",
        "type": "Click",
        "z": "f97654df38260c7e",
        "name": "Click \\n Add To Cart",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "text=Add to cart",
        "x": 1850,
        "y": 820,
        "wires": [
            [
                "7ddcfd28667a8074"
            ]
        ]
    },
    {
        "id": "7ddcfd28667a8074",
        "type": "Click",
        "z": "f97654df38260c7e",
        "name": "Click \\n Continue shopping",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "text=Continue shopping",
        "x": 2070,
        "y": 820,
        "wires": [
            [
                "dd3d30e6c08b5a6d"
            ]
        ]
    },
    {
        "id": "5066698dd1bdfb07",
        "type": "Type",
        "z": "f97654df38260c7e",
        "g": "e4643be46338b22c",
        "name": "Type password",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\",\"text\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#field-password",
        "textType": "str",
        "text": "",
        "textRType": "msg",
        "textR": "password",
        "x": 1020,
        "y": 500,
        "wires": [
            [
                "c6798590ab6e2c39"
            ]
        ]
    },
    {
        "id": "622ce4858e0dca13",
        "type": "Type",
        "z": "f97654df38260c7e",
        "g": "6bbb30209b93384c",
        "name": "Type username",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\",\"text\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#email",
        "textType": "str",
        "text": "",
        "textRType": "msg",
        "textR": "username",
        "x": 840,
        "y": 1280,
        "wires": [
            [
                "5c9297454eca5e7f"
            ]
        ]
    },
    {
        "id": "e59030cf60b5ca2d",
        "type": "KeyboardDown",
        "z": "f97654df38260c7e",
        "name": "Press Enter",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"key\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "keyType": "str",
        "key": "",
        "keyRType": "str",
        "keyR": "Enter",
        "x": 1110,
        "y": 1300,
        "wires": [
            [
                "da593ffba813028b"
            ]
        ]
    },
    {
        "id": "828d2a8d055d1c3a",
        "type": "Click",
        "z": "f97654df38260c7e",
        "name": "Click \\n Save",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#product_footer_save",
        "x": 1990,
        "y": 1480,
        "wires": [
            [
                "ecf58feaacef8d4b"
            ]
        ]
    },
    {
        "id": "d3f3578c2e5f7e50",
        "type": "Click",
        "z": "f97654df38260c7e",
        "name": "Click \\n Available for order",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#product_options_visibility_available_for_order_1",
        "x": 1830,
        "y": 1480,
        "wires": [
            [
                "828d2a8d055d1c3a"
            ]
        ]
    },
    {
        "id": "f8bfb7063ba61bea",
        "type": "Click",
        "z": "f97654df38260c7e",
        "name": "Click \\n Options tab",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#product_options-tab-nav > a",
        "x": 1650,
        "y": 1480,
        "wires": [
            [
                "d3f3578c2e5f7e50"
            ]
        ]
    },
    {
        "id": "a1f3296460ef6b69",
        "type": "Click",
        "z": "f97654df38260c7e",
        "name": "Click \\n Product name column",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "td.column-name > a",
        "x": 1460,
        "y": 1480,
        "wires": [
            [
                "f8bfb7063ba61bea"
            ]
        ]
    },
    {
        "id": "e233fbaf50093702",
        "type": "Click",
        "z": "f97654df38260c7e",
        "name": "Click \\n Filter Button",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#product_filter_form button",
        "x": 1270,
        "y": 1480,
        "wires": [
            [
                "a1f3296460ef6b69"
            ]
        ]
    },
    {
        "id": "1ba5bb2679d42e22",
        "type": "Fill",
        "z": "f97654df38260c7e",
        "name": "Fill \\n Product Name",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\",\"text\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#product_name",
        "textType": "str",
        "text": "",
        "textRType": "str",
        "textR": "msg.product",
        "x": 1100,
        "y": 1480,
        "wires": [
            [
                "e233fbaf50093702"
            ]
        ]
    },
    {
        "id": "376495424ac4afa7",
        "type": "Click",
        "z": "f97654df38260c7e",
        "name": "Click \\n Products",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#subtab-AdminProducts > a",
        "x": 940,
        "y": 1480,
        "wires": [
            [
                "1ba5bb2679d42e22"
            ]
        ]
    },
    {
        "id": "a5292f6113565523",
        "type": "Click",
        "z": "f97654df38260c7e",
        "name": "Click \\n Catalog",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#subtab-AdminCatalog span",
        "x": 800,
        "y": 1480,
        "wires": [
            [
                "376495424ac4afa7"
            ]
        ]
    },
    {
        "id": "47718e9aec48e181",
        "type": "Click",
        "z": "f97654df38260c7e",
        "name": "Click \\n Product name column",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "td.column-name > a",
        "x": 1460,
        "y": 1560,
        "wires": [
            [
                "a5202dd70994552b"
            ]
        ]
    },
    {
        "id": "43514fb23bcb5d3e",
        "type": "Fill",
        "z": "f97654df38260c7e",
        "name": "Fill \\n Product Name",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\",\"text\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#product_name",
        "textType": "str",
        "text": "",
        "textRType": "msg",
        "textR": "product",
        "x": 1100,
        "y": 1560,
        "wires": [
            [
                "847378e2389fc03e"
            ]
        ]
    },
    {
        "id": "7346be9d7e875530",
        "type": "Click",
        "z": "f97654df38260c7e",
        "name": "Click \\n Catalog",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#subtab-AdminCatalog span",
        "x": 800,
        "y": 1560,
        "wires": [
            [
                "af86f65e9637f493"
            ]
        ]
    },
    {
        "id": "af86f65e9637f493",
        "type": "Click",
        "z": "f97654df38260c7e",
        "name": "Click \\n Products",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#subtab-AdminProducts > a",
        "x": 940,
        "y": 1560,
        "wires": [
            [
                "43514fb23bcb5d3e"
            ]
        ]
    },
    {
        "id": "847378e2389fc03e",
        "type": "Click",
        "z": "f97654df38260c7e",
        "name": "Click \\n Filter Button",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#product_filter_form button",
        "x": 1270,
        "y": 1560,
        "wires": [
            [
                "47718e9aec48e181"
            ]
        ]
    },
    {
        "id": "a5202dd70994552b",
        "type": "Click",
        "z": "f97654df38260c7e",
        "name": "Click \\n Options tab",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#product_options-tab-nav > a",
        "x": 1650,
        "y": 1560,
        "wires": [
            [
                "7af3cc64179f2a75"
            ]
        ]
    },
    {
        "id": "7af3cc64179f2a75",
        "type": "Click",
        "z": "f97654df38260c7e",
        "name": "Click \\n Available for order",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#product_options_visibility_available_for_order_0",
        "x": 1830,
        "y": 1560,
        "wires": [
            [
                "f2ce836c1f05d9f3"
            ]
        ]
    },
    {
        "id": "f2ce836c1f05d9f3",
        "type": "Click",
        "z": "f97654df38260c7e",
        "name": "Click \\n Save",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#product_footer_save",
        "x": 1990,
        "y": 1560,
        "wires": [
            [
                "75b6ab9abd46ed08"
            ]
        ]
    },
    {
        "id": "25b275eb9002e62f",
        "type": "EndOfAction",
        "z": "f97654df38260c7e",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"page\"]",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "x": 915,
        "y": 340,
        "wires": [
            []
        ],
        "icon": "font-awesome/fa-fast-forward",
        "l": false
    },
    {
        "id": "f7ca747d34a092d7",
        "type": "EndOfAction",
        "z": "f97654df38260c7e",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"page\"]",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "x": 1435,
        "y": 480,
        "wires": [
            []
        ],
        "icon": "font-awesome/fa-fast-forward",
        "l": false
    },
    {
        "id": "dd3d30e6c08b5a6d",
        "type": "EndOfAction",
        "z": "f97654df38260c7e",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"page\"]",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "x": 2245,
        "y": 820,
        "wires": [
            []
        ],
        "icon": "font-awesome/fa-fast-forward",
        "l": false
    },
    {
        "id": "da593ffba813028b",
        "type": "EndOfAction",
        "z": "f97654df38260c7e",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"page\"]",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "x": 1225,
        "y": 1300,
        "wires": [
            []
        ],
        "icon": "font-awesome/fa-fast-forward",
        "l": false
    },
    {
        "id": "ecf58feaacef8d4b",
        "type": "EndOfAction",
        "z": "f97654df38260c7e",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"page\"]",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "x": 2085,
        "y": 1480,
        "wires": [
            []
        ],
        "icon": "font-awesome/fa-fast-forward",
        "l": false
    },
    {
        "id": "75b6ab9abd46ed08",
        "type": "EndOfAction",
        "z": "f97654df38260c7e",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"page\"]",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "x": 2085,
        "y": 1560,
        "wires": [
            []
        ],
        "icon": "font-awesome/fa-fast-forward",
        "l": false
    },
    {
        "id": "8903c0fb27598b82",
        "type": "EndOfAction",
        "z": "f97654df38260c7e",
        "g": "8ece4d38d2cc8bad",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"page\"]",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "tmp",
        "x": 695,
        "y": 1720,
        "wires": [
            []
        ],
        "icon": "font-awesome/fa-fast-forward",
        "l": false
    },
    {
        "id": "29dce95aeb658867",
        "type": "KeyboardDown",
        "z": "f97654df38260c7e",
        "name": "Press Enter",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"key\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "keyType": "str",
        "key": "",
        "keyRType": "str",
        "keyR": "Enter",
        "x": 1330,
        "y": 480,
        "wires": [
            [
                "f7ca747d34a092d7"
            ]
        ]
    },
    {
        "id": "e1ec884910b5e7c9",
        "type": "EventSet",
        "z": "f97654df38260c7e",
        "g": "8ece4d38d2cc8bad",
        "name": "prestashop event \\n in the same page",
        "eventType": "block",
        "internalFields": "[\"filter\"]",
        "filterType": "jsonata",
        "filter": "lib='prestashop' and msg.page=page",
        "filterRType": "jsonata",
        "filterR": "tmp",
        "x": 770,
        "y": 1780,
        "wires": [
            []
        ]
    },
    {
        "id": "d396e21ca4d790c6",
        "type": "context-init",
        "z": "f97654df38260c7e",
        "name": "",
        "format": "javascript",
        "template": "/* global bp, java */\n\nfunction runCommand(cmd) { \n  try { \n    var process = java.lang.Runtime.getRuntime().exec(cmd); \n    process.waitFor(); \n    var reader = new java.io.BufferedReader(new java.io.InputStreamReader(process.getInputStream())); \n    var line = ''; \n    while ((line = reader.readLine()) != null) { \n      bp.log.info(line); \n    } \n  } catch (e) { \n    bp.log.info('Error: ' + e.message); \n  } \n}\n\nrunCommand(\"C:\\\\Users\\\\gera\\\\PrestaShopTesting\\\\Context\\\\config\\\\init.bat\")",
        "x": 140,
        "y": 40,
        "wires": [],
        "icon": "node-red/arrow-in.svg",
        "info": "Initialization code"
    },
    {
        "id": "c9f1fbf8c7cf83fd",
        "type": "MarkOutOfStock",
        "z": "f97654df38260c7e",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"lib\",\"page\",\"product\"]",
        "libType": "str",
        "lib": "prestashop",
        "libRType": "str",
        "libR": "tmp",
        "pageType": "msg",
        "page": "",
        "pageRType": "msg",
        "pageR": "tmp",
        "productType": "str",
        "product": "",
        "productRType": "str",
        "productR": "tmp",
        "x": 310,
        "y": 1560,
        "wires": [
            [
                "00b4b24022ba941f"
            ]
        ]
    },
    {
        "id": "696b0f8705e2c5c1",
        "type": "MarkInStock",
        "z": "f97654df38260c7e",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"lib\",\"page\",\"product\"]",
        "libType": "str",
        "lib": "prestashop",
        "libRType": "str",
        "libR": "tmp",
        "pageType": "msg",
        "page": "",
        "pageRType": "msg",
        "pageR": "tmp",
        "productType": "str",
        "product": "",
        "productRType": "str",
        "productR": "tmp",
        "x": 300,
        "y": 1480,
        "wires": [
            [
                "7cf40969199b603f"
            ]
        ]
    },
    {
        "id": "5d7284ec94a4b6bd",
        "type": "change",
        "z": "f97654df38260c7e",
        "name": "Take data from the event",
        "rules": [
            {
                "t": "set",
                "p": "page",
                "pt": "msg",
                "to": "lastEvent.page",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "category",
                "pt": "msg",
                "to": "lastEvent.category",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "product",
                "pt": "msg",
                "to": "lastEvent.product",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "quantity",
                "pt": "msg",
                "to": "lastEvent.quantity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 1160,
        "wires": [
            [
                "d98e9fa7480660ab",
                "64af955debb4ce54"
            ]
        ]
    },
    {
        "id": "803e5e846858172e",
        "type": "start",
        "z": "f97654df38260c7e",
        "name": "",
        "payload": "{}",
        "x": 130,
        "y": 1160,
        "wires": [
            [
                "64af955debb4ce54"
            ]
        ]
    },
    {
        "id": "d98e9fa7480660ab",
        "type": "Click",
        "z": "f97654df38260c7e",
        "name": "Click \\n the category",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "jsonata",
        "locatorR": "$join([\"text=\", category])",
        "x": 810,
        "y": 1160,
        "wires": [
            [
                "a4ec9b6989354139"
            ]
        ]
    },
    {
        "id": "6b210331bd1b554f",
        "type": "EndOfAction",
        "z": "f97654df38260c7e",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"page\"]",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "x": 1345,
        "y": 1160,
        "wires": [
            []
        ],
        "icon": "font-awesome/fa-fast-forward",
        "l": false
    },
    {
        "id": "64af955debb4ce54",
        "type": "VarifyNotInStock",
        "z": "f97654df38260c7e",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"lib\",\"page\",\"category\",\"product\"]",
        "libType": "str",
        "lib": "prestashop",
        "libRType": "str",
        "libR": "tmp",
        "pageType": "msg",
        "page": "",
        "pageRType": "msg",
        "pageR": "tmp",
        "categoryType": "str",
        "category": "",
        "categoryRType": "str",
        "categoryR": "tmp",
        "productType": "str",
        "product": "",
        "productRType": "str",
        "productR": "tmp",
        "x": 330,
        "y": 1160,
        "wires": [
            [
                "5d7284ec94a4b6bd"
            ]
        ]
    },
    {
        "id": "1d74b8c93ca57b87",
        "type": "AssertIsDisabled",
        "z": "f97654df38260c7e",
        "name": "Check that \\n Add to cart is diabled",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "str",
        "lib": "playwright",
        "libRType": "str",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "text=Add to cart",
        "x": 1200,
        "y": 1160,
        "wires": [
            [
                "6b210331bd1b554f"
            ]
        ]
    },
    {
        "id": "a4ec9b6989354139",
        "type": "Click",
        "z": "f97654df38260c7e",
        "name": "Click \\n the product",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "jsonata",
        "locatorR": "\"xpath=//a[contains(.,'\" & product & \"')]\"",
        "x": 990,
        "y": 1160,
        "wires": [
            [
                "1d74b8c93ca57b87"
            ]
        ]
    },
    {
        "id": "b05d995a80c4a211",
        "type": "SelectOption",
        "z": "f97654df38260c7e",
        "g": "43e8d00a76255804",
        "name": "Set \\n Option",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\",\"value\"]",
        "libType": "str",
        "lib": "playwright",
        "libRType": "str",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "jsonata",
        "locatorR": "\"//span[contains(text(),'\"& opt.name &\"')]/following-sibling::select\"",
        "valueType": "str",
        "value": "",
        "valueRType": "jsonata",
        "valueR": "opt[0].value",
        "x": 1354,
        "y": 700,
        "wires": [
            [
                "67cbd1c51a7406e9"
            ]
        ]
    },
    {
        "id": "8138e5912f4056d8",
        "type": "Login",
        "z": "f97654df38260c7e",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"username\",\"password\"]",
        "libType": "str",
        "lib": "prestashop",
        "libRType": "str",
        "libR": "prestashop",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "usernameType": "str",
        "username": "",
        "usernameRType": "str",
        "usernameR": "alice.wang@prestahsop.com",
        "passwordType": "str",
        "password": "",
        "passwordRType": "str",
        "passwordR": "alice.wang@prestahsop.com",
        "x": 470,
        "y": 220,
        "wires": [
            [
                "86a8478a8b98f73b"
            ]
        ]
    },
    {
        "id": "ddb84f83b7f06b8f",
        "type": "browser",
        "z": "f97654df38260c7e",
        "name": "Open a \\n user page",
        "page": "User1Page",
        "url": "http://localhost:8080/",
        "x": 300,
        "y": 220,
        "wires": [
            [
                "8138e5912f4056d8"
            ]
        ]
    },
    {
        "id": "0df9e06d2c47533d",
        "type": "start",
        "z": "f97654df38260c7e",
        "name": "",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "ddb84f83b7f06b8f"
            ]
        ]
    },
    {
        "id": "86a8478a8b98f73b",
        "type": "AddToCart",
        "z": "f97654df38260c7e",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"category\",\"product\",\"quantity\",\"opt\"]",
        "libType": "str",
        "lib": "prestashop",
        "libRType": "str",
        "libR": "prestashop",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "categoryType": "str",
        "category": "",
        "categoryRType": "str",
        "categoryR": "Art",
        "productType": "str",
        "product": "",
        "productRType": "str",
        "productR": "Hummingbird printed sweater",
        "quantityType": "num",
        "quantity": "",
        "quantityRType": "num",
        "quantityR": "2",
        "optType": "num",
        "opt": "",
        "optRType": "jsonata",
        "optR": "[{\"name\": \"Size\", \"value\": \"L\"}, {\"name\": \"Size\", \"value\": \"M\"}]",
        "likeType": "str",
        "like": "",
        "likeRType": "str",
        "likeR": "Yes",
        "x": 650,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "67cbd1c51a7406e9",
        "type": "loop",
        "z": "f97654df38260c7e",
        "g": "43e8d00a76255804",
        "name": "",
        "list": "msg.option",
        "listType": "jsonata",
        "from": "0",
        "fromType": "str",
        "skip": "1",
        "skipType": "str",
        "to": "$count(options)",
        "toType": "jsonata",
        "x": 1114,
        "y": 700,
        "wires": [
            [
                "50234e3d2a60d3a8"
            ],
            []
        ]
    },
    {
        "id": "50234e3d2a60d3a8",
        "type": "change",
        "z": "f97654df38260c7e",
        "g": "43e8d00a76255804",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "opt",
                "pt": "msg",
                "to": "$eval(\"options[\"& count & \"]\")[0]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1219,
        "y": 700,
        "wires": [
            [
                "b05d995a80c4a211"
            ]
        ],
        "l": false
    },
    {
        "id": "48e063e9ff448605",
        "type": "Type",
        "z": "f97654df38260c7e",
        "g": "6bbb30209b93384c",
        "name": "Type password",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\",\"text\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#passwd",
        "textType": "str",
        "text": "",
        "textRType": "msg",
        "textR": "password",
        "x": 840,
        "y": 1320,
        "wires": [
            [
                "5c9297454eca5e7f"
            ]
        ]
    },
    {
        "id": "964bc1bb5859910b",
        "type": "EndOfAction",
        "z": "f97654df38260c7e",
        "g": "6bbb30209b93384c",
        "name": "",
        "eventType": "block",
        "internalFields": "[\"page\"]",
        "pageType": "jsonata",
        "page": "page & \"_fill_admin_login_form\"",
        "pageRType": "jsonata",
        "pageR": "tmp",
        "x": 775,
        "y": 1360,
        "wires": [
            []
        ],
        "icon": "font-awesome/fa-pause",
        "l": false
    },
    {
        "id": "5c9297454eca5e7f",
        "type": "EndOfAction",
        "z": "f97654df38260c7e",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"page\"]",
        "pageType": "jsonata",
        "page": "page & \"_fill_admin_login_form\"",
        "pageRType": "jsonata",
        "pageR": "page & \"_fill_admin_login_form\"",
        "x": 985,
        "y": 1300,
        "wires": [
            [
                "e59030cf60b5ca2d"
            ]
        ],
        "icon": "font-awesome/fa-pause",
        "l": false
    },
    {
        "id": "acb0bf19fbd07d4b",
        "type": "EndOfAction",
        "z": "f97654df38260c7e",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"page\"]",
        "pageType": "jsonata",
        "page": "page & \"_fill_add_to_cart_form\"",
        "pageRType": "jsonata",
        "pageR": "page & \"_fill_add_to_cart_form\"",
        "x": 1655,
        "y": 820,
        "wires": [
            [
                "e671430b10421a93"
            ]
        ],
        "icon": "font-awesome/fa-pause",
        "l": false
    },
    {
        "id": "f56a3f26c02fab86",
        "type": "Fill",
        "z": "f97654df38260c7e",
        "g": "43e8d00a76255804",
        "name": "Fill \\n Quantity",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\",\"text\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#quantity_wanted",
        "textType": "str",
        "text": "",
        "textRType": "msg",
        "textR": "quantity",
        "x": 1104,
        "y": 820,
        "wires": [
            [
                "acb0bf19fbd07d4b"
            ]
        ]
    },
    {
        "id": "c8a23305cacdc7f3",
        "type": "EndOfAction",
        "z": "f97654df38260c7e",
        "g": "43e8d00a76255804",
        "name": "",
        "eventType": "block",
        "internalFields": "[\"page\"]",
        "pageType": "jsonata",
        "page": "page & \"_fill_add_to_cart_form\"",
        "pageRType": "jsonata",
        "pageR": "tmp",
        "x": 1065,
        "y": 1000,
        "wires": [
            []
        ],
        "icon": "font-awesome/fa-pause",
        "l": false
    },
    {
        "id": "66ec9939bc2f3d0b",
        "type": "Type",
        "z": "f97654df38260c7e",
        "g": "e4643be46338b22c",
        "name": "Type username",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\",\"text\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "#field-email",
        "textType": "str",
        "text": "",
        "textRType": "msg",
        "textR": "username",
        "x": 1020,
        "y": 460,
        "wires": [
            [
                "c6798590ab6e2c39"
            ]
        ]
    },
    {
        "id": "c6798590ab6e2c39",
        "type": "EndOfAction",
        "z": "f97654df38260c7e",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"page\"]",
        "pageType": "jsonata",
        "page": "page & \"_fill_login_form\"",
        "pageRType": "jsonata",
        "pageR": "page & \"_fill_login_form\"",
        "x": 1175,
        "y": 480,
        "wires": [
            [
                "29dce95aeb658867"
            ]
        ],
        "icon": "font-awesome/fa-pause",
        "l": false
    },
    {
        "id": "46557450d249a81c",
        "type": "EndOfAction",
        "z": "f97654df38260c7e",
        "g": "e4643be46338b22c",
        "name": "",
        "eventType": "block",
        "internalFields": "[\"page\"]",
        "pageType": "jsonata",
        "page": "page & \"_fill_login_form\"",
        "pageRType": "jsonata",
        "pageR": "tmp",
        "x": 955,
        "y": 560,
        "wires": [
            []
        ],
        "icon": "font-awesome/fa-pause",
        "l": false
    },
    {
        "id": "499d540c2227d8ed",
        "type": "Click",
        "z": "f97654df38260c7e",
        "name": "Click \\n the product",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "jsonata",
        "locatorR": "\"xpath=//a[contains(.,'\" & product & \"')]\"",
        "x": 890,
        "y": 820,
        "wires": [
            [
                "f56a3f26c02fab86",
                "67cbd1c51a7406e9",
                "ee3933702da292c5"
            ]
        ]
    },
    {
        "id": "533f3282e40a179f",
        "type": "Click",
        "z": "f97654df38260c7e",
        "name": "Click \\n the category",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "jsonata",
        "locatorR": "$join([\"text=\", category])",
        "x": 730,
        "y": 820,
        "wires": [
            [
                "499d540c2227d8ed"
            ]
        ]
    },
    {
        "id": "ee3933702da292c5",
        "type": "if-then-else",
        "z": "f97654df38260c7e",
        "g": "43e8d00a76255804",
        "condition": "msg.like == 'Yes'",
        "x": 1150,
        "y": 920,
        "wires": [
            [
                "e36e095ba7521daf"
            ],
            []
        ]
    },
    {
        "id": "e36e095ba7521daf",
        "type": "Click",
        "z": "f97654df38260c7e",
        "g": "43e8d00a76255804",
        "name": "Click the \\n Like heart",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "//button[@class='wishlist-button-add wishlist-button-product']//i[1]",
        "x": 1340,
        "y": 900,
        "wires": [
            [
                "958c0ac6ebe7e68b"
            ]
        ]
    },
    {
        "id": "958c0ac6ebe7e68b",
        "type": "Click",
        "z": "f97654df38260c7e",
        "g": "43e8d00a76255804",
        "name": "Click the \\n \"My Wishlist\"",
        "eventType": "request",
        "internalFields": "[\"lib\",\"page\",\"locator\"]",
        "libType": "select",
        "lib": "playwright",
        "libRType": "select",
        "libR": "playwright",
        "pageType": "msg",
        "page": "page",
        "pageRType": "msg",
        "pageR": "page",
        "locatorType": "str",
        "locator": "",
        "locatorRType": "str",
        "locatorR": "//li[@class='wishlist-list-item']//p[1]",
        "x": 1510,
        "y": 900,
        "wires": [
            []
        ]
    }
]