packages/node_modules/@bp/nodes/examples/04 - TTT.json
[
    {
        "id": "f7bac502a2aaba78",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "45d5abce05c95433",
        "type": "group",
        "z": "f7bac502a2aaba78",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "fb7450028cc4baf5",
            "94786f6177f98b7b"
        ],
        "x": 254,
        "y": 359,
        "w": 152,
        "h": 142
    },
    {
        "id": "7f016759f6827f9b",
        "type": "group",
        "z": "f7bac502a2aaba78",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "9b61e2269f192487",
            "ebf46afa87e1ad0f"
        ],
        "x": 454,
        "y": 359,
        "w": 152,
        "h": 142
    },
    {
        "id": "8fb1a78dbe616eb6",
        "type": "group",
        "z": "f7bac502a2aaba78",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "fb9fa88c49cb716c",
            "0e4d7668766e46f9"
        ],
        "x": 934,
        "y": 659,
        "w": 152,
        "h": 122
    },
    {
        "id": "18954a9320c95d99",
        "type": "group",
        "z": "f7bac502a2aaba78",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "f1afc3950314acb5",
            "e37be2f73b79546f"
        ],
        "x": 954,
        "y": 839,
        "w": 152,
        "h": 122
    },
    {
        "id": "bc5fea0686a45de3",
        "type": "group",
        "z": "f7bac502a2aaba78",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "4ed4b586dcab184d",
            "3ab8524129cda368",
            "6a2a9001f42c299c"
        ],
        "x": 394,
        "y": 899,
        "w": 152,
        "h": 162
    },
    {
        "id": "e038bedc14cd3d89",
        "type": "group",
        "z": "f7bac502a2aaba78",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "96fdc5e103076575",
            "97d97ca81e9fa2e8",
            "eaeb06ace5bcf0dd"
        ],
        "x": 374,
        "y": 1199,
        "w": 152,
        "h": 162
    },
    {
        "id": "7bee7e37d03ba7fd",
        "type": "group",
        "z": "f7bac502a2aaba78",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "85c6b8b28e376580",
            "c48f679c3767d826",
            "afb5880bf92f9c53"
        ],
        "x": 434,
        "y": 1719,
        "w": 152,
        "h": 162
    },
    {
        "id": "c49b4ebb67875972",
        "type": "group",
        "z": "f7bac502a2aaba78",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "bdf1bf73609dd054",
            "4bbac98299ce734a",
            "487299bfefcfa938"
        ],
        "x": 594,
        "y": 1379,
        "w": 152,
        "h": 182
    },
    {
        "id": "bd2832cc86dc894a",
        "type": "group",
        "z": "f7bac502a2aaba78",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "8881d3a0e93054fe",
            "907d75f5bb85039e"
        ],
        "x": 394,
        "y": 499,
        "w": 152,
        "h": 142
    },
    {
        "id": "136a459164d5b74b",
        "type": "group",
        "z": "f7bac502a2aaba78",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "9ca6a52ef956de4a",
            "52f8d7d9c53fba8e"
        ],
        "x": 394,
        "y": 679,
        "w": 152,
        "h": 142
    },
    {
        "id": "ce094046f6491e46",
        "type": "start",
        "z": "f7bac502a2aaba78",
        "name": "",
        "payload": "{}",
        "x": 170,
        "y": 400,
        "wires": [
            [
                "94786f6177f98b7b"
            ]
        ]
    },
    {
        "id": "fb7450028cc4baf5",
        "type": "X",
        "z": "f7bac502a2aaba78",
        "g": "45d5abce05c95433",
        "name": "",
        "eventType": "block",
        "internalFields": "[\"i\",\"j\"]",
        "iType": "num",
        "i": "",
        "iRType": "num",
        "iR": "0",
        "jType": "num",
        "j": "",
        "jRType": "num",
        "jR": "0",
        "x": 330,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "9b61e2269f192487",
        "type": "X",
        "z": "f7bac502a2aaba78",
        "g": "7f016759f6827f9b",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"i\",\"j\"]",
        "iType": "num",
        "i": "",
        "iRType": "num",
        "iR": "0",
        "jType": "num",
        "j": "",
        "jRType": "num",
        "jR": "0",
        "x": 530,
        "y": 400,
        "wires": [
            [
                "94786f6177f98b7b"
            ]
        ]
    },
    {
        "id": "ebf46afa87e1ad0f",
        "type": "O",
        "z": "f7bac502a2aaba78",
        "g": "7f016759f6827f9b",
        "name": "",
        "eventType": "block",
        "internalFields": "[\"i\",\"j\"]",
        "iType": "num",
        "i": "",
        "iRType": "num",
        "iR": "0",
        "jType": "num",
        "j": "",
        "jRType": "num",
        "jR": "0",
        "x": 530,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "b689c9e26dddc2dc",
        "type": "start",
        "z": "f7bac502a2aaba78",
        "name": "",
        "payload": "[{\"i\":0,\"j\":0},{\"i\":0,\"j\":1},{\"i\":0,\"j\":2},{\"i\":1,\"j\":0},{\"i\":1,\"j\":1},{\"i\":1,\"j\":2},{\"i\":2,\"j\":0},{\"i\":2,\"j\":1},{\"i\":2,\"j\":2}]",
        "x": 150,
        "y": 620,
        "wires": [
            [
                "3303ae55ec6cf2e6",
                "6f8772016d0ac992"
            ]
        ]
    },
    {
        "id": "3303ae55ec6cf2e6",
        "type": "O",
        "z": "f7bac502a2aaba78",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"i\",\"j\"]",
        "iType": "num",
        "i": "",
        "iRType": "msg",
        "iR": "i",
        "jType": "num",
        "j": "",
        "jRType": "msg",
        "jR": "j",
        "x": 310,
        "y": 540,
        "wires": [
            [
                "8881d3a0e93054fe"
            ]
        ]
    },
    {
        "id": "6f8772016d0ac992",
        "type": "X",
        "z": "f7bac502a2aaba78",
        "name": "",
        "eventType": "request",
        "internalFields": "[\"i\",\"j\"]",
        "iType": "num",
        "i": "",
        "iRType": "msg",
        "iR": "i",
        "jType": "num",
        "j": "",
        "jRType": "msg",
        "jR": "j",
        "x": 310,
        "y": 720,
        "wires": [
            [
                "9ca6a52ef956de4a"
            ]
        ]
    },
    {
        "id": "94786f6177f98b7b",
        "type": "O",
        "z": "f7bac502a2aaba78",
        "g": "45d5abce05c95433",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"i\",\"j\"]",
        "iType": "num",
        "i": "",
        "iRType": "num",
        "iR": "0",
        "jType": "num",
        "j": "",
        "jRType": "num",
        "jR": "0",
        "x": 330,
        "y": 400,
        "wires": [
            [
                "9b61e2269f192487"
            ]
        ]
    },
    {
        "id": "621e6d91c781a045",
        "type": "start",
        "z": "f7bac502a2aaba78",
        "name": "",
        "x": 670,
        "y": 700,
        "wires": [
            [
                "c118b2714ca3132e"
            ]
        ]
    },
    {
        "id": "c118b2714ca3132e",
        "type": "loop",
        "z": "f7bac502a2aaba78",
        "name": "",
        "list": "",
        "from": "0",
        "skip": "1",
        "to": "9",
        "x": 810,
        "y": 700,
        "wires": [
            [
                "fb9fa88c49cb716c"
            ],
            [
                "e37be2f73b79546f",
                "b7fe86f51a1e97e0"
            ]
        ]
    },
    {
        "id": "fb9fa88c49cb716c",
        "type": "O",
        "z": "f7bac502a2aaba78",
        "g": "8fb1a78dbe616eb6",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"i\",\"j\"]",
        "iType": "msg",
        "i": "",
        "iRType": "msg",
        "iR": "tmp",
        "jType": "msg",
        "j": "",
        "jRType": "msg",
        "jR": "tmp",
        "x": 1010,
        "y": 700,
        "wires": [
            [
                "c118b2714ca3132e"
            ]
        ]
    },
    {
        "id": "0e4d7668766e46f9",
        "type": "X",
        "z": "f7bac502a2aaba78",
        "g": "8fb1a78dbe616eb6",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"i\",\"j\"]",
        "iType": "msg",
        "i": "",
        "iRType": "msg",
        "iR": "tmp",
        "jType": "msg",
        "j": "",
        "jRType": "msg",
        "jR": "tmp",
        "x": 1010,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "f1afc3950314acb5",
        "type": "O",
        "z": "f7bac502a2aaba78",
        "g": "18954a9320c95d99",
        "name": "",
        "eventType": "block",
        "internalFields": "[\"i\",\"j\"]",
        "iType": "num",
        "i": "",
        "iRType": "num",
        "iR": "0",
        "jType": "num",
        "j": "",
        "jRType": "num",
        "jR": "0",
        "x": 1030,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "e37be2f73b79546f",
        "type": "X",
        "z": "f7bac502a2aaba78",
        "g": "18954a9320c95d99",
        "name": "",
        "eventType": "block",
        "internalFields": "[\"i\",\"j\"]",
        "iType": "num",
        "i": "",
        "iRType": "num",
        "iR": "0",
        "jType": "num",
        "j": "",
        "jRType": "num",
        "jR": "0",
        "x": 1030,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "b7fe86f51a1e97e0",
        "type": "Draw",
        "z": "f7bac502a2aaba78",
        "name": "",
        "eventType": "request",
        "internalFields": "[]",
        "x": 990,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "b0396e4913d01cbb",
        "type": "start",
        "z": "f7bac502a2aaba78",
        "name": "",
        "payload": "[{\"c1\":{\"i\":0,\"j\":0},\"c2\":{\"i\":0,\"j\":1},\"c3\":{\"i\":0,\"j\":2}},{\"c1\":{\"i\":1,\"j\":0},\"c2\":{\"i\":1,\"j\":1},\"c3\":{\"i\":1,\"j\":2}},{\"c1\":{\"i\":2,\"j\":0},\"c2\":{\"i\":2,\"j\":1},\"c3\":{\"i\":2,\"j\":2}},{\"c1\":{\"i\":0,\"j\":0},\"c2\":{\"i\":1,\"j\":0},\"c3\":{\"i\":2,\"j\":0}},{\"c1\":{\"i\":0,\"j\":1},\"c2\":{\"i\":1,\"j\":1},\"c3\":{\"i\":2,\"j\":1}},{\"c1\":{\"i\":0,\"j\":2},\"c2\":{\"i\":1,\"j\":2},\"c3\":{\"i\":2,\"j\":2}},{\"c1\":{\"i\":0,\"j\":0},\"c2\":{\"i\":1,\"j\":1},\"c3\":{\"i\":2,\"j\":2}},{\"c1\":{\"i\":0,\"j\":2},\"c2\":{\"i\":1,\"j\":1},\"c3\":{\"i\":2,\"j\":0}}]",
        "x": 110,
        "y": 1420,
        "wires": [
            [
                "08ba9cc666521e2b",
                "10f447681fb057b0"
            ]
        ]
    },
    {
        "id": "4ed4b586dcab184d",
        "type": "X",
        "z": "f7bac502a2aaba78",
        "g": "bc5fea0686a45de3",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"i\",\"j\"]",
        "iType": "msg",
        "i": "c1.i",
        "iRType": "msg",
        "iR": "tmp",
        "jType": "msg",
        "j": "c1.j",
        "jRType": "msg",
        "jR": "tmp",
        "x": 470,
        "y": 940,
        "wires": [
            [
                "b38d5da95448d658"
            ]
        ]
    },
    {
        "id": "3ab8524129cda368",
        "type": "X",
        "z": "f7bac502a2aaba78",
        "g": "bc5fea0686a45de3",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"i\",\"j\"]",
        "iType": "msg",
        "i": "c2.i",
        "iRType": "msg",
        "iR": "tmp",
        "jType": "msg",
        "j": "c2.j",
        "jRType": "msg",
        "jR": "tmp",
        "x": 470,
        "y": 980,
        "wires": [
            [
                "b38d5da95448d658"
            ]
        ]
    },
    {
        "id": "6a2a9001f42c299c",
        "type": "X",
        "z": "f7bac502a2aaba78",
        "g": "bc5fea0686a45de3",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"i\",\"j\"]",
        "iType": "msg",
        "i": "c3.i",
        "iRType": "msg",
        "iR": "tmp",
        "jType": "msg",
        "j": "c3.j",
        "jRType": "msg",
        "jR": "tmp",
        "x": 470,
        "y": 1020,
        "wires": [
            [
                "b38d5da95448d658"
            ]
        ]
    },
    {
        "id": "08ba9cc666521e2b",
        "type": "loop",
        "z": "f7bac502a2aaba78",
        "name": "",
        "list": "",
        "from": "0",
        "skip": "1",
        "to": "3",
        "x": 190,
        "y": 1100,
        "wires": [
            [
                "4ed4b586dcab184d"
            ],
            [
                "97d97ca81e9fa2e8",
                "ea36c7307a6e9136"
            ]
        ]
    },
    {
        "id": "96fdc5e103076575",
        "type": "O",
        "z": "f7bac502a2aaba78",
        "g": "e038bedc14cd3d89",
        "name": "",
        "eventType": "block",
        "internalFields": "[\"i\",\"j\"]",
        "iType": "num",
        "i": "",
        "iRType": "num",
        "iR": "0",
        "jType": "num",
        "j": "",
        "jRType": "num",
        "jR": "0",
        "x": 450,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "97d97ca81e9fa2e8",
        "type": "X",
        "z": "f7bac502a2aaba78",
        "g": "e038bedc14cd3d89",
        "name": "",
        "eventType": "block",
        "internalFields": "[\"i\",\"j\"]",
        "iType": "num",
        "i": "",
        "iRType": "num",
        "iR": "0",
        "jType": "num",
        "j": "",
        "jRType": "num",
        "jR": "0",
        "x": 450,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "ea36c7307a6e9136",
        "type": "XWin",
        "z": "f7bac502a2aaba78",
        "name": "",
        "eventType": "request",
        "internalFields": "[]",
        "x": 390,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "10f447681fb057b0",
        "type": "loop",
        "z": "f7bac502a2aaba78",
        "name": "",
        "list": "",
        "from": "0",
        "skip": "1",
        "to": "3",
        "x": 270,
        "y": 1540,
        "wires": [
            [
                "bdf1bf73609dd054"
            ],
            [
                "c48f679c3767d826",
                "eb2672737c762eab"
            ]
        ]
    },
    {
        "id": "85c6b8b28e376580",
        "type": "O",
        "z": "f7bac502a2aaba78",
        "g": "7bee7e37d03ba7fd",
        "name": "",
        "eventType": "block",
        "internalFields": "[\"i\",\"j\"]",
        "iType": "num",
        "i": "",
        "iRType": "num",
        "iR": "0",
        "jType": "num",
        "j": "",
        "jRType": "num",
        "jR": "0",
        "x": 510,
        "y": 1800,
        "wires": [
            []
        ]
    },
    {
        "id": "c48f679c3767d826",
        "type": "X",
        "z": "f7bac502a2aaba78",
        "g": "7bee7e37d03ba7fd",
        "name": "",
        "eventType": "block",
        "internalFields": "[\"i\",\"j\"]",
        "iType": "num",
        "i": "",
        "iRType": "num",
        "iR": "0",
        "jType": "num",
        "j": "",
        "jRType": "num",
        "jR": "0",
        "x": 510,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "bdf1bf73609dd054",
        "type": "O",
        "z": "f7bac502a2aaba78",
        "g": "c49b4ebb67875972",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"i\",\"j\"]",
        "iType": "msg",
        "i": "c1.i",
        "iRType": "num",
        "iR": "0",
        "jType": "msg",
        "j": "c1.j",
        "jRType": "num",
        "jR": "0",
        "x": 670,
        "y": 1420,
        "wires": [
            [
                "f5f64b94d53e0db3"
            ]
        ]
    },
    {
        "id": "4bbac98299ce734a",
        "type": "O",
        "z": "f7bac502a2aaba78",
        "g": "c49b4ebb67875972",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"i\",\"j\"]",
        "iType": "msg",
        "i": "c2.i",
        "iRType": "num",
        "iR": "0",
        "jType": "msg",
        "j": "c2.j",
        "jRType": "num",
        "jR": "0",
        "x": 670,
        "y": 1480,
        "wires": [
            [
                "f5f64b94d53e0db3"
            ]
        ]
    },
    {
        "id": "487299bfefcfa938",
        "type": "O",
        "z": "f7bac502a2aaba78",
        "g": "c49b4ebb67875972",
        "name": "",
        "eventType": "waitFor",
        "internalFields": "[\"i\",\"j\"]",
        "iType": "msg",
        "i": "c3.i",
        "iRType": "num",
        "iR": "0",
        "jType": "msg",
        "j": "c3.j",
        "jRType": "num",
        "jR": "0",
        "x": 670,
        "y": 1520,
        "wires": [
            [
                "f5f64b94d53e0db3"
            ]
        ]
    },
    {
        "id": "eb2672737c762eab",
        "type": "OWin",
        "z": "f7bac502a2aaba78",
        "name": "",
        "eventType": "request",
        "internalFields": "[]",
        "x": 510,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "afb5880bf92f9c53",
        "type": "Draw",
        "z": "f7bac502a2aaba78",
        "g": "7bee7e37d03ba7fd",
        "name": "",
        "eventType": "block",
        "internalFields": "[]",
        "x": 510,
        "y": 1840,
        "wires": [
            []
        ]
    },
    {
        "id": "eaeb06ace5bcf0dd",
        "type": "Draw",
        "z": "f7bac502a2aaba78",
        "g": "e038bedc14cd3d89",
        "name": "",
        "eventType": "block",
        "internalFields": "[]",
        "x": 450,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "9ca6a52ef956de4a",
        "type": "O",
        "z": "f7bac502a2aaba78",
        "g": "136a459164d5b74b",
        "name": "",
        "eventType": "block",
        "internalFields": "[\"i\",\"j\"]",
        "iType": "msg",
        "i": "i",
        "iRType": "msg",
        "iR": "tmp",
        "jType": "msg",
        "j": "j",
        "jRType": "msg",
        "jR": "tmp",
        "x": 470,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "8881d3a0e93054fe",
        "type": "X",
        "z": "f7bac502a2aaba78",
        "g": "bd2832cc86dc894a",
        "name": "",
        "eventType": "block",
        "internalFields": "[\"i\",\"j\"]",
        "iType": "msg",
        "i": "i",
        "iRType": "msg",
        "iR": "tmp",
        "jType": "msg",
        "j": "j",
        "jRType": "msg",
        "jR": "tmp",
        "x": 470,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "52f8d7d9c53fba8e",
        "type": "X",
        "z": "f7bac502a2aaba78",
        "g": "136a459164d5b74b",
        "name": "",
        "eventType": "block",
        "internalFields": "[\"i\",\"j\"]",
        "iType": "msg",
        "i": "i",
        "iRType": "msg",
        "iR": "tmp",
        "jType": "msg",
        "j": "j",
        "jRType": "msg",
        "jR": "tmp",
        "x": 470,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "907d75f5bb85039e",
        "type": "O",
        "z": "f7bac502a2aaba78",
        "g": "bd2832cc86dc894a",
        "name": "",
        "eventType": "block",
        "internalFields": "[\"i\",\"j\"]",
        "iType": "msg",
        "i": "i",
        "iRType": "msg",
        "iR": "tmp",
        "jType": "msg",
        "j": "j",
        "jRType": "msg",
        "jR": "tmp",
        "x": 470,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "f5f64b94d53e0db3",
        "type": "change",
        "z": "f7bac502a2aaba78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "x",
                "pt": "msg",
                "to": "\"hi\"",
                "tot": "str",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 865,
        "y": 1540,
        "wires": [
            [
                "10f447681fb057b0"
            ]
        ],
        "icon": "node-red/arrow-in.svg",
        "l": false
    },
    {
        "id": "b38d5da95448d658",
        "type": "change",
        "z": "f7bac502a2aaba78",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "x",
                "pt": "msg",
                "to": "\"hi\"",
                "tot": "str",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 615,
        "y": 1100,
        "wires": [
            [
                "08ba9cc666521e2b"
            ]
        ],
        "icon": "node-red/arrow-in.svg",
        "l": false
    }
]